Repository TheRenegadeCoder/sample-programs, pull requests merged in 2018-07, with the labels that each got.

#263 Fizz Buzz in Python
  archive/p/python/README.md
  archive/p/python/fizz-buzz.py
Labels: enhancement, fizz buzz

#267 Hello World in Clipper
  archive/c/clipper/README.md
  archive/c/clipper/hello-world.clipper
Labels: enhancement, hello world

#279 Hello World in Opa
  archive/o/opa/Dockerfile
  archive/o/opa/README.md
  archive/o/opa/hello-world.opa
Labels: enhancement, hello world

#255 fixed csharp examples
  archive/c/c-sharp/hello-world.cs
  archive/c/c-sharp/reverse-string.cs
Labels: bug, enhancement

#287 Reverse a String in C
  archive/c/c/README.md
  archive/c/c/reverse-string.c
Labels: enhancement, reverse string
