Repository TheRenegadeCoder/sample-programs, pull requests merged in 2018-11, with the labels that each got.

#685 Created Authors File
  docs/_data/authors.yml
Labels: enhancement

#686 Added Author Date
  docs/_baklava/index.md
  docs/_convex_hull/index.md
  docs/_data/authors.yml
  docs/_even_odd/index.md
  docs/_factorial/index.md
  docs/_fibonacci/index.md
  docs/_file_io/index.md
  docs/_fizz_buzz/index.md
  docs/_game_of_life/index.md
  docs/_hello_world/brainfuck.md
  docs/_hello_world/dart.md
  docs/_hello_world/index.md
  docs/_hello_world/lua.md
  docs/_hello_world/matlab.md
  docs/_hello_world/moonscript.md
  docs/_hello_world/opa.md
  docs/_hello_world/powershell.md
  docs/_hello_world/r.md
  docs/_hello_world/solidity.md
  docs/_languages/brainfuck.md
  docs/_languages/dart.md
  docs/_languages/index.md
  docs/_languages/lua.md
  docs/_languages/matlab.md
  docs/_languages/moonscript.md
  docs/_languages/opa.md
  docs/_languages/powershell.md
  docs/_languages/r.md
  docs/_languages/solidity.md
  docs/_longest_common_subsequence/index.md
  docs/_prime_number/index.md
  docs/_quine/index.md
  docs/_reverse_a_string/index.md
  docs/_roman_numeral_conversion/index.md
  docs/index.md
Labels: enhancement

#687 Playing with Templates
  CONTRIBUTING.md
  docs/_config.yml
  docs/_languages/brainfuck.md
  docs/_layouts/default.html
  docs/_roman_numeral_conversion/index.md
  docs/templates/CODE_ARTICLE_TEMPLATE.md
  docs/templates/LANGUAGE_ARTICLE_TEMPLATE.md
  docs/templates/PROJECT_ARTICLE_TEMPLATE.md
Labels: enhancement

#688 Converted Markdown to HTML
  docs/_baklava/index.md
  docs/_convex_hull/index.md
  docs/_even_odd/index.md
  docs/_factorial/index.md
  docs/_fibonacci/index.md
  docs/_file_io/index.md
  docs/_fizz_buzz/index.md
  docs/_game_of_life/index.md
  docs/_hello_world/brainfuck.md
  docs/_hello_world/dart.md
  docs/_hello_world/index.md
  docs/_hello_world/lua.md
  docs/_hello_world/matlab.md
  docs/_hello_world/moonscript.md
  docs/_hello_world/opa.md
  docs/_hello_world/powershell.md
  docs/_hello_world/r.md
  docs/_hello_world/solidity.md
  docs/_includes/featured_image.html
  docs/_includes/featured_image.md
  docs/_layouts/default.html
  docs/_longest_common_subsequence/index.md
  docs/_prime_number/index.md
  docs/_quine/index.md
  docs/_reverse_a_string/index.md
  docs/_roman_numeral_conversion/index.md
  docs/templates/CODE_ARTICLE_TEMPLATE.md
  docs/templates/LANGUAGE_ARTICLE_TEMPLATE.md
  docs/templates/PROJECT_ARTICLE_TEMPLATE.md
Labels: enhancement

#689 Cleaned Up Duplicate Titles
  docs/_baklava/index.md
  docs/_convex_hull/index.md
  docs/_even_odd/index.md
  docs/_factorial/index.md
  docs/_fibonacci/index.md
  docs/_file_io/index.md
  docs/_fizz_buzz/index.md
  docs/_game_of_life/index.md
  docs/_hello_world/brainfuck.md
  docs/_hello_world/dart.md
  docs/_hello_world/lua.md
  docs/_hello_world/matlab.md
  docs/_hello_world/moonscript.md
  docs/_hello_world/opa.md
  docs/_hello_world/powershell.md
  docs/_hello_world/r.md
  docs/_hello_world/solidity.md
  docs/_languages/brainfuck.md
  docs/_languages/dart.md
  docs/_languages/lua.md
  docs/_languages/matlab.md
  docs/_languages/moonscript.md
  docs/_languages/opa.md
  docs/_languages/powershell.md
  docs/_languages/r.md
  docs/_languages/solidity.md
  docs/_layouts/default.html
  docs/_longest_common_subsequence/index.md
  docs/_prime_number/index.md
  docs/assets/favicon.ico
  docs/index.md
  docs/templates/CODE_ARTICLE_TEMPLATE.md
  docs/templates/LANGUAGE_ARTICLE_TEMPLATE.md
  docs/templates/PROJECT_ARTICLE_TEMPLATE.md
Labels: article

#690 Restructured Repo
  docs/_config.yml
  docs/_includes/projects_list.html
  docs/_layouts/default.html
  docs/assets/fizz-buzz.png
  docs/collections/_baklava/index.md
  docs/collections/_convex_hull/index.md
  docs/collections/_even_odd/index.md
  docs/collections/_factorial/index.md
  docs/collections/_fibonacci/index.md
  docs/collections/_file_io/index.md
  docs/collections/_fizz_buzz/index.md
  docs/collections/_game_of_life/index.md
  docs/collections/_hello_world/brainfuck.md
  docs/collections/_hello_world/dart.md
  docs/collections/_hello_world/index.md
  docs/collections/_hello_world/lua.md
  docs/collections/_hello_world/matlab.md
  docs/collections/_hello_world/moonscript.md
  docs/collections/_hello_world/opa.md
  docs/collections/_hello_world/powershell.md
  docs/collections/_hello_world/r.md
  docs/collections/_hello_world/solidity.md
  docs/collections/_languages/brainfuck.md
  docs/collections/_languages/dart.md
  docs/collections/_languages/index.md
  docs/collections/_languages/lua.md
  docs/collections/_languages/matlab.md
  docs/collections/_languages/moonscript.md
  docs/collections/_languages/opa.md
  docs/collections/_languages/powershell.md
  docs/collections/_languages/r.md
  docs/collections/_languages/solidity.md
  docs/collections/_longest_common_subsequence/index.md
  docs/collections/_prime_number/index.md
  docs/collections/_quine/index.md
  docs/collections/_reverse_a_string/index.md
  docs/collections/_roman_numeral_conversion/index.md
  docs/index.md
  docs/projects.md
Labels: enhancement

#691 Converting Project List to a Table
  docs/_includes/project_table.html
  docs/_includes/projects_list.html
  docs/collections/_languages/brainfuck.md
  docs/collections/_languages/dart.md
  docs/collections/_languages/index.md
  docs/projects.md
Labels: article, enhancement

#692 Moved Files to Experiment with Posts
  docs/code/hello-world/_posts/brainfuck.md
  docs/code/hello-world/_posts/dart.md
  docs/code/hello-world/_posts/lua.md
  docs/code/hello-world/_posts/matlab.md
  docs/code/hello-world/_posts/moonscript.md
  docs/code/hello-world/_posts/opa.md
  docs/code/hello-world/_posts/powershell.md
  docs/code/hello-world/_posts/r.md
  docs/code/hello-world/_posts/solidity.md
  docs/code/hello-world/index.md
  docs/code/index.md
Labels: article, enhancement

#693 Moved from Collections to Posts
  docs/_config.yml
  docs/_includes/project_table.html
  docs/languages/_posts/brainfuck.md
  docs/languages/_posts/dart.md
  docs/languages/_posts/lua.md
  docs/languages/_posts/matlab.md
  docs/languages/_posts/moonscript.md
  docs/languages/_posts/opa.md
  docs/languages/_posts/powershell.md
  docs/languages/_posts/r.md
  docs/languages/_posts/solidity.md
  docs/languages/index.md
  docs/projects/baklava/index.md
  docs/projects/convex_hull/index.md
  docs/projects/even_odd/index.md
  docs/projects/factorial/index.md
  docs/projects/fibonacci/index.md
  docs/projects/file_io/index.md
  docs/projects/fizz_buzz/index.md
  docs/projects/game_of_life/index.md
  docs/projects/hello-world/_posts/brainfuck.md
  docs/projects/hello-world/_posts/dart.md
  docs/projects/hello-world/_posts/lua.md
  docs/projects/hello-world/_posts/matlab.md
  docs/projects/hello-world/_posts/moonscript.md
  docs/projects/hello-world/_posts/opa.md
  docs/projects/hello-world/_posts/powershell.md
  docs/projects/hello-world/_posts/r.md
  docs/projects/hello-world/_posts/solidity.md
  docs/projects/hello-world/index.md
  docs/projects/index.md
  docs/projects/longest_common_subsequence/index.md
  docs/projects/prime_number/index.md
  docs/projects/quine/index.md
  docs/projects/reverse_a_string/index.md
  docs/projects/roman_numeral_conversion/index.md
Labels: article, enhancement

#695 Fixed File Naming Convention
  docs/languages/index.md
  docs/projects/hello-world/_posts/2018-11-01-brainfuck.md
  docs/projects/hello-world/_posts/2018-11-01-dart.md
  docs/projects/hello-world/_posts/2018-11-01-lua.md
  docs/projects/hello-world/_posts/2018-11-01-matlab.md
  docs/projects/hello-world/_posts/2018-11-01-moonscript.md
  docs/projects/hello-world/_posts/2018-11-01-opa.md
  docs/projects/hello-world/_posts/2018-11-01-powershell.md
  docs/projects/hello-world/_posts/2018-11-01-r.md
  docs/projects/hello-world/_posts/2018-11-01-solidity.md
Labels: article, enhancement

#696 Updated Category Syntax
  docs/languages/_posts/2018-11-01-brainfuck.md
  docs/languages/_posts/2018-11-01-dart.md
  docs/languages/_posts/2018-11-01-lua.md
  docs/languages/_posts/2018-11-01-matlab.md
  docs/languages/_posts/2018-11-01-moonscript.md
  docs/languages/_posts/2018-11-01-opa.md
  docs/languages/_posts/2018-11-01-powershell.md
  docs/languages/_posts/2018-11-01-r.md
  docs/languages/_posts/2018-11-01-solidity.md
  docs/projects/baklava/index.md
Labels: article, enhancement

#698 Removed If Condition From Table Creation
  docs/_includes/project_table.html
  docs/projects/baklava/index.md
  docs/projects/convex-hull/index.md
  docs/projects/even-odd/index.md
  docs/projects/factorial/index.md
  docs/projects/fibonacci/index.md
  docs/projects/file-io/index.md
  docs/projects/fizz-buzz/index.md
  docs/projects/game-of-life/index.md
  docs/projects/longest-common-subsequence/index.md
  docs/projects/prime-number/index.md
  docs/projects/quine/index.md
  docs/projects/reverse-a-string/index.md
  docs/projects/roman-numeral-conversion/index.md
Labels: article, enhancement

#699 Attempting to Generate the Project Table
  docs/_includes/project_table.html
Labels: article, enhancement

#700 Excludes Project from Project Table
  docs/_includes/project_table.html
Labels: article, enhancement

#701 Added List Sorting
  docs/_includes/article_list.md
  docs/_includes/language_list.md
  docs/_includes/project_table.html
  docs/assets/css/style.scss
  docs/languages/index.md
  docs/projects/prime-number/index.md
Labels: article, enhancement

#704 Added Article Count to Table
  docs/_includes/project_table.html
  docs/assets/css/style.scss
Labels: article, enhancement

#712 Added Various Data Elements to the Site
  docs/_includes/language_table.html
  docs/_includes/project_table.html
  docs/_includes/recent_posts.html
  docs/_includes/table_footer.html
  docs/_includes/table_header.html
  docs/assets/css/style.scss
  docs/index.md
  docs/projects/index.md
Labels: article, enhancement

#714 Article List Update
  docs/_includes/article_list.md
  docs/languages/_posts/2018-11-01-brainfuck.md
  docs/languages/_posts/2018-11-01-dart.md
  docs/languages/_posts/2018-11-01-lua.md
  docs/languages/_posts/2018-11-01-matlab.md
  docs/languages/_posts/2018-11-01-moonscript.md
  docs/languages/_posts/2018-11-01-opa.md
  docs/languages/_posts/2018-11-01-powershell.md
  docs/languages/_posts/2018-11-01-r.md
  docs/languages/_posts/2018-11-01-solidity.md
Labels: article, enhancement

#719 Added Breadcrumb to Header
  docs/_includes/breadcrumb.html
  docs/_layouts/default.html
Labels: enhancement

#720 Finally Added Breadcrumb
  .gitignore
  docs/Gemfile
  docs/_config.yml
  docs/_includes/breadcrumb.html
  docs/_layouts/default.html
  docs/assets/css/style.scss
Labels: enhancement

#721 Converted to Kramdown Footnotes
  .gitignore
  docs/_config.yml
  docs/languages/_posts/2018-11-01-brainfuck.md
  docs/languages/_posts/2018-11-01-dart.md
  docs/languages/_posts/2018-11-01-lua.md
  docs/languages/_posts/2018-11-01-matlab.md
  docs/languages/_posts/2018-11-01-moonscript.md
  docs/languages/_posts/2018-11-01-opa.md
  docs/languages/_posts/2018-11-01-powershell.md
  docs/languages/_posts/2018-11-01-r.md
  docs/languages/_posts/2018-11-01-solidity.md
  docs/projects/hello-world/_posts/2018-11-01-brainfuck.md
  docs/projects/hello-world/_posts/2018-11-01-dart.md
  docs/projects/hello-world/_posts/2018-11-01-lua.md
  docs/projects/hello-world/_posts/2018-11-01-matlab.md
  docs/projects/hello-world/_posts/2018-11-01-moonscript.md
  docs/projects/hello-world/_posts/2018-11-01-opa.md
  docs/projects/hello-world/_posts/2018-11-01-powershell.md
  docs/projects/hello-world/_posts/2018-11-01-r.md
  docs/projects/hello-world/_posts/2018-11-01-solidity.md
  docs/templates/CODE_ARTICLE_TEMPLATE.md
  docs/templates/LANGUAGE_ARTICLE_TEMPLATE.md
  docs/templates/PROJECT_ARTICLE_TEMPLATE.md
Labels: enhancement

#722 Hello World in Koka Article
  docs/languages/_posts/2018-11-09-koka.md
  docs/projects/hello-world/_posts/2018-11-09-koka.md
Labels: article, enhancement

#723 Added Missing Links
  docs/languages/_posts/2018-11-09-koka.md
  docs/projects/hello-world/_posts/2018-11-09-koka.md
Labels: article, enhancement

#726 Transition Hello World in Google Apps Script
  docs/languages/_posts/2018-11-10-google-apps-script.md
  docs/projects/hello-world/_posts/2018-11-10-google-apps-script.md
Labels: article, enhancement

#718 Article for Fizz Buzz in Java
  docs/projects/fizz-buzz/_posts/2018-11-06-java.md
Labels: article, fizz buzz

#737 Transitioned Hello World in C*
  docs/languages/_posts/2018-11-13-c-star.md
  docs/projects/hello-world/_posts/2018-11-13-c-star.md
Labels: article, enhancement

#738 Hello World in Frege
  archive/f/frege/HelloWorld.fr
  archive/f/frege/README.md
Labels: enhancement, hello world

#747 Factorial in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/factorial.hs
Labels: enhancement, factorial

#744 Even/Odd in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/even-odd.hs
Labels: enhancement, even/odd

#754 Updates to Fibonacci in Haskell
  archive/h/haskell/fibonacci.hs
Labels: enhancement, fibonacci

#758 Added Prime Number in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/prime-number.hs
Labels: enhancement, prime number

#762 Created Base Related Page
  docs/index.md
  docs/related.md
Labels: enhancement

#760 Transitioned Hello World in Red
  docs/languages/_posts/2018-11-17-red.md
  docs/projects/hello-world/_posts/2018-11-17-red.md
Labels: article, hello world

#766 Job Sequencing in Python
  archive/p/python/README.md
  archive/p/python/job-sequencing.py
Labels: job sequencing

#767 Job Sequencing Project Fixes
  docs/projects/job-sequencing-with-deadlines/index.md
Labels: job sequencing, wiki

#769 Haskell- Fixed fibonacci implementation
  archive/h/haskell/README.md
  archive/h/haskell/fibonacci.hs
Labels: enhancement, fibonacci

#771 Job Sequencing with Deadlines in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/job-sequencing.hs
Labels: enhancement, job sequencing

#775 Added Project Description for ROT-13
  docs/_data/authors.yml
  docs/projects/rot-13/index.md
Labels: article, enhancement, rot-13

#778 Added ROT-13 in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/rot-13.hs
Labels: enhancement

#780 Hello World in Idris
  archive/i/idris/HelloWorld.idr
  archive/i/idris/README.md
Labels: enhancement, hello world

#785 Created a Handful of Drafts
  docs/projects/hello-world/_drafts/chapel.md
  docs/projects/hello-world/_drafts/egison.md
  docs/projects/hello-world/_drafts/frege.md
  docs/projects/hello-world/_drafts/idris.md
  docs/projects/hello-world/_drafts/ocaml.md
Labels: article, enhancement, hello world

#788 Added Article for Hello World in Befunge
  archive/b/befunge/README.md
  docs/projects/hello-world/_posts/2018-11-27-befunge.md
Labels: article, hello world
