Repository TheRenegadeCoder/sample-programs, pull requests merged in 2018-08, with the labels that each got.

#301 Created Some Basic Repo Analytics
  tools/generate-wiki.py
Labels: enhancement

#302 Added Generic Wiki Page Generation
  tools/generate-wiki.py
Labels: enhancement

#303 Added Language Page Automation
  tools/generate-wiki.py
Labels: enhancement

#305 Added Navigation Links to Wiki
  .gitignore
  tools/generate-wiki.py
Labels: enhancement, wiki

#307 Trying Travis CI
  .travis.yml
Labels: enhancement

#310 Fizz Buzz in PowerShell
  archive/p/powershell/FizzBuzz.ps1
  archive/p/powershell/README.md
Labels: enhancement, fizz buzz

#318 Quine in Python
  CONTRIBUTING.md
  archive/p/python/README.md
  archive/p/python/quine.py
Labels: enhancement, quine

#320 Hello World in Erlang
  archive/e/erlang/README.md
  archive/e/erlang/hello_world.erl
Labels: enhancement, hello world

#322 Added Python Syntax Section
  archive/p/python/README.md
Labels: enhancement

#323 Added Section about Syntax to Contributing Doc
  CONTRIBUTING.md
Labels: enhancement

#332 Using Python Script as Package
  .travis.yml
Labels: enhancement

#337 Quine in Ruby
  archive/r/ruby/README.md
  archive/r/ruby/quine.rb
Labels: enhancement, quine

#340 Moved Script to Deployment
  .travis.yml
  deploy.sh
Labels: enhancement

#342 Update README.md to link to article Hello World in R
  archive/r/r/README.md
Labels: enhancement, hello world

#343 Added Gitter Travis CI Webhooks
  .travis.yml
Labels: enhancement

#355 Added a Plagiarism Section to the Contribution Doc
  CONTRIBUTING.md
  PULL_REQUEST_TEMPLATE.md
Labels: enhancement, help wanted

#346 Fizz Buzz in Go
  archive/g/go/README.md
  archive/g/go/fizz-buzz.go
Labels: enhancement, fizz buzz

#353 Fizz Buzz in C
  archive/c/c/README.md
  archive/c/c/fizz-buzz.c
Labels: enhancement, fizz buzz

#350 Fizz Buzz in C#
  archive/c/c-sharp/README.md
  archive/c/c-sharp/fizz-buzz.cs
Labels: enhancement, fizz buzz

#348 Fizz Buzz in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/fizz-buzz.hs
Labels: enhancement, fizz buzz

#359 Reverse a String in Perl
  archive/p/perl/README.md
  archive/p/perl/reverse-string.pl
Labels: enhancement, reverse string

#360 Hello World in Little
  archive/l/little/README.md
  archive/l/little/hello-world.l
Labels: enhancement, hello world

#363 Reverse a String in Brainfuck
  archive/b/brainfuck/README.md
  archive/b/brainfuck/reverse-string.bf
Labels: enhancement, reverse string

#364 Hello World in Brainfuck: new version
  archive/b/brainfuck/hello-world.bf
Labels: enhancement, hello world

#366 Fizz Buzz in Brainfuck
  archive/b/brainfuck/README.md
  archive/b/brainfuck/fizz-buzz.bf
Labels: enhancement, fizz buzz

#357 [WIP] Game of Life in C
  archive/c/c/game-of-life.c
Labels: enhancement, game of life

#370 Hello World in Vimscript
  archive/v/vimscript/README.md
  archive/v/vimscript/hello-world.vim
Labels: enhancement, hello world

#372 Add article issue link for Game of Life in C
  archive/c/c/README.md
Labels: game of life

#375 Hello World in Moonscript
  archive/m/moonscript/README.md
  archive/m/moonscript/hello-world.moon
Labels: enhancement, hello world

#377 Fizz Buzz in Vimscript
  archive/v/vimscript/README.md
  archive/v/vimscript/fizz-buzz.vim
Labels: enhancement, fizz buzz

#380 Hello World in TeX
  archive/t/tex/README.md
  archive/t/tex/hello-world.tex
Labels: enhancement, hello world

#381 Hello World in Koka
  archive/k/koka/README.md
  archive/k/koka/hello-world.kk
Labels: enhancement, hello world

#385 Fizz Buzz in Bash
  archive/b/bash/README.md
  archive/b/bash/fizz-buzz.sh
Labels: enhancement, fizz buzz

#386 Add exception to the "only GUI" rule
  CONTRIBUTING.md
Labels: enhancement
