Repository TheRenegadeCoder/sample-programs, pull requests merged in 2018-10, with the labels that each got.

#467 Hello World in dg
  archive/d/dg/README.md
  archive/d/dg/hello-world.dg
Labels: enhancement, hello world

#469 Fizz Buzz in dg
  archive/d/dg/README.md
  archive/d/dg/fizz-buzz.dg
Labels: enhancement, fizz buzz

#474 Reverse A String in dg
  archive/d/dg/README.md
  archive/d/dg/reverse-string.dg
Labels: enhancement, reverse string

#476 Quine in dg
  archive/d/dg/README.md
  archive/d/dg/quine.dg
Labels: enhancement, quine

#464 Fibonacci in C#
  CONTRIBUTING.md
  archive/c/c-sharp/fibonacci.cs
Labels: enhancement

#481 Fizz Buzz in Swift
  archive/s/swift/README.md
  archive/s/swift/fizzbuzz.swift
Labels: enhancement, fizz buzz, hacktoberfest

#480 Fibonacci in Java
  archive/j/java/Fibonacci.java
  archive/j/java/README.md
Labels: enhancement, fibonacci, hacktoberfest

#479 Hello World in Dale
  archive/d/dale/README.md
  archive/d/dale/hello-world.dt
Labels: enhancement, hacktoberfest, hello world

#487 Fibonacci in C
  archive/c/c/README.md
  archive/c/c/fibonacci.c
Labels: enhancement, fibonacci, hacktoberfest

#489 Added Fibonacci in Rust
  archive/r/rust/README.md
  archive/r/rust/fibonacci.rs
Labels: enhancement, fibonacci, hacktoberfest

#484 Fibonacci Sequence in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/fibonacci.js
Labels: enhancement, fibonacci, hacktoberfest

#491 Fibonacci Sequence in Python
  archive/p/python/README.md
  archive/p/python/fibonacci.py
Labels: enhancement, fibonacci

#494 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: enhancement, hacktoberfest

#493 Roman Conversion In Python
  archive/p/python/roman-numeral.py
Labels: enhancement, hacktoberfest, roman numeral

#500 Added Roman Numeral Conversion Article link to README
  archive/p/python/README.md
Labels: bug

#495 Fibonacci Sequence in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/fibonacci.cpp
Labels: enhancement, fibonacci, hacktoberfest

#501 Added Fizz Buzz image and assets folder
  CONTRIBUTING.md
  assets/Fizz_Buzz.png
Labels: enhancement

#503 Hello World in Ferret
  archive/f/ferret/README.md
  archive/f/ferret/hello-world.clj
Labels: enhancement, hacktoberfest, hello world

#505 Alphabetized Contributing Doc
  CONTRIBUTING.md
Labels: enhancement

#478 File IO in dg
  archive/d/dg/README.md
  archive/d/dg/file-io.dg
Labels: enhancement, file io, hacktoberfest

#514 Fizz Buzz in Kotlin
  archive/k/kotlin/README.md
  archive/k/kotlin/fizz-buzz.kt
Labels: enhancement, fizz buzz, hacktoberfest

#524 FizzBuzz in Typescript
  archive/t/typescript/README.md
  archive/t/typescript/fizz-buzz.ts
Labels: enhancement, fizz buzz, hacktoberfest

#528 Fibonacci in Typescript
  archive/t/typescript/README.md
  archive/t/typescript/fibonacci.ts
Labels: enhancement, fibonacci, hacktoberfest

#530 Fibonacci in Julia
  archive/j/julia/README.md
  archive/j/julia/fibonacci.jl
Labels: enhancement, fibonacci, hacktoberfest

#509 Added Hello World Article Link to MoonScript README
  archive/m/moonscript/README.md
Labels: enhancement, hacktoberfest, hello world

#506 Added Longest Common Subsequence Rules
  CONTRIBUTING.md
Labels: enhancement, hacktoberfest

#534 Fizz Buzz in Scala
  archive/p/perl/FizzBuzz.pl
  archive/p/perl/README.md
  archive/s/scala/FizzBuzz.scala
  archive/s/scala/README.md
Labels: enhancement, fizz buzz, hacktoberfest

#541 Fibonacci in Ruby
  archive/r/ruby/README.md
  archive/r/ruby/fibonacci.rb
Labels: enhancement, fibonacci

#512 Adding Convex Hull to Contributing Doc
  CONTRIBUTING.md
Labels: enhancement, hacktoberfest

#547 Fibonacci in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/fibonacci.hs
Labels: enhancement, fibonacci, hacktoberfest

#540 Hello World in Octave
  archive/o/octave/README.md
  archive/o/octave/hello-world.m
Labels: enhancement, hacktoberfest, hello world

#518 Fizz Buzz in Pascal
  archive/p/pascal/README.md
  archive/p/pascal/fizz-buzz.p
Labels: enhancement, fizz buzz, hacktoberfest

#552 Hello World in MojiScript
  archive/m/mojiscript/README.md
  archive/m/mojiscript/hello-world.mjs
Labels: enhancement, hacktoberfest, hello world

#563 Patch to fix previous merge
  archive/m/mojiscript/README.md
  archive/m/mojiscript/hello-world.mjs
Labels: bug

#564 Hello World in OCaml
  archive/o/ocaml/README.md
  archive/o/ocaml/hello-world.ml
Labels: enhancement, hacktoberfest, hello world

#556 Fixed TypeScript README Order
  archive/t/typescript/README.md
Labels: bug, hacktoberfest

#546 Reverse a String in Go
  archive/g/go/README.md
  archive/g/go/string-reverse.go
Labels: enhancement, hacktoberfest, reverse string

#553 Longest Common Subsequence in Python
  archive/p/python/README.md
  archive/p/python/lcs.py
Labels: enhancement, hacktoberfest, lcs

#567 Fibonacci sequence in Kotlin
  archive/k/kotlin/README.md
  archive/k/kotlin/fibonacci.kt
Labels: enhancement, fibonacci, hacktoberfest

#574 Added Baklava in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/baklava.hs
Labels: baklava, enhancement, hacktoberfest

#583 Hello World in ABAP
  archive/a/abap/README.md
  archive/a/abap/hello-world.abap
Labels: enhancement, hacktoberfest, hello world

#571 Reverse String in Kotlin
  archive/k/kotlin/README.md
  archive/k/kotlin/reverse-string.kt
Labels: enhancement, hacktoberfest, reverse string

#569 Fibonacci in Groovy
  archive/g/groovy/Fibonacci.groovy
  archive/g/groovy/README.md
Labels: enhancement, fibonacci, hacktoberfest

#582 Added Roman Numeral Conversion in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/roman-numeral.hs
Labels: enhancement, hacktoberfest, roman numeral

#578 Added Longest Common Subsequence in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/lcs.hs
Labels: enhancement, hacktoberfest, lcs

#589 Simplified Contributing Doc
  CONTRIBUTING.md
  docs/baklava.md
  docs/convex-hull.md
  docs/fibonacci.md
  docs/file-io.md
  docs/fizz-buzz.md
  docs/game-of-life.md
  docs/hello-world.md
  docs/longest-common-subsequence.md
  docs/quine.md
  docs/reverse-a-string.md
  docs/roman-numeral-conversion.md
Labels: enhancement, hacktoberfest

#595 Roman Numeral Docs Overhaul
  docs/roman-numeral-conversion.md
Labels: enhancement, hacktoberfest, roman numeral

#599 Fizz Buzz in Befunge
  archive/b/befunge/README.md
  archive/b/befunge/fizz-buzz.be
  archive/b/befunge/hello-world.be
Labels: enhancement, fizz buzz, hacktoberfest

#600 Update Baklava Documentation to Match Template
  docs/baklava.md
Labels: baklava, enhancement, hacktoberfest

#606 Added Writing Guidelines
  CONTRIBUTING.md
Labels: enhancement

#584 Added 2 sample programs in C.
  CONTRIBUTING.md
  archive/c/c/even-odd.c
  archive/c/c/prime-num.c
  docs/even-odd.md
  docs/prime-number.md
Labels: enhancement, hacktoberfest

#598 Added File IO in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/file-io.hs
Labels: enhancement, file io, hacktoberfest

#609 Prime number in go
  archive/g/go/README.md
  archive/g/go/prime.go
Labels: enhancement, hacktoberfest

#602 Factorial description
  CONTRIBUTING.md
  docs/factorial.md
Labels: enhancement

#605 Baklava in Swift
  archive/s/swift/README.md
  archive/s/swift/baklava.swift
Labels: baklava, enhancement, hacktoberfest

#629 Convex Hull in C
  archive/c/c/README.md
  archive/c/c/convex-hull.c
Labels: convex hull, enhancement, hacktoberfest

#624 Fibonacci in Bash
  archive/b/bash/README.md
  archive/b/bash/fibonacci.sh
Labels: enhancement, fibonacci, hacktoberfest

#639 Added File IO in Bash
  archive/b/bash/README.md
  archive/b/bash/file-io.sh
Labels: enhancement, file io, hacktoberfest

#633 Add Style Guide to C++
  archive/c/c-plus-plus/README.md
Labels: enhancement, hacktoberfest

#643 Added Longest Common Subsequence in C#
  archive/c/c-sharp/README.md
  archive/c/c-sharp/lcs.cs
Labels: enhancement, hacktoberfest, lcs

#649 Reworked Docs Directory
  docs/baklava/RULES.md
  docs/convex-hull/RULES.md
  docs/even-odd/RULES.md
  docs/factorial/RULES.md
  docs/fibonacci/RULES.md
  docs/file-io/RULES.md
  docs/fizz-buzz/RULES.md
  docs/game-of-life/RULES.md
  docs/hello-world/RULES.md
  docs/hello-world/matlab.md
  docs/index.md
  docs/longest-common-subsequence/RULES.md
  docs/prime-number/RULES.md
  docs/quine/RULES.md
  docs/reverse-a-string/RULES.md
  docs/roman-numeral-conversion/RULES.md
Labels: article

#651 Transitioned MoonScript to GitHub Pages
  docs/hello-world/moonscript.md
Labels: article

#654 Transitioned Hello World in Brainfuck to Pages
  docs/_hello_world/brainfuck.md
  docs/_hello_world/index.md
  docs/index.md
Labels: article, enhancement

#656 Expanded Configuration to Include Several Rules
  CONTRIBUTING.md
  docs/_config.yml
  docs/_even_odd/index.md
  docs/_factorial/index.md
  docs/_fibonacci/index.md
  docs/_file_io/index.md
  docs/_fizz_buzz/index.md
  docs/_game_of_life/index.md
  docs/_longest_common_subsequence/index.md
  docs/_prime_number/index.md
  docs/_quine/index.md
  docs/_reverse-a-string/index.md
  docs/_roman-numeral-conversion/index.md
Labels: article

#657 Extended Collection to Contain All Existing Programs
  docs/_config.yml
  docs/_even_odd/index.md
  docs/_factorial/index.md
  docs/_fibonacci/index.md
  docs/_file_io/index.md
  docs/_fizz_buzz/index.md
  docs/_game_of_life/index.md
  docs/_longest_common_subsequence/index.md
  docs/_prime_number/index.md
  docs/_quine/index.md
  docs/_reverse-a-string/index.md
  docs/_roman-numeral-conversion/index.md
Labels: article

#658 Fixing up Loose Ends
  docs/_baklava/index.md
  docs/_even_odd/index.md
  docs/_factorial/index.md
  docs/_hello_world/index.md
  docs/index.md
Labels: article

#659 Fully Updated Documentation
  CONTRIBUTING.md
  docs/_convex_hull/index.md
  docs/_even_odd/index.md
  docs/_factorial/index.md
  docs/_fibonacci/index.md
  docs/_file_io/index.md
  docs/_fizz_buzz/index.md
  docs/_game_of_life/index.md
  docs/_hello_world/index.md
  docs/_longest_common_subsequence/index.md
  docs/_prime_number/index.md
  docs/_quine/index.md
  docs/_reverse-a-string/index.md
  docs/_roman-numeral-conversion/index.md
Labels: article

#660 Migrated Hello World in R to GitHub Pages
  docs/_hello_world/r.md
Labels: article

#652 Fizz Buzz in Lisp
  archive/l/lisp/README.md
  archive/l/lisp/fizz-buzz.lsp
Labels: enhancement, fizz buzz, hacktoberfest

#668 Fixed Three Links on Homepage
  docs/_config.yml
  docs/_reverse_a_string/index.md
  docs/_roman_numeral_conversion/index.md
Labels: bug, fibonacci, reverse string, roman numeral

#675 Upgraded a Couple Articles Already in the System
  docs/_hello_world/brainfuck.md
  docs/_hello_world/matlab.md
  docs/_hello_world/powershell.md
  docs/_languages/brainfuck.md
  docs/_languages/matlab.md
  docs/assets/hello-world-in-powershell-featured-image.JPEG
Labels: article, enhancement, hello world

#676 Added MoonScript to Docs
  CONTRIBUTING.md
  docs/_hello_world/moonscript.md
  docs/_languages/matlab.md
  docs/_languages/moonscript.md
Labels: article, enhancement

#677 Added Article List to Includes
  CONTRIBUTING.md
  docs/_baklava/index.md
  docs/_convex_hull/index.md
  docs/_even_odd/index.md
  docs/_factorial/index.md
  docs/_fibonacci/index.md
  docs/_file_io/index.md
  docs/_fizz_buzz/index.md
  docs/_game_of_life/index.md
  docs/_hello_world/index.md
  docs/_includes/article_list.md
  docs/_longest_common_subsequence/index.md
  docs/_prime_number/index.md
  docs/_quine/index.md
  docs/_reverse_a_string/index.md
  docs/_roman_numeral_conversion/index.md
Labels: article, enhancement

#678 Resolved Include Linking Issue
  CONTRIBUTING.md
  docs/_baklava/index.md
  docs/_convex_hull/index.md
  docs/_even_odd/index.md
  docs/_factorial/index.md
  docs/_fibonacci/index.md
  docs/_file_io/index.md
  docs/_fizz_buzz/index.md
  docs/_game_of_life/index.md
  docs/_hello_world/index.md
  docs/_longest_common_subsequence/index.md
  docs/_prime_number/index.md
  docs/_quine/index.md
  docs/_reverse_a_string/index.md
  docs/_roman_numeral_conversion/index.md
Labels: article, enhancement

#679 Fixed Tag Syntax Error
  docs/_quine/index.md
  docs/_reverse_a_string/index.md
Labels: article, bug

#681 Added Jekyll Build to Travis CI
  .travis.yml
  docs/Gemfile
Labels: enhancement

#662 Transitioned Hello World in Lua Article
  docs/_hello_world/lua.md
  docs/_languages/lua.md
Labels: article, hello world

#607 Hello World in Egison
  archive/e/egison/README.md
  archive/e/egison/hello-world.egi
Labels: enhancement, hacktoberfest, hello world

#664 Transitioned Hello World in Opa
  docs/_hello_world/opa.md
  docs/_languages/opa.md
  docs/assets/hello-world-in-opa-featured-image.JPEG
Labels: article, hello world

#667 Transitioned Hello World in Dart
  CONTRIBUTING.md
  docs/_hello_world/brainfuck.md
  docs/_hello_world/dart.md
  docs/_hello_world/lua.md
  docs/_hello_world/matlab.md
  docs/_hello_world/moonscript.md
  docs/_hello_world/opa.md
  docs/_hello_world/powershell.md
  docs/_hello_world/r.md
  docs/_includes/featured_image.md
  docs/_languages/dart.md
  docs/assets/hello-world-in-dart-featured-image.JPEG
  docs/assets/sample-programs-in-every-language-featured-image.JPEG
Labels: article, hello world

#671 Transitioned Hello World in Solidity
  docs/_hello_world/solidity.md
  docs/_languages/solidity.md
Labels: article, hello world
