Repository TheRenegadeCoder/sample-programs, pull requests merged in 2018-12, with the labels that each got.

#796 Added Quick Sort to Projects
  docs/projects/quick-sort/index.md
Labels: enhancement, quick sort, sorting algorithms

#797 Added Merge Sort to Projects
  docs/projects/merge-sort/index.md
Labels: enhancement, merge sort, sorting algorithms

#795 Added Selection Sort to Projects
  docs/projects/selection-sort/index.md
Labels: enhancement, selection sort, sorting algorithms

#798 Updated Project Article Template
  docs/templates/PROJECT_ARTICLE_TEMPLATE.md
Labels: bug

#801 Added Bubble Sort in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/bubble-sort.hs
Labels: bubble sort, enhancement, sorting algorithms

#805 Added Selection Sort in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/selection-sort.hs
Labels: enhancement, selection sort, sorting algorithms

#808 Added Merge Sort in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/merge-sort.hs
Labels: enhancement, merge sort, sorting algorithms

#809 Transitioned File IO in Ruby Article
  docs/_data/authors.yml
  docs/projects/file-io/_posts/12-03-18-ruby.md
Labels: article, file io

#815 Added Quick Sort in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/quick-sort.hs
Labels: enhancement, quick sort, sorting algorithms

#820 Transitioned Hello World in C
  docs/languages/_posts/2018-12-05-c.md
  docs/projects/hello-world/_posts/2018-12-05-c.md
Labels: enhancement, hello world

#821 Transitioned Hello World Rust
  docs/languages/_posts/2018-12-05-rust.md
  docs/projects/hello-world/_posts/2018-12-05-rust.md
Labels: enhancement, hello world

#825 Transitioned Fizz Buzz in PowerShell
  docs/projects/fizz-buzz/_posts/2018-12-11-powershell.md
Labels: article, enhancement, fizz buzz

#830 Bubble Sort in Python
  .gitignore
  docs/_data/authors.yml
  docs/assets/images/bubble-sort-in-python-featured-image.JPEG
  docs/projects/bubble-sort/_posts/2018-12-17-python.md
Labels: article, bubble sort

#834 Added Insertion Sort in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/insertion-sort.hs
Labels: enhancement, insertion sort, sorting algorithms

#829 Transitioned Fizz Buzz in Python
  docs/_data/authors.yml
  docs/projects/fizz-buzz/_posts/2018-12-15-python.md
Labels: article

#838 Python Bubble Sort Formatting Fix
  docs/projects/bubble-sort/_posts/2018-12-19-python.md
Labels: article, bubble sort, bug

#840 Transitioned File IO in Python
  docs/projects/file-io/_posts/2018-12-03-ruby.md
  docs/projects/file-io/_posts/2018-12-20-python.md
Labels: article, file io

#842 Transitioned File IO in C++
  docs/projects/file-io/_posts/2018-12-21-c-plus-plus.md
Labels: article, file io

#847 Added Hello World in PureScript
  archive/p/purescript/README.md
  archive/p/purescript/hello-world.purs
Labels: enhancement, hello world

#850 Add Even Odd in Python
  archive/p/python/README.md
  archive/p/python/even-odd.py
Labels: enhancement, even/odd

#853 Add Factorial in Python
  archive/p/python/README.md
  archive/p/python/factorial.py
Labels: enhancement, factorial

#862 Added Prime Number in Python
  archive/p/python/README.md
  archive/p/python/prime-number.py
Labels: enhancement, prime number

#868 Added ROT-13 in Python
  archive/p/python/README.md
  archive/p/python/rot-13.py
Labels: enhancement, rot-13

#872 Fixed issues with python 2 mentioned in #862
  archive/p/python/prime-number.py
Labels: enhancement, prime number

#845 Added Hello World in clojure
  archive/c/clojure/README.md
  archive/c/clojure/hello-world.clj
Labels: enhancement, hello world

#871 Added Selection Sort in Python
  archive/p/python/README.md
  archive/p/python/selection-sort.py
Labels: enhancement, selection sort, sorting algorithms

#856 Add Insertion Sort in Python
  archive/p/python/README.md
  archive/p/python/insertion-sort.py
Labels: enhancement, insertion sort, sorting algorithms

#859 Added Merge Sort in Python
  archive/p/python/README.md
  archive/p/python/merge-sort.py
Labels: enhancement, merge sort, sorting algorithms

#865 Added Quick Sort in Python
  archive/p/python/README.md
  archive/p/python/quick-sort.py
Labels: enhancement, quick sort, sorting algorithms

#873 WIP: Reverse a String in Java
  docs/projects/reverse-a-string/_posts/2018-12-22-java.md
Labels: article, reverse string

#875 Transitioned Reverse a String in Ruby
  docs/projects/reverse-a-string/_posts/2018-12-24-ruby.md
Labels: article, reverse string

#874 Transitioned Reverse a String in Python
  docs/projects/reverse-a-string/_posts/2018-12-24-python.md
Labels: article, reverse string

#876 Transitioned Reverse a String in Scheme
  docs/projects/reverse-a-string/_posts/2018-12-24-scheme.md
Labels: article, reverse string

#882 Transitioned Hello World in Scheme
  docs/projects/hello-world/_posts/2018-12-25-scheme.md
Labels: article, hello world

#878 Transitioned Reverse a String in Swift
  docs/projects/reverse-a-string/_posts/2018-12-25-swift.md
Labels: article, reverse string

#880 Transitioned Hello World in C#
  docs/languages/_posts/2018-12-25-c-sharp.md
  docs/projects/hello-world/_posts/2018-12-25-c-sharp.md
  docs/templates/LANGUAGE_ARTICLE_TEMPLATE.md
Labels: article, hello world

#887 Added Bubble Sort in C#
  archive/c/c-sharp/README.md
  archive/c/c-sharp/bubble-sort.cs
Labels: bubble sort, enhancement, sorting algorithms

#890 Added Even Odd in C#
  archive/c/c-sharp/README.md
  archive/c/c-sharp/even-odd.cs
Labels: enhancement, even/odd

#897 Added File IO in C#
  archive/c/c-sharp/README.md
  archive/c/c-sharp/file-io.cs
Labels: enhancement, file io

#900 Added Insertion Sort in C#
  .gitignore
  archive/c/c-sharp/README.md
  archive/c/c-sharp/insertion-sort.cs
Labels: enhancement, insertion sort, sorting algorithms

#891 Added Hello World Drafts
  docs/assets/images/hello-world-in-c-featured-image.JPEG
  docs/assets/images/hello-world-in-c-sharp-featured-image.JPEG
  docs/assets/images/hello-world-in-c-star-featured-image.JPEG
  docs/assets/images/hello-world-in-objective-c-featured-image.JPEG
  docs/assets/images/hello-world-in-ruby-featured-image.JPEG
  docs/assets/images/hello-world-in-swift-featured-image.JPEG
  docs/projects/hello-world/_drafts/abap.md
  docs/projects/hello-world/_drafts/ada.md
  docs/projects/hello-world/_drafts/agda.md
  docs/projects/hello-world/_drafts/algol68.md
  docs/projects/hello-world/_drafts/ballerina.md
  docs/projects/hello-world/_posts/2018-11-13-c-star.md
  docs/projects/hello-world/_posts/2018-12-05-c.md
  docs/projects/hello-world/_posts/2018-12-25-c-sharp.md
Labels: article, enhancement, hello world

#903 Add Merge Sort in C#
  archive/c/c-sharp/README.md
  archive/c/c-sharp/merge-sort.cs
Labels: merge sort, sorting algorithms

#909 Added Quick Sort in C#
  archive/c/c-sharp/README.md
  archive/c/c-sharp/quick-sort.cs
Labels: enhancement, quick sort, sorting algorithms

#912 Added Quine in C#
  archive/c/c-sharp/README.md
  archive/c/c-sharp/quine.cs
Labels: enhancement, quine

#918 Added Selection Sort in C#
  archive/c/c-sharp/README.md
  archive/c/c-sharp/selection-sort.cs
Labels: enhancement, selection sort, sorting algorithms

#927 Transitioned language page in Scheme
  docs/languages/_posts/2018-12-30-scheme.md
Labels: article

#920 Hello World in Dusk
  archive/d/dusk/README.md
  archive/d/dusk/hello-world.dusk
Labels: enhancement, hello world

#926 Hello World in Gluon
  archive/g/gluon/README.md
  archive/g/gluon/hello-world.glu
Labels: enhancement, hello world

#906 Added Prime Number in C#
  archive/c/c-sharp/README.md
  archive/c/c-sharp/prime-number.cs
Labels: enhancement, prime number

#928 Transitioned Hello World in ALGOL 68
  docs/languages/_posts/2018-12-31-algol68
  docs/projects/hello-world/_drafts/algol68.md
  docs/projects/hello-world/_posts/2018-12-31-algol68.md
Labels: article, hello world

#922 Hello World in Fennel
  archive/f/fennel/README.md
  archive/f/fennel/hello-world.fnl
Labels: enhancement, hello world

#923 Hello World in CoffeeScript
  archive/c/coffeescript/README.md
  archive/c/coffeescript/hello-world.coffee
Labels: enhancement, hello world

#929 Transitioned Hello World in Python
  docs/assets/images/hello-world-in-python-featured-image.JPEG
  docs/languages/_posts/2018-12-31-python.md
  docs/projects/hello-world/_posts/2018-12-31-python.md
Labels: article, hello world

#932 Added Factorial in Java
  archive/j/java/Factorial.java
  archive/j/java/README.md
Labels: enhancement, factorial
