Repository TheRenegadeCoder/sample-programs, pull requests merged in 2018-05, with the labels that each got.

#114 Hello World in Befunge
  archive/b/befunge/README.md
  archive/b/befunge/hello-world.be
Labels: enhancement, hello world

#118 Hello World in Fetlang
  archive/f/fetlang/README.md
  archive/f/fetlang/hello-world.fet
Labels: enhancement, hello world

#120 Hello World in Agda
  archive/a/agda/HelloWorld.agda
  archive/a/agda/README.md
Labels: enhancement, hello world

#122 Hello World in Kitten
  archive/k/kitten/README.md
  archive/k/kitten/hello-world.ktn
Labels: enhancement, hello world

#126 Hello World in ELENA
  archive/e/elena/README.md
  archive/e/elena/hello-world.l
Labels: enhancement, hello world

#131 Reverse a String in VB.NET
  archive/v/vb.net/README.md
  archive/v/vb.net/reverse-string.vb
Labels: enhancement, reverse string

#133 Hello World in Emojicode
  archive/e/emojicode/README.md
  archive/e/emojicode/hello-world.emojic
Labels: enhancement, hello world

#137 Hello World in D
  archive/d/d/README.md
  archive/d/d/hello-world.d
Labels: enhancement, hello world

#138 Hello World in ALGOL 68
  archive/a/algol68/README.md
  archive/a/algol68/hello-world.alg
Labels: enhancement, hello world

#139 Reverse String in JavaScript
  archive/j/javascript/reverse-string.js
Labels: enhancement, reverse string

#149 Reverse a String in Scheme
  archive/s/scheme/reverse-string.scm
Labels: enhancement, reverse string

#157 Hello World & Reverse a String in Bash
  archive/b/bash/README.md
  archive/b/bash/hello-world.sh
  archive/b/bash/reverse-string.sh
Labels: enhancement, hello world, reverse string

#160 Hello World in Google Apps Script
  archive/g/google-apps-script/README.md
  archive/g/google-apps-script/hello-world.gs
Labels: enhancement, hello world

#164 Reverse a String in Swift
  archive/s/swift/README.md
  archive/s/swift/reverse-string.swift
Labels: enhancement, reverse string

#156 Hello World in LOLCODE & C*
  archive/c/c*/README.md
  archive/c/c*/hello-world.cs
  archive/l/lolcode/README.md
  archive/l/lolcode/hello-world.lol
Labels: enhancement, hello world

#202 Hello World in PowerShell
  archive/p/powershell/README.md
  archive/p/powershell/hello-world.ps1
Labels: enhancement, hello world

#218 Hello World in Golo
  archive/g/golo/README.md
  archive/g/golo/hello-world.golo
Labels: enhancement, hello world

#225 Reverse String in PowerShell
  archive/p/powershell/README.md
  archive/p/powershell/Reverse-String.ps1
Labels: enhancement, hello world

#228 Hello World in Solidity
  archive/s/solidity/README.md
  archive/s/solidity/hello-world.sol
Labels: enhancement, hello world
