Repository TheRenegadeCoder/sample-programs, pull requests merged in 2018-09, with the labels that each got.

#388 Add debut date for vimscript
  archive/v/vimscript/README.md
Labels: bug

#394 Fizz Buzz in TeX
  archive/t/tex/README.md
  archive/t/tex/fizz-buzz.tex
  archive/t/tex/hello-world.tex
Labels: enhancement, fizz buzz

#399 Fizz Buzz in Java
  archive/j/java/FizzBuzz.java
  archive/j/java/README.md
Labels: enhancement, fizz buzz

#401 Fizz Buzz in PHP
  archive/p/php/README.md
  archive/p/php/fizz-buzz.php
Labels: enhancement, fizz buzz

#405 File Input/Output in C++
  CONTRIBUTING.md
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/file-io.cpp
Labels: enhancement

#410 File IO in Python
  CONTRIBUTING.md
  archive/p/python/README.md
  archive/p/python/file-io.py
Labels: enhancement, file io

#412 File IO in Rust
  archive/r/rust/README.md
  archive/r/rust/file-io.rs
Labels: enhancement, file io

#421 Quick fix in Python File IO sample
  archive/p/python/file-io.py
Labels: bug, file io

#420 Merging in Baklava from Another Repo
  CONTRIBUTING.md
  archive/b/bash/README.md
  archive/b/bash/baklava.sh
  archive/c/c-sharp/README.md
  archive/c/c-sharp/baklava.cs
  archive/c/c/README.md
  archive/c/c/baklava.c
  archive/c/crystal/README.md
  archive/c/crystal/baklava.cr
  archive/d/d/README.md
  archive/d/d/baklava.d
  archive/f/fortran/README.md
  archive/f/fortran/baklava.f95
  archive/g/go/README.md
  archive/g/go/baklava.go
  archive/j/javascript/README.md
  archive/j/javascript/baklava.js
  archive/k/kotlin/README.md
  archive/k/kotlin/baklava.kt
  archive/p/php/README.md
  archive/p/php/baklava.php
  archive/p/python/README.md
  archive/p/python/baklava.py
  archive/r/ruby/README.md
  archive/r/ruby/baklava.rb
  archive/t/typescript/README.md
  archive/t/typescript/baklava.ts
Labels: baklava, enhancement

#439 Add a Gitter chat badge to README.md
  README.md
Labels: enhancement

#445 Reverse a String in Lua
  archive/l/lua/README.md
  archive/l/lua/reverse-string.lua
Labels: enhancement, reverse string

#443 Fizz Buzz in Lua
  archive/l/lua/README.md
  archive/l/lua/fizz-buzz.lua
Labels: enhancement, fizz buzz

#454 Reverse String in Ruby
  archive/r/ruby/README.md
  archive/r/ruby/reverse-string.rb
Labels: enhancement, reverse string

#456 Fizz Buzz in Crystal
  archive/c/crystal/README.md
  archive/c/crystal/fizz-buzz.cr
Labels: fizz buzz
