Repository TheRenegadeCoder/sample-programs, pull requests merged in 2019-03, with the labels that each got.

#970 Transitioned Hello World in Crystal Article
  docs/projects/hello-world/_posts/2019-02-28-crystal.md
Labels: article, hello world

#980 Transitioned Crystal Language Article
  docs/languages/_posts/2019-03-05-crystal.md
Labels: article

#991 Add File IO in Go
  archive/g/go/README.md
  archive/g/go/file-io.go
Labels: enhancement, file io

#988 Add Bubble Sort in Go
  archive/g/go/README.md
  archive/g/go/bubble-sort.go
Labels: bubble sort, enhancement, sorting algorithms

#994 Added Insertion Sort in Go
  archive/g/go/README.md
  archive/g/go/insertion-sort.go
Labels: enhancement, insertion sort, sorting algorithms

#997 Added Job Sequencing in Go
  archive/g/go/README.md
  archive/g/go/job-sequencing.go
Labels: enhancement, job sequencing

#981 Transitioned PicoLisp Language Article
  docs/languages/_posts/2019-03-15-picolisp.md
Labels: article

#1000 Add Longest Common Subsequence in Go
  archive/g/go/README.md
  archive/g/go/lcs.go
Labels: enhancement, lcs

#1003 Add Merge Sort in Go
  archive/g/go/README.md
  archive/g/go/merge-sort.go
Labels: enhancement, merge sort, sorting algorithms

#983 Transitioned D Language Article
  docs/languages/_posts/2019-03-17-d.md
Labels: article

#1006 Add Quick Sort in Go
  archive/g/go/README.md
  archive/g/go/quick-sort.go
Labels: enhancement, quick sort, sorting algorithms

#1009 Add Quine in Go
  archive/g/go/README.md
  archive/g/go/quine.go
Labels: enhancement, quine

#1012 Add ROT 13 in Go
  archive/g/go/README.md
  archive/g/go/rot-13.go
Labels: enhancement, rot-13

#1015 Add Selection Sort in Go
  archive/g/go/README.md
  archive/g/go/selection-sort.go
Labels: enhancement, selection sort, sorting algorithms

#1016 Unit Testing Story
  .gitignore
  archive/b/bash/baklava.sh
  archive/b/bash/testinfo.yml
  archive/p/python/baklava.py
  archive/p/python/bubble_sort.py
  archive/p/python/even_odd.py
  archive/p/python/file_io.py
  archive/p/python/fizz_buzz.py
  archive/p/python/game_of-life.py
  archive/p/python/hello_world.py
  archive/p/python/insertion_sort.py
  archive/p/python/job_sequencing.py
  archive/p/python/merge_sort.py
  archive/p/python/prime_number.py
  archive/p/python/quick_sort.py
  archive/p/python/reverse_string.py
  archive/p/python/roman_numeral.py
  archive/p/python/rot_13.py
  archive/p/python/selection_sort.py
  archive/p/python/testinfo.yml
  requirements-test.txt
  test.sh
  test/__init__.py
  test/fixtures.py
  test/project.py
  test/projects/__init__.py
  test/projects/test_baklava.py
  test/projects/test_sorting.py
  test/source.py
  test/testinfo.py
Labels: Tests, enhancement

#1018 Added Test for Even Odd
  CONTRIBUTING.md
  docs/projects/even-odd/index.md
  test/projects/test_even_odd.py
Labels: Tests, enhancement, even/odd

#1020 Hooked Test Framework into Travis CI
  .travis.yml
Labels: enhancement

#1022 Added Ruby to Testing Framework
  archive/r/ruby/README.md
  archive/r/ruby/bubble-sort.rb
  archive/r/ruby/testinfo.yml
Labels: enhancement

#1024 Added Tests for Factorial
  docs/projects/factorial/index.md
  test/projects/test_even_odd.py
  test/projects/test_factorial.py
Labels: Tests, factorial

#1025 Added Tests for Fizz Buzz
  docs/projects/fizz-buzz/index.md
  test/fixtures.py
  test/project.py
  test/projects/test_baklava.py
  test/projects/test_even_odd.py
  test/projects/test_factorial.py
  test/projects/test_fizz_buzz.py
  test/projects/test_sorting.py
Labels: Tests, fizz buzz

#1026 Added Test Hello World
  test/projects/test_hello_world.py
Labels: Tests, hello world

#979 Transitioned Hello World in Picolisp Article
  docs/projects/hello-world/_posts/2019-03-04-picolisp.md
Labels: article

#1027 Added Tests for Job Sequencing
  archive/p/python/job_sequencing.py
  docs/projects/job-sequencing-with-deadlines/index.md
  test/projects/test_job_sequencing.py
Labels: Tests, job sequencing

#1028 Added Tests for LCS
  archive/p/python/lcs.py
  docs/projects/longest-common-subsequence/index.md
  test/projects/test_lcs.py
  test/projects/test_sorting.py
  test/utilities.py
Labels: Tests, lcs

#1029 Add Test for Quine
  test/projects/test_quine.py
Labels: Tests

#1030 Added Test for Reverse String
  archive/b/bash/reverse-string.sh
  test/projects/test_reverse_string.py
Labels: reverse string

#1037 Reverse String in Scala
  archive/s/scala/README.md
  archive/s/scala/reverse-string.scala
Labels: enhancement, reverse string

#1039 Game of Life in Scala
  archive/s/scala/README.md
  archive/s/scala/game-of-life.scala
Labels: enhancement

#1043 Test build
  archive/p/python/testinfo.yml
  archive/r/ruby/testinfo.yml
  test/containerfactory.py
  test/fixtures.py
  test/projects/test_baklava.py
  test/projects/test_even_odd.py
  test/projects/test_factorial.py
  test/projects/test_fizz_buzz.py
  test/projects/test_hello_world.py
  test/projects/test_job_sequencing.py
  test/projects/test_lcs.py
  test/projects/test_quine.py
  test/projects/test_reverse_string.py
  test/projects/test_sorting.py
  test/source.py
  test/testinfo.py
Labels: Tests, enhancement

#1036 Quicksort in Scala
  archive/s/scala/README.md
  archive/s/scala/quick-sort.scala
Labels: enhancement, quick sort, sorting algorithms

#1041 Bubble Sort in Scala
  archive/s/scala/README.md
  archive/s/scala/bubble-sort.scala
Labels: enhancement

#982 Transitioned Hello World in D
  docs/projects/hello-world/_posts/2019-03-25-d.md
Labels: article

#984 Transitioned Hello World in Visual Basic .NET
  docs/projects/hello-world/_posts/2019-03-25-visual-basic.md
Labels: article

#1038 Go Testing
  archive/g/go/bubble-sort.go
  archive/g/go/even-odd.go
  archive/g/go/insertion-sort.go
  archive/g/go/job-sequencing.go
  archive/g/go/lcs.go
  archive/g/go/merge-sort.go
  archive/g/go/quick-sort.go
  archive/g/go/selection-sort.go
  archive/g/go/testinfo.yml
  docs/projects/job-sequencing-with-deadlines/index.md
  docs/projects/longest-common-subsequence/index.md
  test/projects/test_baklava.py
  test/projects/test_even_odd.py
  test/projects/test_factorial.py
  test/projects/test_fizz_buzz.py
  test/projects/test_hello_world.py
  test/projects/test_job_sequencing.py
  test/projects/test_lcs.py
  test/projects/test_quine.py
  test/projects/test_reverse_string.py
  test/projects/test_sorting.py
  test/source.py
Labels: Tests, enhancement

#1044 Perl Testing
  archive/p/perl/fizz-buzz.pl
  archive/p/perl/testinfo.yml
Labels: Tests, enhancement

#1045 Julia Testing
  archive/j/julia/baklava.jl
  archive/j/julia/testinfo.yml
Labels: Tests, enhancement

#1042 Haskell Testing
  archive/c/c-sharp/Baklava.cs
  archive/c/c-sharp/BubbleSort.cs
  archive/c/c-sharp/EvenOdd.cs
  archive/c/c-sharp/Factorial.cs
  archive/c/c-sharp/Fibonacci.cs
  archive/c/c-sharp/FileIO.cs
  archive/c/c-sharp/FizzBuzz.cs
  archive/c/c-sharp/HelloWorld.cs
  archive/c/c-sharp/InsertionSort.cs
  archive/c/c-sharp/Lcs.cs
  archive/c/c-sharp/MergeSort.cs
  archive/c/c-sharp/PrimeNumber.cs
  archive/c/c-sharp/QuickSort.cs
  archive/c/c-sharp/Quine.cs
  archive/c/c-sharp/ReverseString.cs
  archive/c/c-sharp/RomanNumeral.cs
  archive/c/c-sharp/Rot13.cs
  archive/c/c-sharp/SelectionSort.cs
  archive/h/haskell/baklava.hs
  archive/h/haskell/bubble-sort.hs
  archive/h/haskell/insertion-sort.hs
  archive/h/haskell/lcs.hs
  archive/h/haskell/merge-sort.hs
  archive/h/haskell/quick-sort.hs
  archive/h/haskell/selection-sort.hs
  archive/h/haskell/testinfo.yml
  test/projects/test_baklava.py
  test/projects/test_quine.py
  test/source.py
  test/testinfo.py
Labels: enhancement

#1047 Java Testing
  archive/j/java/EvenOdd.java
  archive/j/java/testinfo.yml
Labels: Tests, enhancement

#1051 Run suite
  .travis.yml
  runner/__init__.py
  samplerunner.sh
  samplerunner/__init__.py
  samplerunner/__main__.py
  samplerunner/containerfactory.py
  samplerunner/project.py
  samplerunner/run.py
  samplerunner/source.py
  samplerunner/test.py
  samplerunner/testinfo.py
  test.sh
  test/project.py
  test/projectpermutation.py
  test/projects/test_baklava.py
  test/projects/test_even_odd.py
  test/projects/test_factorial.py
  test/projects/test_fizz_buzz.py
  test/projects/test_hello_world.py
  test/projects/test_job_sequencing.py
  test/projects/test_lcs.py
  test/projects/test_quine.py
  test/projects/test_reverse_string.py
  test/projects/test_sorting.py
Labels: Tests, enhancement

#1052 Added Verb to Download Images
  .travis.yml
  samplerunner.sh
  samplerunner/__main__.py
  samplerunner/containerfactory.py
  samplerunner/download.py
  samplerunner/project.py
  samplerunner/test.py
  test.sh
Labels: Tests, enhancement

#1050 C++ Testing
  archive/c/c-plus-plus/testinfo.yml
Labels: Tests, enhancement

#1054 Updated Pull Request Template
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
  README.md
Labels: enhancement

#1055 Messing Around with Pull Request Templates
  .github/PULL_REQUEST_TEMPLATE/ARTICLE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#1056 Abandoned Multiple Templates
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/ARTICLE.md
Labels: enhancement

#1057 Removed Front Matter from Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug

#1058 Removed Manual Line Endings from Pull Request Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#1059 Added Issue Template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: enhancement

#1060 Added JavaScript Testing
  archive/j/javascript/reverse-string.js
  archive/j/javascript/testinfo.yml
Labels: enhancement, tests

#1049 Added C Testing
  archive/c/c/even-odd.c
  archive/c/c/testinfo.yml
Labels: enhancement, tests

#836 Added Game of Life in Haskell
  archive/h/haskell/README.md
  archive/h/haskell/game-of-life.hs
Labels: enhancement, game of life

#1040 FileIO in Scala
  archive/s/scala/README.md
  archive/s/scala/file-io.scala
Labels: enhancement, file io

#1053 Added C# Testing
  archive/c/c-sharp/Baklava.cs
  archive/c/c-sharp/testinfo.yml
Labels: enhancement, tests

#985 Transitioned Visual Basic Language Article
  docs/languages/_posts/2019-03-30-visual-basic.md
Labels: article

#1063 Added Goby Testing
  archive/g/goby/testinfo.yml
Labels: enhancement, tests

#1068 Added Capitalize in Javascript
  archive/j/javascript/README.md
  archive/j/javascript/capitalize.js
  docs/_data/authors.yml
  docs/projects/capitalize/index.md
Labels: enhancement

#1061 Added Hello World in Goby Article
  docs/assets/images/hello-world-in-goby-featured-image.JPEG
  docs/projects/hello-world/_posts/2019-03-30-goby.md
Labels: article, hello world

#1066 Added Goby Language Article
  docs/languages/_posts/2019-03-31-goby.md
Labels: article
