Repository TheRenegadeCoder/sample-programs, pull requests merged in 2019-04, with the labels that each got.

#1074 Use alpine image for node
  archive/j/javascript/testinfo.yml
Labels: tests

#1073 Added Roman Numeral Testing
  archive/c/c-sharp/RomanNumeral.cs
  archive/g/go/baklava.go
  archive/g/go/even-odd.go
  archive/g/go/fizz-buzz.go
  archive/g/go/hello-world.go
  archive/g/go/lcs.go
  archive/g/go/prime.go
  archive/g/go/roman-numeral.go
  archive/g/go/string-reverse.go
  archive/h/haskell/roman-numeral.hs
  archive/p/python/roman_numeral.py
  samplerunner.sh
  samplerunner/source.py
  test/projects/test_roman_numeral.py
Labels: roman numeral, tests

#1077 Added FORTRAN Testing
  archive/f/fortran/baklava.f95
  archive/f/fortran/hello-world.f95
  archive/f/fortran/testinfo.yml
Labels: enhancement, tests

#1071 Transitioned Hello World in Kotlin Article
  docs/projects/hello-world/_posts/2019-04-03-kotlin.md
Labels: article, hello world

#1081 Added File IO in Scala Article
  docs/projects/file-io/_posts/2019-04-05-scala.md
Labels: article, file io

#1085 Modify test verb to exit with status code from pytest
  runner/__init__.py
  samplerunner/test.py
Labels: enhancement, tests

#1082 Added ROT-13 Testing
  archive/c/c-sharp/Rot13.cs
  archive/g/go/rot-13.go
  archive/h/haskell/rot-13.hs
  docs/projects/rot-13/index.md
  test/projects/test_rot_13.py
Labels: enhancement, rot-13, tests

#1087 Upgraded Jinja2 Dependency
  requirements-test.txt
Labels: bug

#1084 Added Fibonacci Testing
  archive/b/bash/fibonacci.sh
  archive/c/c-plus-plus/fibonacci.cpp
  archive/c/c-sharp/Fibonacci.cs
  archive/c/c/fibonacci.c
  archive/g/go/fibonacci.go
  archive/h/haskell/fibonacci.hs
  archive/j/java/Fibonacci.java
  archive/j/javascript/fibonacci.js
  archive/j/julia/fibonacci.jl
  archive/p/python/factorial.py
  archive/p/python/fibonacci.py
  archive/r/ruby/fibonacci.rb
  docs/projects/fibonacci/index.md
  test/projects/test_fibonacci.py
  test/projects/test_reverse_string.py
  test/projects/test_roman_numeral.py
  test/projects/test_rot_13.py
Labels: enhancement, fibonacci, tests

#1072 Transitioned Kotlin Language Article
  docs/languages/_posts/2019-03-31-kotlin.md
Labels: enhancement
