Repository TheRenegadeCoder/sample-programs, pull requests merged in 2019-10, with the labels that each got.

#1144 Added Reverse a String in Javascript Article
  docs/_data/authors.yml
  docs/projects/reverse-a-string/_posts/2019-10-01-javascript.md
Labels: article, reverse string

#1146 Added Hello World in TI-BASIC
  archive/t/ti-basic/README.MD
  archive/t/ti-basic/helloworld
Labels: enhancement, hello world

#1145 Added Bubble Sort in Bash
  archive/b/bash/README.md
  archive/b/bash/bubble-sort.sh
Labels: bubble sort, enhancement

#1152 Added Hello World in Lucee
  archive/l/lucee/README.md
  archive/l/lucee/hello-world.cfm
Labels: enhancement, hacktoberfest, hello world

#1151 Added bubble-sort in clojure
  archive/c/clojure/README.md
  archive/c/clojure/bubble-sort.clj
Labels: bubble sort, enhancement, hacktoberfest

#1157 Added zen_of_python in python
  archive/p/python/README.md
  archive/p/python/zen_of_python.py
Labels: enhancement

#1149 Added FizzBuzz in JavaScript Article
  docs/projects/fizz-buzz/_posts/2019-10-01-javascript.md
Labels: article, fizz buzz, hacktoberfest

#1158 Updated README to include Baklava in Elixir
  archive/e/elixir/README.md
Labels: baklava, bug

#1154 Added Hello World Sample Program in Apex Language
  archive/a/apex/HelloWorld.cls
  archive/a/apex/README.md
Labels: enhancement, hello world

#1155 Added bubble sort in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/bubble-sort.cpp
Labels: bubble sort, enhancement, hacktoberfest

#1165 Updated ReverseString in Lua
  archive/l/lua/reverse-string.lua
Labels: bug, reverse string

#1163 Added Bubble Sort in Erlang.
  archive/e/erlang/README.md
  archive/e/erlang/bubble_sort.erl
Labels: bubble sort, enhancement, hacktoberfest

#1168 Added Reversing a String in Lua Article
  docs/_data/authors.yml
  docs/projects/reverse-a-string/_posts/2019-10-03-lua.md
Labels: article, hacktoberfest, reverse string

#1167 Added Bubble Sort in Elixir
  archive/e/elixir/README.md
  archive/e/elixir/bubble-sort.ex
Labels: bubble sort, enhancement, hacktoberfest

#1173 Added Fizz Buzz in Erlang
  archive/e/erlang/README.md
  archive/e/erlang/fizz_buzz.erl
Labels: enhancement, fizz buzz, hacktoberfest

#1176 Added Bubble Sort in PHP
  archive/p/php/README.md
  archive/p/php/bubble-sort.php
Labels: bubble sort, enhancement, hacktoberfest

#1184 Added Baklava in Erlang
  .gitignore
  archive/e/erlang/README.md
  archive/e/erlang/baklava.erl
Labels: baklava, enhancement, hacktoberfest

#1186 Added Hello World in Whitespace
  archive/w/whitespace/README.md
  archive/w/whitespace/hello-world.ws
Labels: enhancement, hacktoberfest, hello world

#1181 Added Article for Fibonacci in JavaScript
  docs/_data/authors.yml
  docs/projects/fibonacci/_posts/_posts/2019-10-04-javascript.md
Labels: article, fibonacci, hacktoberfest

#1180 Added a few samples programs for TypeScript and JavaScript (W/docs)
  archive/j/javascript/README.md
  archive/j/javascript/export.js
  archive/j/javascript/import.js
  archive/t/typescript/README.md
  archive/t/typescript/capitalize.ts
  archive/t/typescript/export.ts
  archive/t/typescript/import.ts
  archive/t/typescript/reversingAString.ts
  docs/_data/authors.yml
  docs/projects/import-export/_posts/2019-10-01-javascript.md
  docs/projects/import-export/_posts/2019-10-01-typescript.md
  docs/projects/import-export/index.md
Labels: enhancement, hacktoberfest

#1192 Added Prime Number in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/prime-number.js
Labels: enhancement, hacktoberfest, prime number

#1193 Added Factorial in Kotlin
  archive/k/kotlin/Factorial.kt
Labels: enhancement, factorial, hacktoberfest

#1200 Added Reverse String in Erlang
  archive/e/erlang/README.md
  archive/e/erlang/reverse_string.erl
Labels: enhancement, hacktoberfest, reverse string

#1171 Added Hello World in Erlang Article
  archive/e/erlang/hello_world.erl
  docs/_data/authors.yml
  docs/assets/images/hello-world-in-erlang-featured-image.JPEG
  docs/projects/hello-world/_posts/2019-10-04-erlang.md
Labels: article, hacktoberfest, hello world

#1201 Updated Import/Export Project Title and Related Articles
  docs/projects/import-export/_posts/2019-10-01-javascript.md
  docs/projects/import-export/_posts/2019-10-01-typescript.md
  docs/projects/import-export/index.md
Labels: bug

#1202 Added Reverse String in Visual Basic Article
  archive/v/visual-basic/reverse-string.vb
  docs/projects/reverse-a-string/_posts/2019-10-07-visual-basic.md
Labels: article, reverse string

#1204 Added Factorial in Erlang
  archive/e/erlang/README.md
  archive/e/erlang/factorial.erl
Labels: enhancement, factorial, hacktoberfest

#1208 Fixed Type in GitHub Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug

#1221 Added Capitalize in bash
  archive/b/bash/README.md
  archive/b/bash/capitalize.sh
Labels: capitalize, enhancement, hacktoberfest

#1246 Add Even Odd in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/even-odd.cpp
Labels: enhancement, even/odd, hacktoberfest

#1243 Added Factorial in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/factorial.cpp
Labels: enhancement, factorial, hacktoberfest

#1241 Added Fizz Buzz in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/fizz-buzz.cpp
Labels: enhancement, fizz buzz, hacktoberfest

#1258 Add HelloWorld.p in P #172
  archive/p/p/HelloWorld.p
  archive/p/p/README.md
Labels: enhancement, hacktoberfest, hello world

#1257 Add factorial.sh in bash #1219
  archive/b/bash/README.md
  archive/b/bash/factorial.sh
Labels: enhancement, factorial, hacktoberfest

#1259 Added Insertion Sort in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/insertion-sort.cpp
Labels: enhancement, hacktoberfest, insertion sort

#1265 Fixed C++ README Ordering
  archive/c/c-plus-plus/README.md
Labels: bug

#1242 Added Capitalize in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/capitalize.cpp
Labels: capitalize, enhancement, hacktoberfest

#1264 Added ROT13 in Bash
  archive/b/bash/README.md
  archive/b/bash/rot13.sh
Labels: enhancement, hacktoberfest, rot-13

#1251 Added Game of Life in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/game-of-life.cpp
Labels: enhancement, game of life, hacktoberfest

#1516 Added Capitalize in C
  archive/c/c/README.md
  archive/c/c/capitalize.c
Labels: capitalize, enhancement, hacktoberfest

#1543 Fully specified the capitalize problem
  docs/projects/capitalize/index.md
Labels: capitalize, enhancement

#1541 Added capitalize in Python
  archive/p/python/README.md
  archive/p/python/capitalize.py
Labels: capitalize, enhancement, hacktoberfest

#1542 Added ROT13 in C
  archive/c/c/README.md
  archive/c/c/capitalize.c
  archive/c/c/rot-13.c
Labels: enhancement, hacktoberfest, rot-13

#1544 Add Factorial in PHP
  archive/p/php/README.md
  archive/p/php/factorial.php
Labels: enhancement, factorial, hacktoberfest

#1545 Added Capitalize in Go
  archive/g/go/README.md
  archive/g/go/capitalize.go
Labels: capitalize, enhancement, hacktoberfest

#1555 Added Hello World in LiveScript
  archive/l/livescript/README.md
  archive/l/livescript/hello-world.ls
Labels: enhancement, hacktoberfest, hello world

#1553 Added README.md for Perl 6
  archive/p/perl6/README.md
Labels: enhancement, hacktoberfest

#1557 Added Factorial in JavaScript
  .gitignore
  archive/j/javascript/README.md
  archive/j/javascript/factorial.js
Labels: enhancement, factorial, hacktoberfest

#1214 Added Longest Palindromic Substring in Python
  README.md
  archive/p/python/README.md
  archive/p/python/longest_palindrome_substring.py
  docs/assets/images/fizz-buzz.png
  docs/projects/longest-palindrome-substring/index.md
Labels: enhancement, hacktoberfest

#1551 Added Merge Sort in PHP
  archive/p/php/README.md
  archive/p/php/merge_sort.php
Labels: enhancement, hacktoberfest, merge sort

#1552 Added Hello World in Perl 6
  archive/p/perl6/hello_world.pm
Labels: enhancement, hacktoberfest, hello world

#1215 Define sleep sort
  docs/_data/authors.yml
  docs/projects/sleep-sort/index.md
Labels: article, enhancement

#1554 Updated Reverse A String in PHP
  archive/p/php/reverse-string.php
  archive/p/php/string_reverse.php
Labels: enhancement, hacktoberfest

#1561 Added File IO in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/fileIO.js
Labels: enhancement, file io, hacktoberfest

#1564 Added Insertion Sort in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/insertion-sort.js
Labels: enhancement, hacktoberfest, insertion sort

#1578 Fixed File Naming Convention for Testing Purposes
  archive/j/javascript/file-io.js
Labels: bug

#1573 Added Factorial in CoffeeScript
  archive/c/coffeescript/README.md
  archive/c/coffeescript/factorial.coffee
Labels: enhancement, factorial, hacktoberfest

#1580 Added Capitalize in Java
  archive/j/java/Capitalize.java
  archive/j/java/README.md
Labels: capitalize, enhancement, hacktoberfest

#1562 Added Capitalize in Clojure
  archive/c/clojure/README.md
  archive/c/clojure/capitalize.clj
Labels: capitalize, enhancement, hacktoberfest

#1581 Fixed broken links on README
  README.md
Labels: bug

#1577 Added Even/Odd in MATLAB
  archive/m/matlab/README.md
  archive/m/matlab/odd_even.m
Labels: enhancement, even/odd, hacktoberfest

#1582 Added Capitalize in Kotlin
  archive/k/kotlin/Capitalize.kt
  archive/k/kotlin/README.md
Labels: capitalize, enhancement, hacktoberfest

#1563 Added Reverse A String in Clojure
  archive/c/clojure/README.md
  archive/c/clojure/reverse-string.clj
Labels: enhancement, hacktoberfest, reverse string

#1585 Added Factorial in MATLAB
  archive/m/matlab/README.md
  archive/m/matlab/factorial.m
Labels: enhancement, factorial, hacktoberfest

#1583 Added Capitalize in C#
  archive/c/c-sharp/Capitalize.cs
  archive/c/c-sharp/README.md
Labels: capitalize, enhancement, hacktoberfest

#1575 Added Roman Numeral Conversion in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/roman-numeral.js
Labels: enhancement, hacktoberfest, roman numeral

#1579 Added Even/Odd in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/even-odd.js
Labels: enhancement, even/odd, hacktoberfest

#1213 Added Fibonacci in Swift
  archive/s/swift/README.md
  archive/s/swift/fibonacci.SWIFT
Labels: enhancement, fibonacci, hacktoberfest

#1586 Added Factorial in Elixir
  archive/e/elixir/README.md
  archive/e/elixir/factorial.ex
Labels: enhancement, factorial, hacktoberfest

#1594 Added baklava in groovy
  archive/g/groovy/Baklava.groovy
  archive/g/groovy/README.md
Labels: baklava, enhancement, hacktoberfest

#1595 Added Factorial in Groovy
  archive/g/groovy/Factorial.groovy
  archive/g/groovy/README.md
Labels: enhancement, factorial, hacktoberfest

#1591 Added Capitalize in PHP
  archive/p/php/README.md
  archive/p/php/capitalize.php
Labels: capitalize, enhancement, hacktoberfest

#1597 Added FileIO in Java
  archive/j/java/FileIo.java
  archive/j/java/README.md
Labels: enhancement, file io, hacktoberfest

#1598 Added/Updated ROT13 in PHP
  archive/p/php/README.md
  archive/p/php/rot13.php
Labels: enhancement, hacktoberfest, rot-13

#1600 Added Bubble Sort in Matlab
  archive/m/matlab/README.md
  archive/m/matlab/bubble_sort.m
Labels: bubble sort, enhancement, hacktoberfest

#1601 Add Longest Common Subsequence in Elixir
  archive/e/elixir/README.md
  archive/e/elixir/longest_common_subsequence.ex
Labels: enhancement, hacktoberfest, lcs

#1596 Create Insertion Sort in PHP
  archive/p/php/README.md
  archive/p/php/insertion-sort.php
Labels: enhancement, hacktoberfest, insertion sort

#1252 Added Baklava in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/baklava.cpp
Labels: baklava, enhancement, hacktoberfest

#1587 Added Longest Common Subsequence in Java & C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/lcs.cpp
  archive/j/java/README.md
  archive/j/java/lcs.java
Labels: enhancement, hacktoberfest, lcs

#1604 Added Quick Sort in Bash
  archive/b/bash/README.md
  archive/b/bash/quick-sort.sh
Labels: enhancement, hacktoberfest, quick sort

#1609 Added Roman Numeral Conversion in PHP
  archive/p/php/README.md
  archive/p/php/roman-numeral-conversion.php
Labels: enhancement, hacktoberfest, roman numeral

#1610 Added Prime Number in Bash
  archive/b/bash/README.md
  archive/b/bash/prime-num.sh
Labels: enhancement, hacktoberfest, prime number

#1614 Added File IO in PHP
  archive/p/php/README.md
  archive/p/php/file-io.php
Labels: enhancement, file io, hacktoberfest

#1615 Added Fibonacci in Lua
  archive/l/lua/README.md
  archive/l/lua/fibonacci.lua
Labels: enhancement, fibonacci, hacktoberfest

#1616 Added Prime Number in PHP
  archive/p/php/README.md
  archive/p/php/prime-number.php
Labels: enhancement, hacktoberfest, prime number

#1611 Added Reverse a String in Objective-C
  archive/o/objective-c/README.md
  archive/o/objective-c/reverse-string.m
Labels: enhancement, hacktoberfest, reverse string

#1617 Added Prime Number in MATLAB
  archive/m/matlab/README.md
  archive/m/matlab/prime_number.m
Labels: enhancement, hacktoberfest, prime number

#1618 Added Selection Sort in Java
  archive/j/java/README.md
  archive/j/java/SelectionSort.java
Labels: enhancement, hacktoberfest, selection sort

#1619 Added Minimum Spanning Tree in Python
  archive/p/python/README.md
  archive/p/python/minimum_spanning_tree.py
Labels: enhancement, hacktoberfest, min spanning tree

#1558 Added a c++ library for working with fractions.
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/fractions.cpp
  docs/_data/authors.yml
  docs/projects/fractions/_posts/2019-10-10-c-plus-plus.md
  docs/projects/fractions/index.md
Labels: enhancement, hacktoberfest

#1606 Split out test runner and replaced with glotter dependency
  .glotter.yml
  .travis.yml
  requirements-test.txt
  requirements.txt
  runner.py
  samplerunner.sh
  samplerunner/__main__.py
  samplerunner/containerfactory.py
  samplerunner/download.py
  samplerunner/project.py
  samplerunner/run.py
  samplerunner/source.py
  samplerunner/test.py
  samplerunner/testinfo.py
  test/projectpermutation.py
  test/projects/sorting/__init__.py
  test/projects/sorting/sorting_helpers.py
  test/projects/sorting/test_bubble_sort.py
  test/projects/sorting/test_insertion_sort.py
  test/projects/sorting/test_merge_sort.py
  test/projects/sorting/test_quick_sort.py
  test/projects/sorting/test_selection_sort.py
  test/projects/test_baklava.py
  test/projects/test_even_odd.py
  test/projects/test_factorial.py
  test/projects/test_fibonacci.py
  test/projects/test_file_io.py
  test/projects/test_fizz_buzz.py
  test/projects/test_hello_world.py
  test/projects/test_job_sequencing.py
  test/projects/test_lcs.py
  test/projects/test_prime.py
  test/projects/test_quine.py
  test/projects/test_reverse_string.py
  test/projects/test_roman_numeral.py
  test/projects/test_rot_13.py
Labels: enhancement, tests

#1630 Revert "Split out test runner and replaced with glotter dependency"
  .glotter.yml
  .travis.yml
  requirements-test.txt
  requirements.txt
  runner.py
  samplerunner.sh
  samplerunner/__init__.py
  samplerunner/__main__.py
  samplerunner/containerfactory.py
  samplerunner/download.py
  samplerunner/project.py
  samplerunner/run.py
  samplerunner/source.py
  samplerunner/test.py
  samplerunner/testinfo.py
  test/projectpermutation.py
  test/projects/sorting/test_bubble_sort.py
  test/projects/sorting/test_insertion_sort.py
  test/projects/sorting/test_merge_sort.py
  test/projects/sorting/test_quick_sort.py
  test/projects/sorting/test_selection_sort.py
  test/projects/test_baklava.py
  test/projects/test_even_odd.py
  test/projects/test_factorial.py
  test/projects/test_fibonacci.py
  test/projects/test_file_io.py
  test/projects/test_fizz_buzz.py
  test/projects/test_hello_world.py
  test/projects/test_job_sequencing.py
  test/projects/test_lcs.py
  test/projects/test_prime.py
  test/projects/test_quine.py
  test/projects/test_reverse_string.py
  test/projects/test_roman_numeral.py
  test/projects/test_rot_13.py
  test/projects/test_sorting.py
Labels: bug

#1608 Added Insertion Sort in Java
  archive/j/java/InsertionSort.java
  archive/j/java/README.md
Labels: enhancement, hacktoberfest, insertion sort

#1613 Added Factorial in Perl
  archive/p/perl/README.md
  archive/p/perl/factorial.pl
Labels: enhancement, factorial, hacktoberfest

#1641 Added Prime Numbers in C
  archive/c/c/README.md
  archive/c/c/prime-number.c
Labels: enhancement, hacktoberfest, prime number

#1642 Added Game of Life in PHP
  archive/p/php/README.md
  archive/p/php/game-of-life.php
Labels: enhancement, game of life, hacktoberfest

#1624 Added PHP Testing
  archive/p/php/bubble-sort.php
  archive/p/php/factorial.php
  archive/p/php/fibonacci.php
  archive/p/php/file-io.php
  archive/p/php/insertion-sort.php
  archive/p/php/merge-sort.php
  archive/p/php/prime-number.php
  archive/p/php/reverse-string.php
  archive/p/php/roman-numeral.php
  archive/p/php/rot-13.php
  archive/p/php/testinfo.yml
Labels: tests

#1640 Add bat script for running samples from windows
  samplerunner.bat
Labels: enhancement

#1643 WIP: Added Elixir Testing
  archive/e/elixir/bubble-sort.ex
  archive/e/elixir/factorial.ex
  archive/e/elixir/hello-world.ex
  archive/e/elixir/lcs.ex
  archive/e/elixir/longest_common_subsequence.ex
  archive/e/elixir/testinfo.yml
Labels: enhancement

#1629 Added Merge Sort in C
  archive/c/c/README.md
  archive/c/c/merge-sort.c
Labels: enhancement, hacktoberfest, merge sort

#1645 Added Reverse a String in Dart Article
  archive/d/dart/README.md
  docs/_data/authors.yml
  docs/projects/reverse-a-string/_posts/2019-10-16-dart.md
Labels: article, reverse string

#1647 Added Convex Hull in Javascript
  archive/j/javascript/README.md
  archive/j/javascript/convex-hull.js
Labels: convex hull, enhancement, hacktoberfest

#1625 Updated test_factorial in Python. Issue '#1621'
  archive/c/c-sharp/Factorial.cs
  archive/c/c/factorial.c
  archive/j/java/Factorial.java
  archive/j/javascript/factorial.js
  archive/p/perl/factorial.pl
  archive/p/python/factorial.py
  test/projects/test_factorial.py
Labels: bug

#1659 Fixed invalid input cases for factorial in elixir
  archive/e/elixir/factorial.ex
Labels: bug, factorial

#1660 Added Merge Sort in Java
  archive/j/java/MergeSort.java
  archive/j/java/README.md
Labels: enhancement, hacktoberfest, merge sort

#1661 Added Fizz Buzz in Objective-C
  archive/o/objective-c/README.md
  archive/o/objective-c/fizz-buzz.m
Labels: enhancement, fizz buzz, hacktoberfest

#1658 Added Prime Number in Java
  archive/j/java/PrimeNumber.java
  archive/j/java/README.md
Labels: enhancement, hacktoberfest, prime number

#1665 Updated Hello World in Nim format
  archive/n/nim/hello_world.nim
Labels: bug

#1652 Added FileIO in Kotlin
  archive/k/kotlin/README.md
  archive/k/kotlin/fileio.kt
Labels: enhancement, file io, hacktoberfest

#1666 Added Selection Sort in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/selection-sort.js
Labels: enhancement, hacktoberfest, selection sort

#1668 Added Test Case for Mixed Case Strings
  docs/projects/capitalize/index.md
Labels: enhancement

#1667 Added Nim to Test Suite
  archive/n/nim/testinfo.yml
Labels: enhancement, tests

#1672 Added Even/Odd in PHP
  archive/p/php/README.md
  archive/p/php/even-odd.php
Labels: enhancement, even/odd, hacktoberfest

#1547 Added File IO in Perl
  archive/j/java/PrimeNumber.java
  archive/p/perl/README.md
  archive/p/perl/file-io.pl
Labels: enhancement, hacktoberfest, prime number

#1653 Added Even/Odd in Perl
  archive/p/perl/README.md
  archive/p/perl/even-odd.pl
Labels: enhancement, even/odd, hacktoberfest

#1680 Added Capitalize in Dart
  archive/d/dart/README.md
  archive/d/dart/capitalize.dart
Labels: capitalize, enhancement, hacktoberfest

#1590 Added Bubblesort in Javascript
  archive/j/javascript/README.md
  archive/j/javascript/bubble-sort.js
Labels: bubble sort, enhancement, hacktoberfest

#1670 Added Fibonacci in Nim
  archive/n/nim/README.md
  archive/n/nim/fibonacci.nim
  archive/n/nim/hello-world.nim
Labels: enhancement, fibonacci, hacktoberfest

#1685 Added/Updated Capitalize in Lua
  archive/l/lua/README.md
  archive/l/lua/capitalize.lua
Labels: capitalize, enhancement, hacktoberfest

#1677 Added Capitalize in Perl
  archive/p/perl/README.md
  archive/p/perl/capitalize.pl
Labels: capitalize, enhancement, hacktoberfest

#1674 Added Even/Odd in Dart
  archive/d/dart/README.md
  archive/d/dart/even-odd.dart
Labels: enhancement, even/odd, hacktoberfest

#1687 Added Even/Odd in Lua
  archive/l/lua/README.md
  archive/l/lua/even-odd.lua
Labels: enhancement, even/odd, hacktoberfest

#1678 Added Rot13 in Dart
  archive/d/dart/README.md
  archive/d/dart/rot-13.dart
Labels: enhancement, hacktoberfest, rot-13

#1689 Add information about testing to contributing document
  .github/CONTRIBUTING.md
Labels: enhancement

#1690 Added Dart Testing
  archive/d/dart/even-odd.dart
  archive/d/dart/testinfo.yml
Labels: tests

#1696 Added Insertion Sort in C
  archive/c/c/README.md
  archive/c/c/insertion-sort.c
Labels: enhancement, hacktoberfest, insertion sort

#1697 Added Bubble Sort in Dart
  archive/d/dart/README.md
  archive/d/dart/bubble-sort.dart
Labels: bubble sort, enhancement, hacktoberfest

#1651 Added Quick Sort in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/quick-sort.js
Labels: enhancement, hacktoberfest, quick sort

#1635 Added Binary Search for JAVA.
  archive/j/java/BinarySearch.java
  archive/j/java/README.md
Labels: enhancement, hacktoberfest

#1698 Added Game of Life in Bash
  archive/b/bash/README.md
  archive/b/bash/game-of-life.sh
Labels: enhancement, game of life, hacktoberfest

#1639 Added Selection Sort PHP
  archive/p/php/README.md
  archive/p/php/selection-sort.php
Labels: enhancement, hacktoberfest, selection sort

#1699 Added rot-13 in Lua
  archive/l/lua/README.md
  archive/l/lua/rot-13.lua
Labels: enhancement, hacktoberfest, rot-13

#1700 Added Quine in PHP
  archive/p/php/README.md
  archive/p/php/quine.php
Labels: enhancement, hacktoberfest, quine

#1701 Added Quine in C
  archive/c/c/README.md
  archive/c/c/quine.c
Labels: enhancement, hacktoberfest, quine

#1702 Added Quine in Perl
  archive/p/perl/README.md
  archive/p/perl/quine.pl
Labels: enhancement, hacktoberfest, quine

#1588 Added Fizz Buzz in Every Language to README
  README.md
Labels: enhancement

#1637 Added Quick Sort in PHP
  archive/p/php/README.md
  archive/p/php/quick-sort.php
Labels: enhancement, hacktoberfest, quick sort

#1599 Added Prime Number in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/prime-number.cpp
Labels: enhancement, hacktoberfest, prime number

#1711 Added Quine in Kotlin
  archive/k/kotlin/Quine.kt
  archive/k/kotlin/README.md
Labels: enhancement, hacktoberfest, quine

#1703 Added Article for Fizz Buzz in Lisp
  archive/j/java/README.md
  archive/l/lisp/README.md
  docs/projects/fizz-buzz/_posts/2019-10-18-lisp.md
  docs/projects/hello-world/_posts/2018-11-27-befunge.md
Labels: article, fizz buzz

#1717 Added Befunge Programming language article
  docs/languages/_posts/2019-04-21-kotlin.md
  docs/languages/_posts/2019-10-19-befunge.md
Labels: article

#1718 Added C++ Programming language article
  docs/languages/_posts/2019-10-19-c-plus-plus.md
Labels: article, hacktoberfest

#1719 Added Java Programming Language article
  docs/languages/_posts/2019-10-19-java.md
Labels: article, hacktoberfest

#1714 Added Clojure Testing; Updated reverse-string and bubble-sort in Clojure
  archive/c/clojure/bubble-sort.clj
  archive/c/clojure/reverse-string.clj
  archive/c/clojure/testinfo.yml
Labels: enhancement, tests

#1726 Added Fibonacci in Dart
  archive/d/dart/README.md
  archive/d/dart/fibonacci.dart
Labels: enhancement, fibonacci, hacktoberfest

#1727 Added Capitalize in Dart Article
  docs/projects/capitalize/_post/2019-10-21-dart.md
Labels: article, capitalize

#1729 Added Baklava in Dart
  archive/d/dart/README.md
  archive/d/dart/baklava.dart
Labels: baklava, enhancement, hacktoberfest

#1715 Adding Merge Sort in Groovy
  archive/g/groovy/MergeSort.groovy
  archive/g/groovy/README.md
Labels: enhancement, hacktoberfest, merge sort

#1722 Added LCS in C
  archive/c/c/README.md
  archive/c/c/lcs.c
Labels: enhancement, hacktoberfest, lcs

#1713 Added Minimum Spanning Tree in C
  archive/c/c/README.md
  archive/c/c/minimum-spanning-tree.c
Labels: enhancement, hacktoberfest, min spanning tree
