Repository TheRenegadeCoder/sample-programs, pull requests merged in 2019-01, with the labels that each got.

#938 Added Even Odd in Java
  archive/j/java/EvenOdd.java
  archive/j/java/README.md
Labels: enhancement, even/odd

#940 Fibonacci in PHP
  archive/p/php/README.md
  archive/p/php/fibonacci.php
Labels: enhancement, fibonacci

#943 Bubble Sort in C
  archive/c/c/README.md
  archive/c/c/bubble-sort.c
Labels: bubble sort, enhancement

#945 Added Even Odd Featured Image
  docs/assets/images/even-odd-in-every-language-featured-image.JPEG
  docs/projects/even-odd/index.md
Labels: enhancement

#948 Added Projects Featured Image
  docs/assets/images/projects-in-every-language-featured-image.JPEG
  docs/projects/index.md
Labels: enhancement

#949 Selection Sort in Python
  docs/assets/images/selection-sort-in-python-featured-image.JPEG
  docs/projects/bubble-sort/_posts/2018-12-19-python.md
  docs/projects/selection-sort/_posts/2019-01-14-python.md
Labels: article, selection sort

#951 Added Programming Languages Featured Image
  docs/assets/images/programming-languages-featured-image.JPEG
  docs/languages/index.md
Labels: enhancement

#952 Prime Numbers in Python Article
  archive/p/python/prime-number.py
  docs/assets/images/prime-numbers-in-python-featured-image.JPEG
  docs/projects/prime-number/_posts/2019-01-17-python.md
Labels: article, prime number

#955 Quick Sort Article in Python
  docs/assets/images/quick-sort-in-python-featured-image.JPEG
  docs/projects/quick-sort/_posts/2019-01-17-python.md
  docs/projects/selection-sort/_posts/2019-01-14-python.md
Labels: article, quick sort

#959 WIP: Transitioned Hello World in Bash Article
  docs/projects/hello-world/_posts/2019-01-29-bash.md
Labels: article, hello world

#958 Insertion Sort in Python Article
  archive/p/python/insertion-sort.py
  docs/assets/images/insertion-sort-in-python-featured-image.JPEG
  docs/projects/bubble-sort/_posts/2018-12-19-python.md
  docs/projects/insertion-sort/_posts/2019-01-29-python.md
  docs/projects/selection-sort/_posts/2019-01-14-python.md
Labels: article, insertion sort
