Repository TheRenegadeCoder/sample-programs, pull requests merged in 2019-07, with the labels that each got.

#1107 Added Even Odd in Groovy
  archive/g/groovy/EvenOdd.groovy
  archive/g/groovy/README.md
Labels: enhancement, even/odd

#1103 Transitioned Hello World in Haskell Article
  docs/_data/references.yml
  docs/languages/_posts/2019-07-01-haskell.md
  docs/projects/hello-world/_posts/2019-07-01-haskell.md
Labels: article, hello world

#1109 Added Reverse A String in Groovy
  archive/g/groovy/README.md
  archive/g/groovy/ReverseAString.groovy
Labels: enhancement, reverse string

#1113 Updated fizz-buzz.rs in Rust
  archive/r/rust/fizz-buzz.rs
Labels: bug, fizz buzz

#1101 Added Baklava in Elixir
  archive/e/elixir/baklava.ex
Labels: enhancement

#1116 Added String Reverse in PHP
  archive/p/php/README.md
  archive/p/php/string_reverse.php
Labels: enhancement, reverse string

#1115 Added rot-13.rs in Rust
  archive/r/rust/README.md
  archive/r/rust/rot-13.rs
Labels: enhancement, rot-13

#1120 Added Palindrome Word in PHP
  archive/p/php/README.md
  archive/p/php/palindromes.php
Labels: enhancement

#1104 Transitioned Hello World in Racket Article
  docs/_data/references.yml
  docs/languages/_posts/2019-07-25-racket.md
  docs/projects/hello-world/_posts/2019-07-25-racket.md
Labels: article, hello world
