Repository TheRenegadeCoder/sample-programs, pull requests merged in 2019-05, with the labels that each got.

#1088 Transitioned Hello World in Julia Article
  docs/_data/references.yml
  docs/_includes/blog_reference.md
  docs/languages/_posts/2019-05-01-julia.md
  docs/projects/hello-world/_posts/2019-05-01-julia.md
Labels: article, hello world

#1091 Fixed Reference Template Bug
  docs/_includes/blog_reference.html
  docs/languages/_posts/2019-05-01-julia.md
  docs/projects/hello-world/_posts/2019-05-01-julia.md
Labels: enhancement

#1092 Changed Reference ID Logic
  docs/_includes/blog_reference.md
  docs/languages/_posts/2019-05-01-julia.md
  docs/projects/hello-world/_posts/2019-05-01-julia.md
Labels: bug

#1093 Added Prime Number Testing
  archive/c/c-sharp/PrimeNumber.cs
  archive/g/go/prime-number.go
  archive/g/go/prime.go
  archive/h/haskell/prime-number.hs
  archive/p/python/prime_number.py
  docs/projects/prime-number/index.md
  samplerunner/project.py
  test/projects/test_prime.py
Labels: prime number, tests

#1089 Transitioned Hello World in Wren Article
  docs/_data/references.yml
  docs/languages/_posts/2019-05-02-wren.md
  docs/projects/hello-world/_posts/2019-05-02-wren.md
  docs/templates/CODE_ARTICLE_TEMPLATE.md
  docs/templates/LANGUAGE_ARTICLE_TEMPLATE.md
  docs/templates/PROJECT_ARTICLE_TEMPLATE.md
Labels: article, hello world

#1094 Transitioned Hello World in Elm
  docs/_data/references.yml
  docs/languages/_posts/2019-05-07-elm.md
  docs/projects/hello-world/_posts/2019-05-07-elm.md
Labels: article, hello world

#1095 Transitioned Hello World in Hack
  docs/_data/references.yml
  docs/languages/_posts/2019-05-07-hack.md
  docs/projects/hello-world/_posts/2019-05-07-hack.md
Labels: enhancement

#1096 Added File IO Testing
  samplerunner/source.py
  test/projects/test_file_io.py
Labels: file io, tests

#1097 Transitioned Hello World in Pascal Article
  docs/_data/references.yml
  docs/languages/_posts/2019-05-12-pascal.md
  docs/projects/hello-world/_posts/2019-05-12-pascal.md
Labels: article, hello world

#1098 Transitioned Hello World in Elixir Article
  docs/_data/references.yml
  docs/languages/_posts/2019-05-16-elixir.md
  docs/projects/hello-world/_posts/2019-05-16-elixir.md
Labels: article, hello world

#1090 Added Fizz Buzz in Elixir
  archive/e/elixir/README.md
  archive/e/elixir/fizz-buzz.ex
Labels: enhancement, fizz buzz

#1100 Transitioned Hello World in Perl Article
  docs/_data/references.yml
  docs/languages/_posts/2019-05-29-perl.md
  docs/projects/hello-world/_posts/2019-05-07-perl.md
Labels: article, hello world

#1099 Transitioned Hello World in Scala Article
  docs/_data/references.yml
  docs/languages/_posts/2019-05-29-scala.md
  docs/projects/hello-world/_posts/2019-05-29-scala.md
Labels: article, hello world
