Repository TheRenegadeCoder/sample-programs, pull requests merged in 2019-02, with the labels that each got.

#964 Transitioned Bash Language Article
  docs/languages/_posts/2019-01-30-bash.md
Labels: article

#966 Transitioned Hello World in C++ Article
  docs/projects/hello-world/_posts/2019-02-14-c-plus-plus.md
Labels: article, hello world

#968 Merge Sort Article in Python
  docs/assets/images/merge-sort-in-python-featured-image.JPEG
  docs/projects/merge-sort/_posts/2019-02-17-python.md
Labels: article, merge sort

#975 Add Factorial in Go
  archive/g/go/README.md
  archive/g/go/factorial.go
Labels: enhancement, factorial

#978 Added Fibonacci in Go
  archive/g/go/README.md
  archive/g/go/fibonacci.go
Labels: enhancement, fibonacci
