Repository TheRenegadeCoder/sample-programs, pull requests merged in 2019-11, with the labels that each got.

#1846 Added Quick Sort in Java
  archive/j/java/QuickSort.java
  archive/j/java/README.md
Labels: enhancement, hacktoberfest, quick sort

#1836 Added File IO in lua
  archive/l/lua/README.md
  archive/l/lua/file-io.lua
Labels: enhancement, file io, hacktoberfest

#1797 Added Dijkstra in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/dijkstra.cpp
Labels: enhancement, hacktoberfest

#1850 Added Fibonacci in Scheme
  archive/s/scheme/README.md
  archive/s/scheme/fibonacci.scm
Labels: enhancement, factorial, hacktoberfest

#1810 Added Quick Sort in Dart
  archive/d/dart/quick-sort.dart
Labels: enhancement, hacktoberfest, quick sort

#1831 Added Factorial in Rust
  archive/r/rust/factorial.rs
Labels: enhancement, factorial, hacktoberfest

#1841 Updated Rust README with added programs and fun facts
  archive/r/rust/README.md
Labels: enhancement

#1843 Added Fibonacci in Racket
  archive/r/racket/README.md
  archive/r/racket/fibonacci.rkt
Labels: enhancement, fibonacci, hacktoberfest

#1847 Added Hello World in Gerbil
  archive/g/gerbil/README.md
  archive/g/gerbil/hello_world.ss
Labels: enhancement, hello world

#1844 Added Factorial in Racket
  archive/r/racket/factorial.rkt
Labels: enhancement, factorial, hacktoberfest

#1840 Added Even/Odd in Ruby
  archive/r/ruby/even-odd.rb
Labels: enhancement, even/odd

#1855 Added Even Odd to Ruby README
  archive/r/ruby/README.md
Labels: enhancement, even/odd

#1833 Added Prime Number Check Program in Rust
  archive/r/prime-number.rs
Labels: enhancement, hacktoberfest, prime number

#1856 Added Prime Number to Rust README
  archive/p/perl/README.md
Labels: enhancement, prime number

#1829 Added Even/Odd in Rust
  archive/r/rust/even-odd.rs
Labels: enhancement, even/odd, hacktoberfest

#1835 Added Prime Number in Perl
  archive/p/perl/prime-number.pl
Labels: enhancement, hacktoberfest, prime number

#1849 Added Quick Sort in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/quick-sort.cpp
Labels: enhancement, quick sort

#1253 Added Insertion Sort in C++ Article
  docs/projects/insertion-sort/_posts/2019-10-09-c-plus-plus.md
Labels: article, enhancement, hacktoberfest, insertion sort

#1724 Added Reverse a String in Apex
  archive/a/apex/ReverseString.cls
Labels: enhancement, hacktoberfest, reverse string

#1681 Added Linear Search in Python + Documentation
  archive/p/python/README.md
  archive/p/python/linear-search.py
  docs/projects/.DS_Store
  docs/projects/linear-search/_posts/2019-10-17-python.md
  docs/projects/linear-search/index.md
Labels: enhancement, hacktoberfest

#1768 Added FizzBuzz in R
  archive/r/r/README.md
  archive/r/r/fizz-buzz.R
Labels: enhancement, fizz buzz, hacktoberfest

#1765 Added Fibonacci in MATLAB
  archive/m/matlab/fibonacci.m
Labels: enhancement, fibonacci, hacktoberfest

#1766 Added Fibonacci to MATLAB README
  archive/m/matlab/README.md
Labels: enhancement, fibonacci

#1857 Added Baklava in Lisp
  archive/l/lisp/README.md
  archive/l/lisp/baklava.lsp
Labels: baklava, enhancement

#1860 Added Game of Life in Dart
  archive/d/dart/README.md
  archive/d/dart/game-of-life.dart
  archive/d/dart/game-of-life.html
Labels: enhancement, game of life
