Repository TheRenegadeCoder/sample-programs, pull requests merged in 2020-04, with the labels that each got.

#1782 Added Capitalize in Rust
  archive/r/rust/capitalize.rs
Labels: capitalize, enhancement, hacktoberfest

#1873 Added Hello World in Batch
  archive/b/batch/HelloWorld.cmd
  archive/b/batch/README.md
Labels: enhancement

#1874 Added Hello World in MASM
  archive/m/microsoft-macro-assembler/hello-world.asm
Labels: enhancement, hello world
