Repository TheRenegadeCoder/sample-programs, pull requests merged in 2020-11, with the labels that each got.

#2352 Added Export in C
  archive/c/c/export.c
Labels: enhancement, import/export

#2353 Added Import in C
  archive/c/c/import.c
Labels: enhancement, import/export

#2357 Added Import in C++
  archive/c/c-plus-plus/import.cpp
Labels: enhancement, import/export

#2356 Added Export in C++
  archive/c/c-plus-plus/export.cpp
Labels: enhancement, import/export

#2355 Added Import/Export in C++ README
  archive/c/c-plus-plus/README.md
Labels: enhancement, import/export

#2216 Cleaned Up Pascal README
  archive/p/pascal/README.md
Labels: enhancement

#2359 Added Link to Pascal Documentation in Pascal README
  archive/p/pascal/README.md
Labels: enhancement

#2360 Converted Perl 6 to Raku
  archive/p/perl6/hello_world.pm
  archive/r/raku/README.md
  archive/r/raku/hello_world.raku
  archive/r/raku/testinfo.yml
Labels: enhancement

#2056 Added Maximum Subarray in Python
  archive/p/python/maximum_subarray.py
Labels: enhancement, needs tests

#2361 Updated ABAP README to Match New Requirements
  archive/a/abap/README.md
Labels: enhancement

#2365 Updated Apex README to Match New Requirements
  archive/a/apex/README.md
Labels: enhancement

#2363 Updated Agda README to Match New Requirements
  archive/a/agda/README.md
Labels: enhancement

#2316 Add Hello World in Gosu
  archive/g/gosu/README.md
  archive/g/gosu/hello-world.gsp
Labels: enhancement, hello world

#2362 Added Ada Testing
  archive/a/ada/README.md
  archive/a/ada/testinfo.yml
Labels: enhancement, tests

#2364 Updated ALGOL 68 README to Match New Requirements
  archive/a/algol68/README.md
Labels: enhancement

#2366 Updated AppleScript README to Match New Requirements
  archive/a/applescript/README.md
Labels: enhancement

#2367 Updated ArkScript README to Match New Requirements
  archive/a/arkscript/README.md
Labels: enhancement

#2368 Added Astro README
  archive/a/astro/README.md
Labels: enhancement

#2369 Added AutoHotKey README
  archive/a/autohotkey/README.md
Labels: enhancement

#2370 Updated C++ README to Match New Requirements
  archive/c/c-plus-plus/README.md
Labels: enhancement

#2371 Updated C* README to Match New Requirements
  archive/c/c-star/README.md
Labels: enhancement

#2372 Updated C# README to Match New Requirements
  archive/c/c-sharp/README.md
Labels: enhancement
