Repository TheRenegadeCoder/sample-programs, pull requests merged in 2020-08, with the labels that each got.

#1880 Swapped Gitter out for Discord
  README.md
Labels: enhancement

#1881 Changed 1-Day Link to Lifetime
  README.md
Labels: bug

#1884 Removed Article Related Issue Templates
  .github/ISSUE_TEMPLATE/language-article-request.md
  .github/ISSUE_TEMPLATE/sample-program-article-request.md
Labels: enhancement

#1885 Removed Article Related Notes from Contribution Document
  .github/CONTRIBUTING.md
Labels: enhancement

#1886 Simplified the README
  README.md
Labels: enhancement

#1825 Added first_non_repeating_character.py in Python
  archive/p/python/first_non_repeating_character.py
Labels: enhancement, hacktoberfest

#1888 Updated befunge article links
  archive/b/befunge/README.md
Labels: enhancement
