Repository TheRenegadeCoder/sample-programs, pull requests merged in 2020-10, with the labels that each got.

#1891 Added Fun Fact to Java
  archive/j/java/HelloWorld.java
  archive/j/java/README.md
Labels: enhancement

#1894 Updated Bubble Sort in Go
  archive/g/go/bubble-sort.go
Labels: bubble sort, enhancement

#1901 Added FizzBuzz Program in MATLAB
  archive/m/matlab/README.md
  archive/m/matlab/fizzBuzz.m
Labels: fizz buzz

#1911 Increased Readability and Corrected Misspelt words
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#1916 Added Linear Search in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/linear-search.js
Labels: enhancement, linear search

#1921 Updated InsertionSort in Java
  archive/j/java/InsertionSort.java
Labels: enhancement, insertion sort

#1922 Added Selection Sort in Kotlin
  archive/k/kotlin/selectionSort.kt
Labels: enhancement, selection sort

#1924 Added Factorial in Objective-C
  .gitignore
  archive/o/objective-c/README.md
  archive/o/objective-c/factorial.m
Labels: enhancement, factorial

#1920 Added Bubble sort in Perl
  archive/p/perl/bubble-sort.pl
Labels: bubble sort, enhancement

#1929 Added Insertion Sort in Perl
  archive/p/perl/insertion-sort.pl
Labels: enhancement, insertion sort

#1937 Added Fibonacci in Objective-C
  archive/l/lisp/README.md
  archive/l/lisp/prime-number.lsp
  archive/o/objective-c/README.md
  archive/o/objective-c/fibonacci.m
Labels: enhancement, fibonacci

#1967 Added Factorial in Julia
  archive/j/julia/factorial.jl
Labels: enhancement, factorial

#1939 Added Selection Sort in Julia
  archive/j/julia/selection-sort.jl
Labels: enhancement, selection sort

#1961 Added FizzBuzz in Fortran
  archive/f/fortran/fizz-buzz.f95
Labels: enhancement, fizz buzz

#1977 Added Factorial in Lisp
  archive/l/lisp/README.md
  archive/l/lisp/factorial.lsp
Labels: enhancement, factorial

#1987 Added FizzBuzz in Visual Basic
  archive/v/visual-basic/README.md
  archive/v/visual-basic/fizz-buzz.vb
Labels: enhancement, fizz buzz

#1976 Added Bubble Sort in VB
  archive/v/visual-basic/README.md
  archive/v/visual-basic/bubble-sort.vb
Labels: bubble sort, enhancement

#1989 Added Sleep sort in Python
  archive/p/python/README.md
  archive/p/python/sleep_sort.py
Labels: enhancement, sleep sort

#1992 Missing fibonacci.pl fixed
  archive/p/perl/fibonacci.pl
Labels: enhancement, fibonacci

#1946 Added Fractions in Swift
  archive/s/swift/README.md
  archive/s/swift/fractions.swift
Labels: enhancement

#1957 Added FizzBuzz Program in CoffeeScript
  archive/c/coffeescript/README.md
  archive/c/coffeescript/fizzbuzz.coffee
Labels: enhancement, fizz buzz

#1971 Added Fizz Buzz in Dart
  archive/d/dart/README.md
  archive/d/dart/fizz-buzz.dart
Labels: enhancement, fizz buzz

#1910 Updated GameOfLife in Java
  archive/j/java/GameOfLife.java
  archive/j/java/PrimeNumber.java
Labels: enhancement, game of life

#1940 Added Longest Palindromic Substring in Go
  archive/g/go/README.md
  archive/g/go/longest_palindrome.go
Labels: enhancement

#2046 added fizzbuzz in racket
  archive/r/racket/README.md
  archive/r/racket/fizzbuzz.rkt
Labels: enhancement, fizz buzz

#2038 Added HelloWorld and Fibonacci in Boo
  archive/b/boo/README.md
  archive/b/boo/fibonacci.boo
  archive/b/boo/helloworld.boo
Labels: enhancement, fibonacci, hello world

#2035 Selection Sort in MATLAB
  archive/m/matlab/README.md
  archive/m/matlab/selection_sort.m
Labels: enhancement, selection sort

#2055 Added Hello World in Modula 2 #1872
  archive/m/modula2/README.md
  archive/m/modula2/hello-world.mod
Labels: enhancement, hello world

#2039 Added Selection sort in C
  archive/c/c/README.md
  archive/c/c/selection-sort.c
Labels: enhancement, selection sort

#2064 Organized Julia Programs into Alphabetical Order
  archive/j/julia/README.md
Labels: enhancement

#1960 Added FizzBuzz in LOLCODE
  .gitignore
  archive/l/lolcode/README.md
  archive/l/lolcode/fizzbuzz.lol
Labels: enhancement, fizz buzz

#2001 Update README.md
  archive/p/python/README.md
Labels: enhancement

#1979 Added Merge Sort in Kotlin
  archive/k/kotlin/mergeSort.kt
Labels: enhancement, merge sort

#2034 Added File IO in MATLAB
  archive/m/matlab/README.md
  archive/m/matlab/file_io.m
Labels: enhancement, file io

#2069 Added Reverse String in LISP
  archive/l/lisp/reversestring.lsp
Labels: enhancement, reverse string

#2057 Updated File IO in Python
  archive/p/python/file_io.py
Labels: enhancement

#2068 Added Linear Search Testing
  .glotter.yml
  archive/j/javascript/linear-search.js
  archive/p/python/linear_search.py
  runner.py
  test/projects/test_linear_search.py
Labels: enhancement, linear search

#2086 Added Binary Search in Rust
  archive/r/rust/README.md
  archive/r/rust/binary-search.rs
Labels: binary search, enhancement

#2033 Added Reverse a String in MATLAB
  archive/m/matlab/README.md
  archive/m/matlab/reverse_a_string.m
Labels: enhancement, reverse string

#2108 Added Merge Sort in Rust
  archive/r/rust/README.md
  archive/r/rust/merge-sort.rs
Labels: enhancement, merge sort

#2105 Added Insertion Sort in Rust
  archive/r/rust/README.md
  archive/r/rust/insertion-sort.rs
Labels: enhancement, insertion sort

#2078 Update README.md
  archive/p/python/README.md
Labels: enhancement

#2076 Added Fibonacci in Quack
  archive/q/quack/README.md
  archive/q/quack/fibonacci.qk
Labels: enhancement, fibonacci

#2114 Added Bubble Sort in Rust
  archive/r/rust/README.md
  archive/r/rust/bubble-sort.rs
Labels: bubble sort, enhancement

#2077 Added Merge Sort in Objective-c
  archive/o/objective-c/README.md
  archive/o/objective-c/merge-sort.m
Labels: enhancement, merge sort

#2096 Added Hello World in ArkScript
  archive/a/arkscript/README.md
  archive/a/arkscript/hello-world.ark
Labels: enhancement, hello world

#2119 Added Hello World in P4
  archive/p/p4/README.md
  archive/p/p4/helloworld.p4
Labels: enhancement, hello world

#2143 Added Fibonacci in Lisp
  archive/l/lisp/README.md
  archive/l/lisp/fibonacci.lsp
  archive/l/lisp/quicksort.lisp
Labels: enhancement, fibonacci

#2133 Added Quine in CoffeeScript
  archive/c/coffeescript/README.md
  archive/c/coffeescript/quine.coffee
Labels: enhancement, quine

#2136 Added Hello Word in Pinecone
  archive/p/pinecone/README.md
  archive/p/pinecone/hello_world.pn
Labels: enhancement, hello world

#2131 Add Quine in Bash
  archive/b/bash/README.md
  archive/b/bash/quine.sh
Labels: enhancement, quine

#2127 Add File IO in CoffeeScript
  archive/c/coffeescript/README.md
  archive/c/coffeescript/fileIO.coffee
Labels: enhancement, file io

#2097 Added capitalize in Objective-C
  archive/o/objective-c/README.md
  archive/o/objective-c/capitalize.m
Labels: capitalize, enhancement

#2148 Added Fizz Buzz in Clojure
  archive/c/clojure/README.md
  archive/c/clojure/fizz-buzz.clj
Labels: enhancement, fizz buzz

#2135 Added File IO in Objective-C
  archive/o/objective-c/README.md
  archive/o/objective-c/file-io.m
Labels: enhancement, file io

#2129 Added LCS in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/lcs.js
Labels: enhancement, lcs

#2134 Updated README.md in Javascript
  archive/j/javascript/README.md
Labels: enhancement

#2149 Added factoral in Dlang
  archive/d/d/README.md
  archive/d/d/factorial.d
Labels: enhancement, factorial

#2151 Added Quine in Java
  archive/j/java/Quine.java
  archive/j/java/README.md
Labels: enhancement, quine

#2152 Added Even Odd in Elixir
  archive/e/elixir/README.md
  archive/e/elixir/even_odd.ex
Labels: enhancement, even/odd

#2156 Updated README in Python
  archive/p/python/README.md
Labels: enhancement

#2141 Added game-of-life in Kotlin
  archive/k/kotlin/game-of-life.kt
Labels: enhancement, game of life

#2145 Added Quick Sort in Objective-C
  archive/o/objective-c/README.md
  archive/o/objective-c/quick-sort.m
Labels: enhancement, quick sort

#2009 Updated Prime Numbers in JavaScript
  archive/j/javascript/prime-number.js
Labels: enhancement, prime number

#2007 Added Insertion Sort in MATLAB
  archive/m/matlab/insertion_sort.m
Labels: enhancement, insertion sort

#2091 Added LCS in Kotlin
  archive/k/kotlin/LCS.kt
Labels: enhancement, lcs

#2062 Added Capitalize in CoffeeScript
  archive/c/coffeescript/README.md
  archive/c/coffeescript/capitalize-first-letter.coffee
Labels: capitalize, enhancement

#2067 Added Linear Search in Java
  archive/j/java/LinearSearch.java
  archive/j/java/README.md
Labels: enhancement

#2099 Added Factorial in SCALA
  archive/s/scala/README.md
  archive/s/scala/factorial.scala
Labels: enhancement, factorial

#2139 Added Selection Sort in Bash
  archive/b/bash/README.md
  archive/b/bash/selection-sort.sh
Labels: enhancement, selection sort

#2161 Added SleepSort in C#
  archive/c/c-sharp/SleepSort.cs
Labels: enhancement, sleep sort

#2157 Update Fizz Buzz in Python to Address Performance Issues
  archive/p/python/fizz_buzz.py
Labels: enhancement, fizz buzz

#2170 Added Capitalize for Elixir
  archive/e/elixir/README.md
  archive/e/elixir/capitalize.ex
Labels: capitalize, enhancement

#2165 Added Sleep Sort Testing
  .glotter.yml
  archive/d/dart/sleep-sort.dart
  archive/p/python/sleep_sort.py
  runner.py
  test/projects/sorting/test_sleep_sort.py
Labels: enhancement, tests

#2147 Added Roman Numeral Conversion in Ruby
  archive/r/ruby/README.md
  archive/r/ruby/roman-numeral.rb
Labels: enhancement, roman numeral

#2171 Cleaned Up Python Folder in Repo
  archive/p/python/Dockerfile
  archive/p/python/README.md
  archive/p/python/anagram.py
  archive/p/python/first_non_repeating_character.py
  archive/p/python/palindrome.py
  archive/p/python/zen_of_python.py
Labels: enhancement

#2176 Add Prime Number in Rexx
  archive/r/rexx/README.md
  archive/r/rexx/prime-number.rexx
Labels: enhancement, prime number

#2177 Added an Action to Greet New Contributors
  .github/workflows/greetings.yml
Labels: enhancement

#2163 Added Job Sequencing with Deadlines in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/job-sequencing.js
Labels: enhancement, job sequencing

#2179 Add Even Odd in Rexx
  archive/r/rexx/README.md
  archive/r/rexx/even-odd.rexx
Labels: enhancement, even/odd

#2167 Added Even/Odd in Lisp
  archive/l/lisp/README.md
  archive/l/lisp/even-odd.lisp
Labels: enhancement, even/odd

#2181 Add Capitalize in Lisp
  archive/l/lisp/README.md
  archive/l/lisp/capitalize.lsp
Labels: capitalize, enhancement

#2182 Updated First Interaction Action With `pull_request_target`
  .github/workflows/greetings.yml
Labels: bug

#2180 Added Rot-13 in Kotlin
  archive/k/kotlin/FizzBuzz.kt
  archive/k/kotlin/GameOfLife.kt
  archive/k/kotlin/HelloWorld.kt
  archive/k/kotlin/PrimeNumber.kt
  archive/k/kotlin/README.md
  archive/k/kotlin/ReverseString.kt
  archive/k/kotlin/Rot13.kt
Labels: enhancement, rot-13

#2184 Added Baklava in CoffeeScript
  archive/c/coffeescript/README.md
  archive/c/coffeescript/baklava.coffee
Labels: baklava, enhancement

#2126 Added Even Odd in P4
  archive/p/p4/README.md
  archive/p/p4/evenodd.p4
Labels: enhancement, even/odd

#2188 Added Capitalize in Ruby
  archive/r/ruby/README.md
  archive/r/ruby/capitalize.rb
Labels: capitalize, enhancement

#2080 Added Palindrome in Kotlin
  .glotter.yml
  archive/k/kotlin/palindromic-number.kt
  runner.py
  test/projects/test_palindromic_number.py
Labels: enhancement, needs docs

#2123 Added BAIK language
  archive/b/baik/README.md
  archive/b/baik/hello-world.ina
Labels: enhancement

#2128 Added Merge Sort in Matlab #1465
  archive/m/matlab/mergeSort.m
Labels: enhancement, merge sort

#2132 Added Hello World in Debug.exe
  archive/d/debug/README.md
  archive/d/debug/helloworld.asm
Labels: enhancement, hello world

#2186 Added Job Sequencing with Deadline in Kotlin
  archive/k/kotlin/Baklava.kt
  archive/k/kotlin/BubbleSort.kt
  archive/k/kotlin/EvenOdd.kt
  archive/k/kotlin/Fibonacci.kt
  archive/k/kotlin/FileIO.kt
  archive/k/kotlin/JobSequencing.kt
  archive/k/kotlin/Lcs.kt
  archive/k/kotlin/MergeSort.kt
  archive/k/kotlin/PrimeNumber.kt
  archive/k/kotlin/QuickSort.kt
  archive/k/kotlin/README.md
Labels: enhancement, job sequencing, tests

#2192 Modified Test File in Clojure
  archive/c/clojure/testinfo.yml
Labels: enhancement, tests

#2193 Add Even Odd in CoffeeScript
  archive/c/coffeescript/README.md
  archive/c/coffeescript/even-odd.coffee
Labels: enhancement, even/odd

#2189 Added Hello World in Zig
  archive/z/zig/README.md
  archive/z/zig/hello-world.zig
Labels: enhancement, hello world

#2070 Added Factorial in Kotlin
  archive/k/kotlin/README.md
  archive/k/kotlin/factorial.kt
Labels: enhancement, factorial

#2197 Cleaning Up Kotlin Files Before Testing
  archive/k/kotlin/BubbleSort.kt
  archive/k/kotlin/LCS.kt
  archive/k/kotlin/MergeSort.kt
  archive/k/kotlin/PalindromicNumber.kt
  archive/k/kotlin/QuickSort.kt
  archive/k/kotlin/ROT13.kt
  archive/k/kotlin/factorial.kt
Labels: enhancement

#2204 Added PalindromicNumber in Java
  archive/j/java/FileIO.java
  archive/j/java/Lcs.java
  archive/j/java/PalindromicNumber.java
  archive/j/java/README.md
  archive/j/java/Rot13.java
Labels: enhancement, palindromic number

#2203 Fixed Links in LOLCODE README
  archive/l/lolcode/README.md
Labels: bug

#2210 Added Swift Tests
  archive/s/swift/fibonacci.SWIFT
  archive/s/swift/fibonacci.swift
  archive/s/swift/fizz-buzz.swift
  archive/s/swift/testinfo.yml
Labels: enhancement, tests

#2207 Fix clojure tests for new image version
  archive/c/clojure/testinfo.yml
Labels: bug

#2225 Added Pascal Tests
  archive/p/pascal/fizz-buzz.pas
  archive/p/pascal/hello-world.pas
  archive/p/pascal/testinfo.yml
Labels: enhancement, tests

#2227 Change pascal naming structure to underscore
  archive/p/pascal/fizz_buzz.pas
  archive/p/pascal/hello_world.pas
  archive/p/pascal/testinfo.yml
Labels: enhancement

#2228 Alphabetized JavaScript README
  archive/j/javascript/README.md
Labels: enhancement

#2238 Added Travis Wait to Docker Install Process
  .travis.yml
Labels: enhancement

#2229 Added Lua Tests
  archive/l/lua/README.md
  archive/l/lua/baklava.lua
  archive/l/lua/bubble-sort.lua
  archive/l/lua/capitalize.lua
  archive/l/lua/factorial.lua
  archive/l/lua/file-io.lua
  archive/l/lua/prime-number.lua
  archive/l/lua/roman-numeral.lua
  archive/l/lua/rot-13.lua
  archive/l/lua/testinfo.yml
Labels: enhancement, tests

#2230 Added CoffeeScript Tests
  archive/c/coffeescript/factorial.coffee
  archive/c/coffeescript/fileIO.coffee
  archive/c/coffeescript/testinfo.yml
Labels: enhancement, tests

#2239 Reformatted Python Code Using autopep8
  archive/p/python/baklava.py
  archive/p/python/binary_search.py
  archive/p/python/bubble_sort.py
  archive/p/python/capitalize.py
  archive/p/python/convex_hull.py
  archive/p/python/even_odd.py
  archive/p/python/factorial.py
  archive/p/python/file_io.py
  archive/p/python/fraction.py
  archive/p/python/game_of_life.py
  archive/p/python/insertion_sort.py
  archive/p/python/job_sequencing.py
  archive/p/python/lcs.py
  archive/p/python/linear_search.py
  archive/p/python/longest_palindrome_substring.py
  archive/p/python/merge_sort.py
  archive/p/python/minimum_spanning_tree.py
  archive/p/python/prime_number.py
  archive/p/python/quick_sort.py
  archive/p/python/roman_numeral.py
  archive/p/python/rot_13.py
  archive/p/python/selection_sort.py
  archive/p/python/sleep_sort.py
Labels: enhancement

#2247 Fixed Contributing Links
  .github/PULL_REQUEST_TEMPLATE.md
Labels: bug

#2246 Added Longest Palindromic Substring in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/longest_palindrome_substring.js
Labels: enhancement, lps, needs tests

#2242 Added Prime Number in Pascal
  archive/p/pascal/prime_number.pas
Labels: enhancement, prime number

#2232 Added Befunge Testing
  archive/b/befunge/README.md
  archive/b/befunge/baklava.be
  archive/b/befunge/hello-world.be
  archive/b/befunge/quine.be
  archive/b/befunge/testinfo.yml
  test/projects/test_fizz_buzz.py
Labels: baklava, enhancement, tests

#2218 Add Even Odd in Pascal #2217
  archive/p/pascal/even_odd.pas
Labels: enhancement, even/odd

#2249 Added Capitalize in Pascal
  archive/p/pascal/capitalize.pas
Labels: capitalize, enhancement

#2274 Cleaned Up Pascal README
  archive/p/pascal/README.md
Labels: enhancement

#2222 Added Reverse String in Pascal
  archive/p/pascal/reverse_string.pas
Labels: enhancement, reverse string

#2276 Added R Tests
  archive/r/r/fizz-buzz.R
  archive/r/r/testinfo.yml
Labels: enhancement, tests

#2251 Added Reverse String to Pascal README
  archive/p/pascal/README.md
Labels: enhancement, reverse string

#2261 Added Reverse String in R
  archive/r/r/reverse-string.R
Labels: enhancement, reverse string

#2264 Add Capitalize in R
  archive/r/r/capitalize.R
Labels: capitalize, enhancement

#2263 Added Capitalize in R to Readme
  archive/r/r/README.md
Labels: capitalize, enhancement

#2273 Add Prime Number in R
  archive/r/r/prime-number.R
Labels: enhancement, prime number

#2268 Added Factorial in R
  archive/r/r/factorial.R
Labels: enhancement, factorial

#2277 Move GitHub Files to .github Folder
  .github/LICENSE
  .github/README.md
Labels: enhancement

#2278 Moved LICENSE to Root
  LICENSE
Labels: enhancement

#2270 Add Prime in R Readme
  archive/r/r/README.md
Labels: enhancement, prime number

#2288 Add Binary Search in JavaScript
  archive/j/javascript/README.md
  archive/j/javascript/binary-search.js
  archive/j/javascript/lps.js
Labels: binary search, enhancement

#2234 Added Convex Hull in C#
  archive/c/c-sharp/ConvexHull.cs
Labels: convex hull, enhancement, needs tests

#2294 Updated Reverse String in PHP
  archive/p/php/reverse-string.php
Labels: enhancement, reverse string

#2275 Added Longest Palindromic Substring Tests
  .glotter.yml
  archive/g/go/longest_palindrome.go
  archive/g/go/lps.go
  archive/j/javascript/lps.js
  archive/p/python/longest_palindrome_substring.py
  archive/p/python/lps.py
  runner.py
  test/projects/test_lps.py
Labels: enhancement, lps, tests

#2320 Added Hello World in Flix
  archive/f/flix/README.md
  archive/f/flix/hello-world.flix
Labels: enhancement, hello world, needs tests

#2296 Added Hello World in Astro
  archive/a/astro/hello_world.astro
Labels: enhancement, hello world, needs tests

#2324 Added Reverse String in FORTRAN
  archive/f/fortran/reverse-string.f95
Labels: enhancement, reverse string

#2323 Added Reverse String in Fortran README
  archive/f/fortran/README.md
Labels: enhancement, reverse string

#2326 Standardized FORTRAN README Links
  archive/f/fortran/README.md
Labels: enhancement

#2332 Added Capitalize in FORTRAN
  archive/f/fortran/capitalize.f95
Labels: capitalize, enhancement

#2340 Added Factorial in FORTRAN
  archive/f/fortran/factorial.f95
Labels: enhancement, factorial

#2336 Added Even Odd in FORTRAN
  archive/f/fortran/even-odd.f95
Labels: enhancement, even/odd

#2330 Added Capitalize to Fortran README
  archive/f/fortran/README.md
Labels: capitalize, enhancement

#2338 Added Factorial to FORTRAN README
  archive/f/fortran/README.md
Labels: enhancement, factorial

#2344 Added Prime Number in Fortran
  archive/f/fortran/prime-number.f95
Labels: enhancement, prime number

#2334 Added Even Odd in FORTRAN README
  archive/f/fortran/README.md
Labels: enhancement, even/odd

#2346 Added New Section to README Template
  .github/CONTRIBUTING.md
  archive/p/python/README.md
Labels: enhancement

#2342 Added Prime Number to FORTRAN README
  archive/f/fortran/README.md
Labels: enhancement, prime number
