Repository TheRenegadeCoder/sample-programs, pull requests merged in 2020-03, with the labels that each got.

#1863 Added Baklava in Solisp
  archive/s/solisp/baklava.solisp
Labels: baklava, enhancement

#1864 Added Reverse String in Solisp
  archive/s/solisp/hello.solisp
  archive/s/solisp/reverse.solisp
Labels: enhancement, reverse string

#1865 Added Quine in Befunge
  archive/b/befunge/README.md
  archive/b/befunge/quine.be
  archive/s/solisp/README.md
  archive/s/solisp/fizz-buzz.solisp
Labels: enhancement, quine

#1197 Added Fibonacci Series in Verilog
  archive/v/verilog/README.md
  archive/v/verilog/fibonacci_behavioural.v
Labels: enhancement, fibonacci, hacktoberfest

#1550 Added Palindrome in Python
  palindrome.py
Labels: enhancement, hacktoberfest

#1162 Add Anagram in Python
  archive/p/python/README.md
  archive/p/python/anagram.py
Labels: enhancement

#254 Edited Game of Life in Python
  archive/p/python/game_of-life.py
  archive/p/python/game_of_life.py
  archive/p/python/palindrome.py
  palindrome.py
Labels: enhancement, game of life
