Repository TheRenegadeCoder/sample-programs, pull requests merged in 2021-05, with the labels that each got.

#2373 Updated C README to Match New Requirements
  archive/c/c/README.md
Labels: enhancement

#2382 Add Baklava in Phix
  archive/p/phix/README.md
  archive/p/phix/baklava.exw
Labels: baklava, enhancement

#2383 Transfer Testing to GitHub Actions
  .github/workflows/deploy.yml
  .github/workflows/test-suite.yml
  .travis.yml
  archive/g/grain/hello-world.gr
  archive/g/grain/testinfo.yml
  archive/k/kotlin/HelloWorld.kt
Labels: bug

#2384 Fix Deployment Issues
  .github/workflows/deploy.yml
  deploy.sh
Labels: bug

#2385 Changed Master to Main
  .github/workflows/deploy.yml
  .github/workflows/test-suite.yml
Labels: bug

#2386 Updated BAIK README to Meet Requirements
  archive/b/baik/README.md
Labels: enhancement

#2387 Added Article Status to Ballerina README
  archive/b/ballerina/README.md
Labels: enhancement

#2389 Converted README Build Status Badge to GitHub Actions
  .github/README.md
Labels: enhancement

#2388 Added Article Status to Bash README
  archive/b/bash/README.md
Labels: enhancement

#2390 Added Article Status to Batch README
  archive/b/batch/README.md
Labels: enhancement

#2391 Added Article Status to Befunge README
  archive/b/befunge/README.md
Labels: enhancement

#2392 Added Article Status to Befunge README
  archive/b/boo/README.md
Labels: enhancement

#2393 Added Article Status to Bracmat README
  archive/b/bracmat/README.md
Labels: enhancement

#2394 Added Sample Programs News Series Link
  .github/README.md
Labels: enhancement

#2395 Added Credit to Main README
  .github/README.md
Labels: enhancement

#2397 Updated the Docs Generator
  .github/workflows/test-suite.yml
  archive/b/bash/README.md
  archive/b/befunge/README.md
  archive/b/boo/README.md
  archive/c/c-plus-plus/README.md
  archive/c/c-sharp/README.md
  archive/c/c-star/README.md
  archive/c/c/README.md
  archive/c/clojure/README.md
  archive/c/coffeescript/README.md
  archive/c/crystal/README.md
  archive/d/d/README.md
  archive/d/dart/README.md
  archive/d/dg/README.md
  archive/e/elixir/README.md
  archive/e/erlang/README.md
  archive/f/f-sharp/README.md
  archive/f/fortran/README.md
  archive/g/go/README.md
  archive/g/google-apps-script/README.md
  archive/g/groovy/README.md
  archive/h/haskell/README.md
  archive/j/java/README.md
  archive/j/javascript/README.md
  archive/j/julia/README.md
  archive/k/kotlin/README.md
  archive/l/lisp/README.md
  archive/l/lua/README.md
  archive/m/matlab/README.md
  archive/m/microsoft-macro-assembler/README.md
  archive/n/nim/README.md
  archive/o/objective-c/README.md
  archive/o/owl-lisp/README.md
  archive/p/p4/README.md
  archive/p/pascal/README.md
  archive/p/perl/README.md
  archive/p/php/README.md
  archive/p/picolisp/README.md
  archive/p/powershell/README.md
  archive/p/python/README.md
  archive/q/quack/README.md
  archive/r/r/README.md
  archive/r/racket/README.md
  archive/r/rexx/README.md
  archive/r/ruby/README.md
  archive/r/rust/README.md
  archive/s/scala/README.md
  archive/s/scheme/README.md
  archive/s/solisp/README.md
  archive/s/swift/README.md
  archive/t/tex/README.md
  archive/t/ti-basic/README.md
  archive/t/typescript/README.md
  archive/v/vimscript/README.md
  archive/v/visual-basic/README.md
Labels: bug

#2402 Removed Language Around READMEs from PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#2401 Added Hello World in Nice
  archive/n/nice/HelloWorld.nice
  archive/n/nice/README.md
Labels: enhancement

#2403 Added Hello World in ChaiScript
  archive/c/chaiscript/README.md
  archive/c/chaiscript/hello-world.chai
Labels: enhancement

#2404 Added Hello World in Discus
  archive/d/discus/HelloWorld.ds
  archive/d/discus/README.md
Labels: enhancement

#2405 Added Hello World in Pineapple
  archive/p/pineapple/README.md
  archive/p/pineapple/hello-world.pine
Labels: enhancement

#2406 Added Hello World in Latte
  archive/l/latte/README.md
  archive/l/latte/hello-world.lt
Labels: enhancement, hello world

#2407 Added Hello World in Spry
  archive/s/spry/README.md
  archive/s/spry/hello-world.sy
Labels: enhancement, hello world

#2408 Pulled README Generation Out Into Its Own Workflow
  .github/workflows/readme.yml
  .github/workflows/test-suite.yml
Labels: bug

#2409 Added Hello World in Terra
  archive/t/terra/README.md
  archive/t/terra/hello-world.t
Labels: enhancement, hello world

#2410 Added Hello World in Verve
  archive/v/verve/README.md
  archive/v/verve/hello-world.vrv
Labels: enhancement, hello world

#2411 Added Hello World in Mirth
  archive/m/mirth/README.md
  archive/m/mirth/hello-world.mth
Labels: enhancement, hello world

#2412 Added Hello World in F*
  archive/f/f-star/HelloWorld.fst
  archive/f/f-star/README.md
Labels: enhancement, hello world

#2413 Added Hello World in Io
  archive/i/io/HelloWorld.io
  archive/i/io/README.md
Labels: enhancement, hello world

#2414 Added Hello World in Huginn
  archive/h/huginn/README.md
  archive/h/huginn/hello-world.hgn
Labels: enhancement, hello world

#2415 Added Hello World in Scilab
  archive/s/scilab/README.md
  archive/s/scilab/hello-world.sce
Labels: enhancement, hello world

#2416 Added Hello World in Eiffel
  archive/e/eiffel/README.md
  archive/e/eiffel/hello-world.e
Labels: enhancement, hello world

#2417 Added Hello World in Mathematica
  archive/m/mathematica/README.md
  archive/m/mathematica/hello-world.nb
Labels: enhancement, hello world

#2418 Added Hello World in Pikelet
  archive/p/pikelet/README.md
  archive/p/pikelet/hello-world.pi
Labels: enhancement, hello world

#2419 Added Hello World in C2
  archive/c/c2/README.md
  archive/c/c2/hello-world.c2
Labels: enhancement, hello world

#2420 Added Hello World in Eta
  archive/e/eta/README.md
  archive/e/eta/hello-world.eta
Labels: enhancement, hello world

#2421 Added Hello World in Elvish
  archive/e/elvish/README.md
  archive/e/elvish/hello-world.elv
Labels: enhancement, hello world

#2422 Added Hello World in Nit
  archive/n/nit/README.md
  archive/n/nit/hello_world.nit
Labels: enhancement, hello world
