Repository TheRenegadeCoder/sample-programs, pull requests merged in 2021-11, with the labels that each got.

#2518 Add Palindromic Number in JavaScript
  archive/j/javascript/palindromic-number.js
Labels: enhancement, hacktoberfest, palindromic number

#2520 Add Palindromic Number in C
  archive/c/c/palindromic-number.c
Labels: enhancement, hacktoberfest, palindromic number

#2526 Incremented Ronbun
  .github/workflows/deploy.yml
  .github/workflows/readme.yml
  requirements.txt
Labels: enhancement, hacktoberfest

#2522 Add Palindromic Number in C++
  archive/c/c-plus-plus/palindromic-number.cpp
Labels: enhancement, hacktoberfest, palindromic number

#2525 Add Even-Odd in Julia
  archive/j/julia/even-odd.jl
Labels: enhancement, hacktoberfest, even/odd

#2527 Add Depth First Search in Python
  archive/p/python/depth_first_search.py
Labels: enhancement
