Repository TheRenegadeCoder/sample-programs, pull requests merged in 2021-10, with the labels that each got.

#2444 Removed README Requirement From Contributing Document
  .github/CONTRIBUTING.md
  archive/r/ruby/README.md
Labels: enhancement

#2453 Upgraded EndBug Workflow
  .github/workflows/readme.yml
Labels: enhancement, hacktoberfest

#2466 README Workflow Works on Push Only
  .github/workflows/readme.yml
Labels: enhancement

#2464 Added Maximum Array Rotation in Python
  archive/p/python/README.md
  archive/p/python/maximum-array-rotation.py
Labels: enhancement, hacktoberfest, maximum array rotation

#2468 Setup README Generation on All Branches But Main
  .github/workflows/readme.yml
Labels: enhancement

#2469 Converted README Generation to Push Only
  .github/workflows/readme.yml
Labels: enhancement, hacktoberfest
