Repository TheRenegadeCoder/sample-programs, pull requests merged in 2022-10, with the labels that each got.

#2560 Fixed Issue Where Pascal Testing Had Started to Fail
  archive/p/pascal/testinfo.yml
Labels: bug, hacktoberfest

#2561 Fixed Issue With Greeting Workflow
  .github/workflows/greetings.yml
Labels: bug, hacktoberfest

#2570 Added Capitalize in Julia
  archive/j/julia/capitalize.jl
Labels: enhancement, hacktoberfest, capitalize

#2572 Added Reverse String in Julia
  archive/j/julia/reverse-string.jl
Labels: enhancement, reverse string, hacktoberfest

#2557 Fixed Bug in Binary Search in C++
  archive/c/c-plus-plus/binary-search.cpp
Labels: enhancement, hacktoberfest, binary search

#2567 Added Longest Word in C++
  archive/c/c-plus-plus/longest-word.cpp
Labels: enhancement, hacktoberfest, longest word

#2558 Added BinarySearch for Java
  archive/c/c-plus-plus/README.md
  archive/j/java/BinarySearch.java
  archive/j/java/README.md
Labels: enhancement, hacktoberfest, binary search

#2565 Added Linear Search in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/linear-search.cpp
Labels: enhancement, hacktoberfest, linear search

#2568 Added Duplicate Character Counter in C
  archive/c/c/duplicate-character-counter.c
Labels: enhancement, hacktoberfest, duplicate character counting

#2577 Added Duplicate Character Counter in Java
  archive/j/java/DuplicateCharacterCounter.java
Labels: enhancement, hacktoberfest, duplicate character counting

#2578 Added Longest word in Java
  archive/j/java/LongestWord.java
Labels: enhancement, hacktoberfest, longest word

#2563 Added DFS in C++
  archive/c/c-plus-plus/depth-first-search.cpp
Labels: enhancement, hacktoberfest

#2564 Added Duplicate Character Counter in C++
  archive/c/c-plus-plus/README.md
  archive/c/c-plus-plus/duplicate-character-counter.cpp
Labels: enhancement, hacktoberfest, duplicate character counting

#2582 Add Quick Sort in Rust
  archive/r/rust/quick-sort.rs
Labels: enhancement, hacktoberfest, quick sort

#2590 Added Dijkstra in C++
  archive/c/c-plus-plus/dijkstra.cpp
Labels: enhancement, hacktoberfest, dijkstra

#2591 Add C++ tests for Binary Search
  test/projects/test_binary_search.py
Labels: enhancement, tests, binary search

#2583 Added Longest Word in C
  archive/c/c/longest-word.c
Labels: enhancement, hacktoberfest, longest word

#2598 Aligned Formatting Across All Java Files
  archive/j/java/Baklava.java
  archive/j/java/BinarySearch.java
  archive/j/java/BubbleSort.java
  archive/j/java/Capitalize.java
  archive/j/java/ConvexHull.java
  archive/j/java/DuplicateCharacterCounter.java
  archive/j/java/EvenOdd.java
  archive/j/java/Factorial.java
  archive/j/java/Fibonacci.java
  archive/j/java/FileInputOutput.java
  archive/j/java/FizzBuzz.java
  archive/j/java/HelloWorld.java
  archive/j/java/InsertionSort.java
  archive/j/java/JobSequencing.java
  archive/j/java/LinearSearch.java
  archive/j/java/LongestWord.java
  archive/j/java/MergeSort.java
  archive/j/java/PalindromicNumber.java
  archive/j/java/PrimeNumber.java
  archive/j/java/QuickSort.java
  archive/j/java/ReverseString.java
  archive/j/java/Rot13.java
  archive/j/java/SelectionSort.java
Labels: enhancement, hacktoberfest

#2600 Updated Palindromic Number Testing to Be More Robust
  archive/c/c-plus-plus/palindromic-number.cpp
  archive/c/c/palindromic-number.c
  archive/j/java/PalindromicNumber.java
  archive/j/javascript/palindromic-number.js
  archive/k/kotlin/PalindromicNumber.kt
  archive/p/pascal/palindromic_number.pas
  archive/p/perl/palindromic-number.pl
  archive/p/python/palindromic_number.py
  test/projects/test_palindromic_number.py
Labels: enhancement, hacktoberfest, tests, palindromic number

#2587 Added Palindromic Number in Julia
  archive/j/julia/palindromic-number.jl
Labels: enhancement, hacktoberfest, palindromic number

#2619 Add Even-Odd in Scala
  archive/s/scala/even-odd.scala
Labels: enhancement, hacktoberfest, even/odd

#2618 Add Capitalize in Scala
  archive/s/scala/capitalize.scala
Labels: enhancement, hacktoberfest, capitalize, needs tests
