Repository TheRenegadeCoder/sample-programs, pull requests merged in 2023-12, with the labels that each got.

#3585 Add F* Tests
  archive/f/f-star/HelloWorld.fst
  archive/f/f-star/testinfo.yml
Labels: enhancement, tests

#3593 Add Quackery Tests
  archive/q/quackery/hello-world.qky
  archive/q/quackery/testinfo.yml
Labels: enhancement, tests

#3595 Migrate Matlab Sample Programs to Octave
  archive/m/matlab/README.md
  archive/m/matlab/bubble_sort.m
  archive/m/matlab/capitalize.m
  archive/m/matlab/even_odd.m
  archive/m/matlab/factorial.m
  archive/m/matlab/fibonacci.m
  archive/m/matlab/insertion_sort.m
  archive/m/matlab/merge_sort.m
  archive/m/matlab/prime_number.m
  archive/m/matlab/reverse_string.m
  archive/m/matlab/selection_sort.m
  archive/o/octave/bubble_sort.m
  archive/o/octave/capitalize.m
  archive/o/octave/even_odd.m
  archive/o/octave/factorial.m
  archive/o/octave/fibonacci.m
  archive/o/octave/file_input_output.m
  archive/o/octave/fizz_buzz.m
  archive/o/octave/hello-world.m
  archive/o/octave/hello_world.m
  archive/o/octave/insertion_sort.m
  archive/o/octave/merge_sort.m
  archive/o/octave/prime_number.m
  archive/o/octave/reverse_string.m
  archive/o/octave/selection_sort.m
  archive/o/octave/testinfo.yml
Labels: enhancement

#3597 Add Opa Tests
  archive/o/opa/hello-world.opa
  archive/o/opa/testinfo.yml
Labels: enhancement, tests

#3599 Delete Abap Language
  archive/a/abap/README.md
  archive/a/abap/hello-world.abap
Labels: enhancement

#3601 Delete Apex Language
  archive/a/apex/HelloWorld.cls
  archive/a/apex/README.md
  archive/a/apex/ReverseString.cls
Labels: enhancement

#3603 Delete Applescript Language
  archive/a/applescript/README.md
  archive/a/applescript/hello-world.scpt
Labels: enhancement

#3605 Delete AutoHotKey Language
  archive/a/autohotkey/README.md
  archive/a/autohotkey/hello-world.ahk
Labels: enhancement

#3609 Delete Charm Language
  archive/c/charm/README.md
  archive/c/charm/hello-world.charm
Labels: enhancement

#3607 Add Baik Tests
  archive/b/baik/hello-world.ina
  archive/b/baik/testinfo.yml
Labels: enhancement, tests

#3613 Delete Clipper Language
  archive/c/clipper/README.md
  archive/c/clipper/hello-world.clipper
Labels: enhancement

#3611 Add Chaiscript Tests
  archive/c/chaiscript/testinfo.yml
Labels: enhancement, tests

#3618 Add Eiffel Tests
  archive/e/eiffel/hello_world.e
  archive/e/eiffel/testinfo.yml
Labels: enhancement, tests

#3622 Delete Elm Language
  archive/e/elm/HelloWorld.elm
  archive/e/elm/README.md
Labels: enhancement

#3628 Add Formality Tests
  archive/f/formality/hello-world.fm
  archive/f/formality/testinfo.yml
Labels: enhancement, tests

#3646 Delete Nice Language
  archive/n/nice/HelloWorld.nice
  archive/n/nice/README.md
Labels: enhancement

#3650 Delete P Language
  archive/p/p/HelloWorld.p
  archive/p/p/README.md
Labels: enhancement

#3624 Delete Eve Language
  archive/e/eve/README.md
  archive/e/eve/hello-world.eve
Labels: enhancement

#3620 Add Elena Tests
  archive/e/elena/hello-world.l
  archive/e/elena/testinfo.yml
Labels: enhancement, tests

#3632 Add Granule Tests
  archive/g/granule/hello-world.gr
  archive/g/granule/testinfo.yml
Labels: enhancement, tests

#3652 Delete P4 Language
  archive/p/p4/README.md
  archive/p/p4/even-odd.p4
  archive/p/p4/hello-world.p4
Labels: enhancement

#3630 Delete Google Apps Script Language
  archive/g/google-apps-script/README.md
  archive/g/google-apps-script/hello-world.gs
Labels: enhancement

#3634 Delete Huginn Language
  archive/h/huginn/README.md
  archive/h/huginn/hello-world.hgn
Labels: enhancement

#3636 Delete Logo Language
  archive/l/logo/README.md
  archive/l/logo/hello-world.lgo
Labels: enhancement

#3638 Add Lucee Tests
  archive/l/lucee/hello-world.cfm
  archive/l/lucee/testinfo.yml
Labels: enhancement, tests

#3642 Mark Mathematica as Untestable
  archive/m/mathematica/untestable.yml
Labels: enhancement

#3644 Add Mojiscript Tests
  archive/m/mojiscript/testinfo.yml
Labels: enhancement, tests

#3648 Add Objective-C Tests
  archive/o/objective-c/capitalize.m
  archive/o/objective-c/even-odd.m
  archive/o/objective-c/factorial.m
  archive/o/objective-c/fibonacci.m
  archive/o/objective-c/file-input-output.m
  archive/o/objective-c/fizz-buzz.m
  archive/o/objective-c/hello-world.m
  archive/o/objective-c/merge-sort.m
  archive/o/objective-c/quick-sort.m
  archive/o/objective-c/reverse-string.m
  archive/o/objective-c/testinfo.yml
Labels: enhancement, tests

#3654 Delete Pikelet Language
  archive/p/pikelet/README.md
  archive/p/pikelet/hello-world.pi
Labels: enhancement

#3656 Add Solidity Tests
  archive/s/solidity/HelloWorld.sol
  archive/s/solidity/hello-world.sol
  archive/s/solidity/testinfo.yml
Labels: enhancement, tests

#3658 Add Tex Tests
  archive/t/tex/testinfo.yml
Labels: enhancement, tests

#3660 Add TI-Basic Tests
  archive/t/ti-basic/hello-world.tiprogram
  archive/t/ti-basic/testinfo.yml
Labels: enhancement, tests

#3476 Add Rot13 in Brainfuck
  archive/b/brainfuck/rot13.bf
  archive/b/brainfuck/testinfo.yml
Labels: enhancement, rot13

#3664 Add Verilog Tests
  archive/v/verilog/fibonacci.v
  archive/v/verilog/hello-world.v
  archive/v/verilog/testinfo.yml
Labels: enhancement, tests

#3666 Add Verve Tests
  archive/v/verve/testinfo.yml
Labels: enhancement, tests

#3668 Add Vimscript Tests
  archive/v/vimscript/fizz-buzz.vim
  archive/v/vimscript/hello-world.vim
  archive/v/vimscript/reverse-string.vim
  archive/v/vimscript/testinfo.yml
Labels: enhancement, tests

#3671 Add Capitalize in Brainfuck
  archive/b/brainfuck/capitalize.bf
Labels: enhancement, capitalize

#3675 Add Fizz-Buzz in Verve
  archive/v/verve/fizz-buzz.vrv
Labels: enhancement, fizz buzz

#3677 Add Baklava in Verve
  archive/v/verve/baklava.vrv
Labels: enhancement, baklava

#3673 Add Remove All Whitespace in Brainfuck
  archive/b/brainfuck/remove-all-whitespace.bf
Labels: enhancement, remove all whitespace

#3679 Add Longest Word in Brainfuck
  archive/b/brainfuck/longest-word.bf
Labels: enhancement, longest word

#3684 Add Even Odd in Pyret
  archive/p/pyret/even-odd.arr
  archive/p/pyret/testinfo.yml
Labels: enhancement, even odd
