Repository TheRenegadeCoder/sample-programs, pull requests merged in 2023-01, with the labels that each got.

#2659 Add Baklava in Mathematica
  archive/m/mathematica/baklava.nb
Labels: enhancement, baklava, needs tests

#2691 Add ROT 13 in Mathematica
  archive/m/mathematica/rot-13.nb
Labels: enhancement, rot-13, needs tests

#2690 Add Roman Numeral in Mathematica
  archive/m/mathematica/roman-numerals.nb
Labels: enhancement, roman numeral, needs tests

#2689 Add Reverse String in Mathematica
  archive/m/mathematica/reverse-string.nb
Labels: enhancement, reverse string, needs tests

#2662 Add Capitalize in Mathematica
  archive/m/mathematica/capitalize.nb
Labels: enhancement, capitalize, needs tests

#2688 Add Remove All Whitespace in Mathematica
  archive/m/mathematica/remove-all-whitespace.nb
Labels: enhancement, needs tests, remove all whitespace

#2679 Add Longest Word in Mathematica
  archive/m/mathematica/longest-word.nb
Labels: enhancement, needs tests, longest word

#2687 Add Quine in Mathematica
  archive/m/mathematica/quine.nb
Labels: enhancement, quine, needs tests

#2693 Add Transpose Matrix in Mathematica
  archive/m/mathematica/transpose.nb
Labels: enhancement, needs tests, transpose matrix

#2695 Add Algol68 tests
  archive/a/algol68/testinfo.yml
Labels: enhancement, tests

#2685 Add Prime Number in Mathematica
  archive/m/mathematica/prime.nb
Labels: enhancement, prime number, needs tests

#2697 Add Baklava in Algol68
  archive/a/algol68/baklava.alg
Labels: enhancement, baklava

#2684 Add Palindromic Number in Mathematica
  archive/m/mathematica/palindromic-number.nb
Labels: enhancement, palindromic number, needs tests

#2683 Add Minimum Spanning Tree in Mathematica
  archive/m/mathematica/minimum-spanning-tree.nb
Labels: enhancement, minimum spanning tree, needs tests

#2678 Add Longest Palindromic Substring in Mathematica
  archive/m/mathematica/longest-palindromic-substring.nb
Labels: enhancement, longest palindromic substring, needs tests

#2699 Add fizz-buzz in Algol68
  archive/a/algol68/fizz-buzz.alg
Labels: enhancement, fizz buzz

#2663 Add Convex Hull in Mathematica
  archive/m/mathematica/convex-hull.nb
Labels: enhancement, convex hull, needs tests

#2704 Test Suite Should Now Only Run If Changes Occur in Archive Directory
  .github/workflows/test-suite.yml
Labels: enhancement

#2702 Updated CodeQL Version
  .github/workflows/codeql-analysis.yml
Labels: enhancement

#2703 Fixed Newsletter URL
  .github/workflows/greetings.yml
Labels: bug

#2701 Add Quine in Algol68
  archive/a/algol68/quine.alg
Labels: enhancement, quine

#2676 Add Linear Search in Mathematica
  archive/m/mathematica/linear-search.nb
Labels: enhancement, linear search, needs tests

#2680 Add Maximum Array Rotation in Mathematica
  archive/m/mathematica/maximum-array-rotation.nb
Labels: enhancement, needs tests, maximum array rotation

#2682 Add Merge Sort in Mathematica
  archive/m/mathematica/merge-sort.nb
Labels: enhancement, merge sort, needs tests

#2686 Add Quicksort in Mathematica
  archive/m/mathematica/quicksort.nb
Labels: enhancement, quick sort, needs tests

#2692 Add Selection Sort in Mathematica
  archive/m/mathematica/selection-sort.nb
Labels: enhancement, selection sort, needs tests

#2664 Add Depth-First Search in Mathematica
  archive/m/mathematica/depth-first-search.nb
Labels: enhancement, needs tests, depth first search

#2666 Add Duplicate Character Counter in Mathematica
  archive/m/mathematica/duplicate-character-counter.nb
Labels: enhancement, needs tests, duplicate character counting

#2671 Add Fizzbuzz in Mathematica
  archive/m/mathematica/fizzbuzz.nb
Labels: enhancement, fizz buzz, needs tests
