Repository TheRenegadeCoder/sample-programs, pull requests merged in 2023-10, with the labels that each got.

#3397 Add Palindromic Number in Typescript
  archive/t/typescript/Palindromic-Number.ts
Labels: enhancement, palindromic number

#3401 Add Linear Search in Typescript
  archive/t/typescript/linear-search.ts
Labels: enhancement, hacktoberfest, linear search

#3402 Add Factorial in Typescript
  archive/t/typescript/factorial.ts
Labels: enhancement, hacktoberfest, factorial

#3403 Add Even Odd in Typescript
  archive/t/typescript/even-odd.ts
Labels: enhancement, hacktoberfest, even odd

#3404 Add Duplicate Character Counter in Typescript
  archive/t/typescript/duplicate-character-counter.ts
Labels: enhancement, hacktoberfest, duplicate character counter

#3412 Add File Input Output in Typescript
  archive/t/typescript/file-input-output.ts
Labels: enhancement, file input output, hacktoberfest

#3417 Add Factorial in Pascal
  archive/p/pascal/factorial.pas
Labels: enhancement, hacktoberfest, factorial

#3419 Add Prime Number in Typescript
  archive/t/typescript/Linear-Search.ts
Labels: enhancement, hacktoberfest, prime number

#3422 Add Transpose Matrix in TypeScript
  archive/t/typescript/transpose-matrix.ts
Labels: enhancement, hacktoberfest, transpose matrix

#3420 Add Binary Search in Typescript
  archive/t/typescript/binary-search.ts
Labels: enhancement, hacktoberfest, binary search

#3426 Add Transpose Matrix in JavaScript
  archive/j/javascript/transpose-matrix.js
Labels: enhancement, hacktoberfest, transpose matrix

#3425 Add Linear Search in Commodore Basic
  archive/c/commodore-basic/linear-search.bas
Labels: enhancement, hacktoberfest, linear search

#3428 Add Binary Search in Commodore Basic
  archive/c/commodore-basic/binary-search.bas
Labels: enhancement, hacktoberfest, binary search

#3431 Add Bubble Sort in Commodore Basic
  archive/c/commodore-basic/bubble-sort.bas
Labels: enhancement, hacktoberfest, bubble sort

#3434 Add Insertion Sort in Commodore Basic
  archive/c/commodore-basic/insertion-sort.bas
Labels: enhancement, hacktoberfest, insertion sort

#3436 Add Selection Sort in Commodore Basic
  archive/c/commodore-basic/selection-sort.bas
Labels: enhancement, hacktoberfest, selection sort

#3439 Add Sleep Sort in Commodore Basic
  archive/c/commodore-basic/sleep-sort.bas
Labels: enhancement, hacktoberfest, sleep sort

#3443 Add Quick Sort in Commodore Basic
  archive/c/commodore-basic/quick-sort.bas
Labels: enhancement, hacktoberfest, quick sort

#3447 Increase number of test splits to 4
  .github/workflows/test-suite.yml
Labels: bug

#3449 Modify Quick Sort in Commodore Basic
  archive/c/commodore-basic/quick-sort.bas
Labels: enhancement, hacktoberfest, quick sort

#3451 Add Merge Sort in Commodore Basic
  archive/c/commodore-basic/merge-sort.bas
Labels: enhancement, hacktoberfest, merge sort

#3453 Add Maximum Array Rotation in Commodore Basic
  archive/c/commodore-basic/maximum-array-rotation.bas
Labels: enhancement, hacktoberfest, maximum array rotation

#3455 Add Maximum Subarray in Commodore Basic
  archive/c/commodore-basic/maximum-subarray.bas
Labels: enhancement, hacktoberfest, maximum subarray

#3457 Add Longest Palindromic Substring in Commodore Basic
  archive/c/commodore-basic/longest-palindromic-substring.bas
Labels: enhancement, hacktoberfest, longest palindromic substring

#3461 Use 0-based indexing
  archive/c/commodore-basic/binary-search.bas
  archive/c/commodore-basic/bubble-sort.bas
  archive/c/commodore-basic/duplicate-character-counter.bas
  archive/c/commodore-basic/insertion-sort.bas
  archive/c/commodore-basic/linear-search.bas
  archive/c/commodore-basic/selection-sort.bas
Labels: bug

#3465 Added FizzBuzz in Pyret
  archive/p/pyret/fizz-buzz.arr
Labels: enhancement, fizz buzz, hacktoberfest

#3468 Fixed a Printing Bug in FizzBuzz Solution for Pyret
  archive/p/pyret/fizz-buzz.arr
Labels: bug, fizz buzz, hacktoberfest

#3463 Add Convex Hull in Commodore Basic
  archive/c/commodore-basic/convex-hull.bas
Labels: enhancement, hacktoberfest, convex hull

#3472 Added Baklava in Pyret
  archive/p/pyret/baklava.arr
Labels: enhancement, baklava, hacktoberfest

#3479 Add Fraction Math in Commodore Basic
  archive/c/commodore-basic/fraction-math.bas
Labels: enhancement, hacktoberfest, fraction math

#3481 Add Rot13 in C++
  archive/c/c-plus-plus/rot13.cpp
Labels: enhancement, hacktoberfest, rot13

#3488 Add Depth First Search in Commodore Basic
  archive/c/commodore-basic/depth-first-search.bas
Labels: enhancement, hacktoberfest, depth first search

#3485 Rename and fix bad Typescript samples
  archive/t/typescript/palindromic-number.ts
  archive/t/typescript/prime-number.ts
Labels: bug

#3490 Add Job Sequencing in Commodore Basic
  archive/c/commodore-basic/job-sequencing.bas
Labels: enhancement, hacktoberfest, job sequencing

#3493 Added insertion sort in typescript
  archive/t/typescript/insertion-sort.ts
Labels: enhancement, hacktoberfest, insertion sort

#3496 Add Minimum Spanning Tree in Commodore Basic
  archive/c/commodore-basic/minimum-spanning-tree.bas
Labels: enhancement, hacktoberfest, minimum spanning tree

#3498 Add Dijkstra in Commodore Basic
  archive/c/commodore-basic/dijkstra.bas
Labels: enhancement, hacktoberfest, dijkstra

#3503 Add Transpose Matrix in Commodore Basic
  archive/c/commodore-basic/transpose-matrix.bas
Labels: enhancement, hacktoberfest, transpose matrix

#3507 Added Baklava in Pascal
  archive/p/pascal/baklava.pas
Labels: enhancement, baklava

#3509 Add Longest Common Subsequence in Commodore Basic
  archive/c/commodore-basic/longest-common-subsequence.bas
Labels: enhancement, hacktoberfest, longest common subsequence

#3441 Add Convex Hull JavaScript
  archive/j/javascript/convex-hull.js
Labels: enhancement, hacktoberfest, convex hull
