Repository TheRenegadeCoder/sample-programs, pull requests merged in 2023-04, with the labels that each got.

#3013 Refactor Rust
  archive/r/rust/binary-search.rs
  archive/r/rust/bubble-sort.rs
  archive/r/rust/even-odd.rs
  archive/r/rust/factorial.rs
  archive/r/rust/fibonacci.rs
  archive/r/rust/insertion-sort.rs
  archive/r/rust/merge-sort.rs
  archive/r/rust/prime-number.rs
  archive/r/rust/sleep-sort.rs
Labels: enhancement

#3042 Modify Fraction Math in Rust
  archive/r/rust/fraction-math.rs
Labels: enhancement, fraction math

#3044 Modify Depth First Search in Rust
  archive/r/rust/depth-first-search.rs
Labels: enhancement, depth first search

#3047 Added Remote Triggering Documentation Build Workflow
  .github/workflows/docs.yml
Labels: enhancement
