Repository TheRenegadeCoder/sample-programs, pull requests merged in 2024-11, with the labels that each got.

#3964 Make test workflow more efficient
  .github/workflows/test-suite.yml
  scripts/run_tests.py
Labels: enhancement, tests

#3979 Add Josephus Problem in C#
  archive/c/c-sharp/JosephusProblem.cs
Labels: enhancement, josephus problem

#3981 [Automated Workflow] Add/Modify READMEs
  archive/c/c-sharp/README.md
  archive/c/c/README.md
Labels: enhancement

#3987 [Automated Workflow] Add/Modify READMEs
  archive/c/c-plus-plus/README.md
Labels: enhancement

#3990 [Automated Workflow] Add/Modify READMEs
  archive/c/c-sharp/README.md
Labels: enhancement

#3992 Add Fizz Buzz in Ada
  archive/a/ada/fizz-buzz.adb
Labels: enhancement, fizz buzz

#3994 [Automated Workflow] Add/Modify READMEs
  archive/a/ada/README.md
  archive/c/c-sharp/README.md
Labels: enhancement

#4001 Add Longest Word in Julia
  archive/j/julia/longest-word.jl
Labels: enhancement, longest word

#3999 [Automated Workflow] Add/Modify READMEs
  archive/j/julia/README.md
  archive/t/typescript/README.md
Labels: enhancement

#4002 Add Binary Search in Ruby
  archive/r/ruby/binary-search.rb
Labels: enhancement, binary search

#4003 [Automated Workflow] Add/Modify READMEs
  archive/r/ruby/README.md
Labels: enhancement

#4006 Add Reverse String in X86 64
  archive/x/x86-64/reverse-string.asm
Labels: enhancement, reverse string

#4008 [Automated Workflow] Add/Modify READMEs
  archive/x/x86-64/README.md
Labels: enhancement

#3996 Only run CodeQL if the appropriate language changes
  .github/workflows/codeql-analysis.yml
  scripts/build_codeql_language.py
  scripts/get_codeql_languages.py
Labels: enhancement

#4005 Add Job Sequencing in C#
  archive/c/c-sharp/JobSequencing.cs
  archive/c/c-sharp/RemoveAllWhitespace.cs
Labels: enhancement, job sequencing

#4013 [Automated Workflow] Add/Modify READMEs
  archive/c/c-sharp/README.md
Labels: enhancement

#3997 Add Longest Word in Kotlin
  archive/k/kotlin/LongestWord.kt
Labels: enhancement, longest word

#4016 [Automated Workflow] Add/Modify READMEs
  archive/k/kotlin/README.md
Labels: enhancement

#4011 Modify Dijkstra in C
  archive/c/c-plus-plus/dijkstra.cpp
Labels: enhancement, dijkstra, security

#4017 Added Remove All Whitespace in C#
  archive/c/c-sharp/RemoveAllWhitespace.cs
Labels: enhancement, remove all whitespace

#4018 [Automated Workflow] Add/Modify READMEs
  archive/c/c-sharp/README.md
Labels: enhancement

#4028 Added Reverse String in MoonScript
  archive/m/moonscript/reverse-string.moon
Labels: enhancement, reverse string

#4034 [Automated Workflow] Add/Modify READMEs
  archive/m/moonscript/README.md
  archive/s/swift/README.md
Labels: enhancement

#4036 Add Duplicate Character Counter in C#
  archive/c/c-sharp/DuplicateCharacterCounter.cs
Labels: enhancement, duplicate character counter

#4037 [Automated Workflow] Add/Modify READMEs
  archive/c/c-sharp/README.md
Labels: enhancement

#4033 Add Palindromic Number to Swift
  archive/s/swift/palindromic-number.swift
Labels: enhancement, palindromic number

#4043 [Automated Workflow] Add/Modify READMEs
  archive/s/swift/README.md
Labels: enhancement

#4049 [Automated Workflow] Add/Modify READMEs
  archive/c/c-sharp/README.md
Labels: enhancement

#4045 Modify CodeQL workflow to omit Hack for C++ scan
  .github/workflows/codeql-analysis.yml
Labels: bug

#3958 Add Convex Hull in C
  archive/c/c/convex-hull.c
Labels: enhancement, convex hull

#4029 Add Fizz Buzz in Smalltalk
  archive/s/smalltalk/fizz-buzz.st
Labels: enhancement, fizz buzz

#4056 [Automated Workflow] Add/Modify READMEs
  archive/s/smalltalk/README.md
Labels: enhancement

#4054 Add schedule for running CodeQL scan
  .github/workflows/codeql-analysis.yml
  scripts/get_codeql_languages.py
Labels: enhancement

#4058 Add Fizz Buzz in Moonscript
  archive/m/moonscript/fizz-buzz.moon
Labels: fizz buzz

#4063 Add Baklava in Pineapple
  archive/p/pineapple/baklava.pine
Labels: enhancement, baklava

#4061 Add Fizz Buzz in Pineapple
  archive/p/pineapple/fizz-buzz.pine
Labels: enhancement, fizz buzz

#4020 Add Longest Word in R
  archive/r/r/longest-word.R
Labels: enhancement, longest word

#4069 [Automated Workflow] Add/Modify READMEs
  archive/r/r/README.md
Labels: enhancement
