Repository TheRenegadeCoder/sample-programs, pull requests merged in 2024-09, with the labels that each got.

#3824 Modify Tests in Odin
  archive/o/odin/testinfo.yml
Labels: bug, tests

#3822 Add Baklava in Zig
  archive/z/zig/baklava.zig
  archive/z/zig/testinfo.yml
Labels: enhancement, baklava

#3840 Add Baklava in Vimscript
  archive/v/vimscript/baklava.vim
  archive/v/vimscript/testinfo.yml
Labels: enhancement, baklava

#3842 Add Depth First Search in Java
  archive/j/java/DepthFirstSearch.java
  archive/j/java/testinfo.yml
Labels: enhancement, hacktoberfest, depth first search
