Repository TheRenegadeCoder/sample-programs, pull requests merged in 2024-10, with the labels that each got.

#3857 Add Baklava in Ring
  archive/r/ring/Baklava.ring
Labels: enhancement, baklava, hacktoberfest

#3858 Add Baklava in Sather
  archive/s/sather/baklava.sa
Labels: enhancement, baklava, hacktoberfest

#3859 Add Baklava in Scala
  archive/s/scala/Baklava.scala
Labels: enhancement, baklava, hacktoberfest

#3879 Rename palindrome-number.rb to palindromic-number.rb
  archive/r/ruby/palindromic-number.rb
Labels: bug, palindromic number

#3855 Add Baklava in Rexx
  archive/r/rexx/baklava.rexx
Labels: enhancement, baklava, hacktoberfest

#3871 Add Baklava in Verilog
  archive/v/verilog/baklava.v
Labels: enhancement, baklava, hacktoberfest

#3860 Add Baklava in Scilab
  archive/s/scilab/baklava.sce
Labels: enhancement, baklava, hacktoberfest

#3861 Add Baklava in TCL
  archive/t/tcl/baklava.tcl
Labels: enhancement, baklava, hacktoberfest

#3869 Add Baklava in V
  archive/v/v/baklava.v
Labels: enhancement, baklava, hacktoberfest

#3882 Added Remove All Whitespace in C#
  archive/c/c-sharp/RemoveAllWhitespace.cs
Labels: enhancement, hacktoberfest, remove all whitespace

#3868 Add Baklava in Terra
  archive/t/terra/baklava.t
  archive/t/terra/testinfo.yml
Labels: enhancement, baklava, hacktoberfest

#3872 Add Baklava in Visual Basic
  archive/v/visual-basic/baklava.vb
Labels: enhancement, baklava, hacktoberfest

#3873 Add Baklava in Wren
  archive/w/wren/baklava.wren
Labels: enhancement, baklava, hacktoberfest

#3874 Add Baklava in Wu
  archive/w/wu/baklava.wu
Labels: enhancement, baklava, hacktoberfest

#3875 Add Baklava in Wyvern
  archive/w/wyvern/baklava.wyv
Labels: enhancement, baklava, hacktoberfest

#3876 Add Baklava in Yoix
  archive/y/yoix/baklava.yx
Labels: enhancement, baklava, hacktoberfest

#3885 Remove extra files and rename improperly named files
  archive/a/ada/baklava.adb
  archive/e/elixir/even-odd.ex
  archive/o/opa/Dockerfile
Labels: bug

#3887 Add check for extra files and rename improperly named files
  .github/workflows/readme.yml
  .github/workflows/test-suite.yml
  poetry.lock
  pyproject.toml
Labels: enhancement, tests

#3891 Add Baklava in Solidity
  archive/s/solidity/Baklava.sol
  archive/s/solidity/testinfo.yml
Labels: enhancement, baklava, hacktoberfest

#3894 Add Linear Search in Go
  archive/g/go/linear-search.go
Labels: enhancement, hacktoberfest, linear search

#3892 Add Palindromic Number in Go
  archive/g/go/palindromic-number.go
Labels: enhancement, hacktoberfest, palindromic number

#3897 Add Bubble Sort in Typescript
  archive/t/typescript/bubble-sort.ts
Labels: enhancement, hacktoberfest, bubble sort

#3899 #3392: Add Rot13 in Typescript
  archive/t/typescript/rot13.ts
Labels: enhancement, hacktoberfest, rot13

#3902 Add Transpose Matrix in Go
  archive/g/go/transpose-matrix.go
Labels: enhancement, hacktoberfest, transpose matrix

#3904 Add Selection Sort in Typescript
  archive/t/typescript/selection-sort.ts
Labels: enhancement, hacktoberfest, selection sort

#3901 Add Baklava in Whitespace
  archive/w/whitespace/baklava.ws
Labels: enhancement, baklava, hacktoberfest

#3907 Add Fizz Buzz in Whitespace
  archive/w/whitespace/fizz-buzz.ws
Labels: enhancement, fizz buzz, hacktoberfest

#3910 Modify glotter workflow to check for changed code files
  .github/workflows/test-suite.yml
Labels: bug, hacktoberfest

#3912 Add Fizz Buzz in Red
  archive/r/red/fizz-buzz.red
Labels: enhancement, fizz buzz, hacktoberfest

#3914 Add Baklava in Red
  archive/r/red/baklava.red
Labels: enhancement, baklava, hacktoberfest

#3916 Upgrade to poetry 1.8.4
  .github/workflows/readme.yml
  .github/workflows/test-suite.yml
  poetry.lock
Labels: enhancement, hacktoberfest

#3918 Updated Test Suite Workflow to Use Jobs
  .github/workflows/test-suite.yml
Labels: bug

#3920 Add Baklava in Raku
  archive/r/raku/baklava.raku
Labels: enhancement, baklava, hacktoberfest

#3923 Use Personal Access Token for README workflow
  .github/workflows/readme.yml
Labels: bug

#3925 Only trigger Glotter workflow on relevant changes
  .github/workflows/test-suite.yml
Labels: bug

#3927 Add Baklava in Racket
  archive/r/racket/baklava.rkt
Labels: enhancement, baklava, hacktoberfest

#3928 [Automated Workflow] Add/Modify READMEs
  archive/r/racket/README.md
Labels: enhancement

#3930 Add Baklava in Smalltalk
  archive/s/smalltalk/baklava.st
  archive/s/smalltalk/testinfo.yml
Labels: enhancement, baklava, hacktoberfest

#3932 Add Baklava in R
  archive/r/r/baklava.R
Labels: enhancement, baklava, hacktoberfest

#3935 [Automated Workflow] Add/Modify READMEs
  archive/r/r/README.md
  archive/s/smalltalk/README.md
Labels: enhancement

#3940 [Automated Workflow] Add/Modify READMEs
  archive/m/malbolge/README.md
Labels: enhancement

#3937 Add Baklava in Quackery
  archive/q/quackery/baklava.qky
  archive/q/quackery/testinfo.yml
Labels: enhancement, baklava, hacktoberfest

#3944 [Automated Workflow] Add/Modify READMEs
  archive/m/malbolge/README.md
Labels: enhancement

#3957 Modify Binary Search in C
  archive/c/c/binary-search.c
Labels: enhancement, hacktoberfest, binary search

#3946 Add Baklava in Scheme
  archive/s/scheme/baklava.scm
Labels: enhancement, baklava, hacktoberfest

#3948 Add Baklava in Shen
  archive/s/shen/baklava.shen
  archive/s/shen/testinfo.yml
Labels: enhancement, baklava, hacktoberfest

#3950 Add Fizz Buzz in TI Basic
  archive/t/ti-basic/fizz-buzz.tiprogram
Labels: enhancement, fizz buzz, hacktoberfest

#3952 Add Baklava in PowerShell
  archive/p/powershell/Baklava.ps1
Labels: enhancement, baklava, hacktoberfest

#3960 Added Binary Search in C#
  archive/c/c-sharp/BinarySearch.cs
Labels: enhancement, hacktoberfest, binary search

#3959 Added Linear Search in C#
  archive/c/c-sharp/LinearSearch.cs
Labels: enhancement, hacktoberfest, linear search

#3955 [Automated Workflow] Add/Modify READMEs
  archive/c/c-sharp/README.md
  archive/c/c/README.md
  archive/p/powershell/README.md
  archive/s/scheme/README.md
  archive/s/shen/README.md
  archive/t/ti-basic/README.md
Labels: enhancement

#3962 Add Duplicate Character Counter in Ruby
  archive/r/ruby/duplicate-character-counter.rb
Labels: enhancement, hacktoberfest, duplicate character counter

#3934 Add Remove All Whitespace in Ruby
  archive/r/ruby/remove-all-whitespace.rb
Labels: enhancement, hacktoberfest, remove all whitespace
