Repository TheRenegadeCoder/sample-programs, pull requests merged in 2025-07, with the labels that each got.

#4751 Add Roman Numeral in PowerShell
  archive/p/powershell/RomanNumeral.ps1
Labels: enhancement, roman numeral

#4753 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement

#4755 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement

#4758 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement

#4760 Add Fraction Math in PowerShell
  archive/p/powershell/FractionMath.ps1
Labels: enhancement, fraction math

#4764 Add Binary Search in PowerShell
  archive/p/powershell/BinarySearch.ps1
Labels: enhancement, binary search

#4767 Add Depth First Search in PowerShell
  archive/p/powershell/DepthFirstSearch.ps1
Labels: enhancement, depth first search

#4774 Add Selection Sort in PowerShell
  archive/p/powershell/SelectionSort.ps1
Labels: enhancement, selection sort

#4779 Add Quick Sort in PowerShell
  archive/p/powershell/QuickSort.ps1
Labels: enhancement, quick sort

#4786 Add Job Sequencing in PowerShell
  archive/p/powershell/JobSequencing.ps1
Labels: enhancement, job sequencing

#4781 Add Maximum Subarray in PowerShell
  archive/p/powershell/MaximumSubarray.ps1
Labels: enhancement, maximum subarray

#4790 Add Longest Common Subsequence in PowerShell
  archive/p/powershell/LongestCommonSubsequence.ps1
Labels: enhancement, longest common subsequence

#4849 Add Sleep Sort in Pascal
  archive/p/pascal/sleep_sort.pas
Labels: sleep sort

#4848 Add Selection Sort in Pascal
  archive/p/pascal/selection_sort.pas
Labels: selection sort

#4847 Add Rot13 in Pascal
  archive/p/pascal/rot13.pas
Labels: rot13

#4844 Add Quine in Pascal
  archive/p/pascal/quine.pas
Labels: quine

#4840 Add Maximum Subarray in Pascal
  archive/p/pascal/maximum_subarray.pas
Labels: enhancement, maximum subarray

#4841 Add Merge Sort in Pascal
  archive/p/pascal/merge_sort.pas
Labels: enhancement, merge sort

#4843 Add Quick Sort in Pascal
  archive/p/pascal/quick_sort.pas
Labels: enhancement, quick sort

#4797 Add Base64 Encode Decode in Pascal
  archive/p/pascal/base64_encode_decode.pas
Labels: enhancement, base64 encode decode

#4838 Add Longest Word in Pascal
  archive/p/pascal/longest_word.pas
Labels: enhancement, longest word

#4839 Add Longest Palindromic Substring in Pascal
  archive/p/pascal/longest_palindromic_substring.pas
Labels: enhancement, longest palindromic substring

#4835 Add Josephus Problem in Pascal
  archive/p/pascal/josephus_problem.pas
Labels: enhancement, josephus problem

#4833 Add Insertion Sort in Pascal
  archive/p/pascal/insertion_sort.pas
Labels: enhancement, insertion sort

#4831 Add File Input Output in Pascal
  archive/p/pascal/file_input_output.pas
Labels: enhancement, file input output

#4830 Add Duplicate Character Counter in Pascal
  archive/p/pascal/duplicate_character_counter.pas
Labels: enhancement, duplicate character counter

#4829 Add Dijkstra in Pascal
  archive/p/pascal/dijkstra.pas
Labels: enhancement, dijkstra

#4805 Add Depth First Search in Pascal
  archive/p/pascal/depth_first_search.pas
Labels: enhancement, depth first search

#4853 [Automated Workflow] Add/Modify READMEs
  archive/p/pascal/README.md
Labels: enhancement

#4854 Add Dijkstra in PowerShell
  archive/p/powershell/Dijkstra.ps1
Labels: enhancement, dijkstra

#4858 Add Minimum Spanning Tree in PowerShell
  archive/p/powershell/MinimumSpanningTree.ps1
Labels: enhancement, minimum spanning tree

#4859 Add Convex Hull in PowerShell
  archive/p/powershell/ConvexHull.ps1
Labels: enhancement, convex hull

#4860 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement

#4862 Add Base64 Encode Decode in C
  archive/c/c/base64-encode-decode.c
Labels: enhancement, base64 encode decode

#4872 Add Base64 Encode Decode in C#
  archive/c/c-sharp/Base64EncodeDecode.cs
Labels: enhancement, base64 encode decode

#4875 Add Dijkstra in C#
  archive/c/c-sharp/Dijkstra.cs
Labels: enhancement, dijkstra

#4876 Add Maximum Array Rotation in C#
  archive/c/c-sharp/MaximumArrayRotation.cs
Labels: enhancement, maximum array rotation

#4874 Add Depth First Search in C#
  archive/c/c-sharp/DepthFirstSearch.cs
Labels: enhancement, depth first search

#4873 Add Convex Hull in C#
  archive/c/c-sharp/ConvexHull.cs
Labels: enhancement, convex hull

#4880 [Automated Workflow] Add/Modify READMEs
  archive/c/c-sharp/README.md
Labels: enhancement
