Repository TheRenegadeCoder/sample-programs, pull requests merged in 2025-08, with the labels that each got.

#4883 Modify PHP Tests
  archive/p/php/duplicate-character-counter.php
  archive/p/php/fraction-math.php
  archive/p/php/josephus-problem.php
  archive/p/php/longest-palindromic-substring.php
  archive/p/php/longest-word.php
  archive/p/php/maximum-array-rotation.php
  archive/p/php/maximum-subarray.php
  archive/p/php/merge-sort.php
  archive/p/php/minimum-spanning-tree.php
  archive/p/php/palindromic-number.php
  archive/p/php/remove-all-whitespace.php
  archive/p/php/testinfo.yml
Labels: enhancement, tests

#4885 Modify Rust Tests
  archive/r/rust/testinfo.yml
Labels: enhancement, tests

#4886 [Automated Workflow] Add/Modify READMEs
  archive/p/php/README.md
  archive/r/rust/README.md
Labels: enhancement

#4890 [Automated Workflow] Add/Modify READMEs
  archive/m/m4/README.md
Labels: enhancement

#4898 [Automated Workflow] Add/Modify READMEs
  archive/m/m4/README.md
Labels: enhancement

#4902 Add Capitalize in M4
  archive/m/m4/capitalize.m4
Labels: enhancement, capitalize

#4904 Add Even Odd in M4
  archive/m/m4/even-odd.m4
Labels: enhancement, even odd

#4900 Add Reverse String in M4
  archive/m/m4/reverse-string.m4
Labels: enhancement, reverse string

#4910 Add Remove All Whitespace in M4
  archive/m/m4/remove-all-whitespace.m4
Labels: enhancement, remove all whitespace

#4912 [Automated Workflow] Add/Modify READMEs
  archive/m/m4/README.md
Labels: enhancement

#4914 Add Palindromic Number in M4
  archive/m/m4/palindromic-number.m4
Labels: enhancement, palindromic number

#4916 Add Prime Number in M4
  archive/m/m4/prime-number.m4
Labels: enhancement, prime number

#4921 Add Josephus Problem in M4
  archive/m/m4/josephus-problem.m4
Labels: enhancement, josephus problem

#4919 Add Roman Numeral in M4
  archive/m/m4/roman-numeral.m4
Labels: enhancement, roman numeral

#4923 Add Longest Word in M4
  archive/m/m4/longest-word.m4
Labels: enhancement, longest word

#4929 Add Fraction Math in M4
  archive/m/m4/fraction-math.m4
Labels: enhancement, fraction math

#4930 [Automated Workflow] Add/Modify READMEs
  archive/m/m4/README.md
Labels: enhancement

#4932 Add Longest Palindromic Substring in M4
  archive/m/m4/longest-palindromic-substring.m4
Labels: enhancement, longest palindromic substring

#4933 [Automated Workflow] Add/Modify READMEs
  archive/m/m4/README.md
Labels: enhancement
