Repository TheRenegadeCoder/sample-programs, pull requests merged in 2025-09, with the labels that each got.

#4939 Add Linear Search in M4
  archive/m/m4/linear-search.m4
Labels: enhancement, linear search

#4944 Add Maximum Subarray in M4
  archive/m/m4/maximum-subarray.m4
Labels: enhancement, maximum subarray

#4945 [Automated Workflow] Add/Modify READMEs
  archive/m/m4/README.md
Labels: enhancement

#4949 [Automated Workflow] Add/Modify READMEs
  archive/m/m4/README.md
Labels: enhancement

#4954 [Automated Workflow] Add/Modify READMEs
  archive/s/scheme/README.md
Labels: enhancement

#4956 Modify Tests in Scheme
  archive/s/scheme/testinfo.yml
Labels: enhancement, tests

#4957 [Automated Workflow] Add/Modify READMEs
  archive/s/scheme/README.md
Labels: enhancement
