Repository TheRenegadeCoder/sample-programs, pull requests merged in 2025-01, with the labels that each got.

#4153 Add Baklava in Janet
  archive/j/janet/baklava.janet
Labels: enhancement, baklava

#4155 Add Baklava in Io
  archive/i/io/Baklava.io
Labels: enhancement, baklava

#4157 Add Baklava in Idris
  archive/i/idris/Baklava.idr
Labels: enhancement, baklava

#4159 Add Baklava in Hack
  archive/h/hack/baklava.hh
Labels: enhancement, baklava

#4163 Add Baklava in Hobbes
  archive/h/hobbes/baklava.hob
Labels: enhancement, baklava

#4166 Add Baklava in Gerbil
  archive/g/gerbil/baklava.ss
Labels: enhancement, baklava

#4168 Add Baklava in Gluon
  archive/g/gluon/baklava.glu
Labels: enhancement, baklava

#4170 Add Baklava in Goby
  archive/g/goby/baklava.gb
Labels: enhancement, baklava

#4172 Add Baklava in Golo
  archive/g/golo/baklava.golo
Labels: enhancement, baklava

#4174 Add Baklava in Gosu
  archive/g/gosu/baklava.gsp
Labels: enhancement, baklava

#4179 Add Baklava in Grain
  archive/g/grain/baklava.gr
Labels: enhancement, baklava

#4182 Add Baklava in Gravity
  archive/g/gravity/baklava.gravity
Labels: enhancement, baklava

#4184 Add Baklava in Granule
  archive/g/granule/baklava.gr
  archive/g/granule/testinfo.yml
Labels: enhancement, baklava

#4180 [Automated Workflow] Add/Modify READMEs
  archive/g/gerbil/README.md
  archive/g/gluon/README.md
  archive/g/goby/README.md
  archive/g/golo/README.md
  archive/g/gosu/README.md
  archive/g/grain/README.md
  archive/g/granule/README.md
  archive/g/gravity/README.md
  archive/h/hack/README.md
  archive/h/haxe/README.md
  archive/h/hobbes/README.md
  archive/i/idris/README.md
  archive/i/io/README.md
  archive/j/janet/README.md
  archive/k/kitten/README.md
  archive/k/koka/README.md
Labels: enhancement

#4198 Modify Hello World in Flix
  archive/f/flix/hello-world.flix
  archive/f/flix/testinfo.yml
Labels: enhancement, hello world

#4207 Add Baklava in Frege
  archive/f/frege/Baklava.fr
Labels: enhancement, baklava

#4186 Add Baklava in F*
  archive/f/f-star/Baklava.fst
Labels: enhancement, baklava

#4188 Add Baklava in Factor
  archive/f/factor/baklava.factor
  archive/f/factor/testinfo.yml
Labels: enhancement, baklava

#4199 [Automated Workflow] Add/Modify READMEs
  archive/f/f-star/README.md
  archive/f/factor/README.md
  archive/f/flix/README.md
  archive/f/frege/README.md
Labels: enhancement

#4196 Add Baklava in Fetlang
  archive/f/fetlang/baklava.fet
Labels: enhancement, baklava

#4190 Add Baklava in Felix
  archive/f/felix/baklava.flx
Labels: enhancement, baklava

#4192 Add Baklava in Fennel
  archive/f/fennel/baklava.fnl
Labels: enhancement, baklava

#4194 Add Baklava in Ferret
  archive/f/ferret/baklava.clj
Labels: enhancement, baklava

#4201 Add Baklava in Flix
  archive/f/flix/baklava.flix
Labels: enhancement, baklava

#4203 Add Baklava in Formality
  archive/f/formality/baklava.fm
  archive/f/formality/testinfo.yml
Labels: enhancement, baklava

#4205 Add Baklava in Forth
  archive/f/forth/baklava.fth
Labels: enhancement, baklava

#4208 [Automated Workflow] Add/Modify READMEs
  archive/f/felix/README.md
  archive/f/fennel/README.md
  archive/f/ferret/README.md
  archive/f/fetlang/README.md
  archive/f/flix/README.md
  archive/f/formality/README.md
  archive/f/forth/README.md
Labels: enhancement

#4211 Add Baklava in Elvish
  archive/e/elvish/baklava.elv
  archive/e/elvish/testinfo.yml
Labels: enhancement, baklava

#4212 [Automated Workflow] Add/Modify READMEs
  archive/e/elvish/README.md
Labels: enhancement

#4214 [Automated Workflow] Add/Modify READMEs
  archive/e/elvish/README.md
Labels: enhancement

#4221 [Automated Workflow] Add/Modify READMEs
  archive/e/elvish/README.md
  archive/z/zig/README.md
Labels: enhancement

#4223 Add Fibonacci in Elvish
  archive/e/elvish/fibonacci.elv
Labels: enhancement, fibonacci

#4224 [Automated Workflow] Add/Modify READMEs
  archive/e/elvish/README.md
Labels: enhancement

#4216 Add Baklava in Egison
  archive/e/egison/baklava.egi
Labels: enhancement, baklava

#4226 Add Baklava in Eiffel
  archive/e/eiffel/baklava.e
Labels: enhancement, baklava

#4229 [Automated Workflow] Add/Modify READMEs
  archive/e/egison/README.md
  archive/e/eiffel/README.md
Labels: enhancement

#4237 feat: Add Rot13 in Elvish
  archive/e/elvish/rot13.elv
Labels: enhancement, rot13

#4238 [Automated Workflow] Add/Modify READMEs
  archive/e/elvish/README.md
Labels: enhancement

#4264 Add Factorial in Elvish
  archive/e/elvish/factorial.elv
Labels: enhancement, factorial

#4265 [Automated Workflow] Add/Modify READMEs
  archive/e/elvish/README.md
Labels: enhancement

#4271 [Automated Workflow] Add/Modify READMEs
  archive/j/javascript/README.md
Labels: enhancement

#4275 [Automated Workflow] Add/Modify READMEs
  archive/g/go/README.md
Labels: enhancement

#4278 [Automated Workflow] Add/Modify READMEs
  archive/i/io/README.md
Labels: enhancement

#4228 Rename Hack samples to .hack extension
  .gitattributes
  .github/workflows/codeql-analysis.yml
  archive/h/hack/baklava.hack
  archive/h/hack/hello-world.hack
  archive/h/hack/testinfo.yml
Labels: enhancement

#4233 Add Baklava in Emojicode
  archive/e/emojicode/baklava.emojic
Labels: enhancement, baklava

#4235 Add Baklava in Eta
  archive/e/eta/Baklava.hs
Labels: enhancement, baklava

#4240 Add Baklava in Dale
  archive/d/dale/baklava.dt
Labels: enhancement, baklava

#4273 Add Fizz Buzz in Fetlang
  archive/f/fetlang/fizz-buzz.fet
Labels: enhancement, fizz buzz

#4231 Add Baklava in Elena
  archive/e/elena/baklava.l
  archive/e/elena/testinfo.yml
Labels: enhancement, baklava

#4242 Add Baklava in Dg
  archive/d/dg/baklava.dg
Labels: enhancement, baklava

#4279 [Automated Workflow] Add/Modify READMEs
  archive/d/dale/README.md
  archive/d/dg/README.md
  archive/e/elena/README.md
  archive/e/emojicode/README.md
  archive/e/eta/README.md
  archive/f/fetlang/README.md
  archive/h/hack/README.md
Labels: enhancement

#4244 Add Baklava in Discus
  archive/d/discus/Baklava.ds
Labels: enhancement, baklava

#4246 Add Baklava in Dusk
  archive/d/dusk/baklava.dusk
Labels: enhancement, baklava

#4248 Add Baklava in C*
  archive/c/c-star/baklava.cx
Labels: enhancement, baklava

#4250 Add Baklava in C2
  archive/c/c2/baklava.c2
Labels: enhancement, baklava

#4252 Add Baklava in Carp
  archive/c/carp/baklava.carp
Labels: enhancement, baklava

#4256 Add Baklava in Chapel
  archive/c/chapel/Baklava.chpl
Labels: enhancement, baklava

#4285 Add Reverse String in Elvish
  archive/e/elvish/reverse-string.elv
Labels: enhancement, reverse string

#4284 [Automated Workflow] Add/Modify READMEs
  archive/c/carp/README.md
  archive/c/chapel/README.md
  archive/e/elvish/README.md
Labels: enhancement

#4288 Add Linear Search in Elvish
  archive/e/elvish/linear-search.elv
Labels: enhancement, linear search

#4289 [Automated Workflow] Add/Modify READMEs
  archive/e/elvish/README.md
Labels: enhancement

#4258 Add Baklava in Clojure
  archive/c/clojure/baklava.clj
Labels: enhancement, baklava

#4254 Add Baklava in Chaiscript
  archive/c/chaiscript/baklava.chai
Labels: enhancement, baklava

#4290 [Automated Workflow] Add/Modify READMEs
  archive/c/chaiscript/README.md
  archive/c/clojure/README.md
Labels: enhancement

#4292 [Automated Workflow] Add/Modify READMEs
  archive/e/elvish/README.md
Labels: enhancement

#4296 [Automated Workflow] Add/Modify READMEs
  archive/e/elvish/README.md
Labels: enhancement

#4260 Add Baklava in Cobol
  archive/c/cobol/baklava.cbl
Labels: enhancement, baklava

#4298 [Automated Workflow] Add/Modify READMEs
  archive/c/cobol/README.md
Labels: enhancement

#4262 Add Baklava in Cyclone
  archive/c/cyclone/baklava.cyc
Labels: enhancement, baklava

#4299 [Automated Workflow] Add/Modify READMEs
  archive/c/cyclone/README.md
Labels: enhancement

#4300 Add Job Sequencing in C
  archive/c/c/job-sequencing.c
Labels: enhancement, job sequencing

#4301 [Automated Workflow] Add/Modify READMEs
  archive/c/c/README.md
Labels: enhancement

#4304 [Automated Workflow] Add/Modify READMEs
  archive/c/c/README.md
Labels: enhancement

#4305 Add Capitalize in Elvish
  archive/e/elvish/capitalize.elv
Labels: enhancement, capitalize

#4306 [Automated Workflow] Add/Modify READMEs
  archive/e/elvish/README.md
Labels: enhancement

#4323 Add Fizz Buzz in Nim
  archive/n/nim/fizz_buzz.nim
Labels: enhancement, fizz buzz

#4322 Add Dijkstra in C
  archive/c/c/dijkstra.c
Labels: enhancement, dijkstra

#4320 [Automated Workflow] Add/Modify READMEs
  archive/c/c/README.md
  archive/h/haxe/README.md
  archive/n/nim/README.md
Labels: enhancement

#4333 Modify Tests in Batch
  archive/b/batch/testinfo.yml
Labels: enhancement, tests

#4334 [Automated Workflow] Add/Modify READMEs
  archive/b/batch/README.md
Labels: enhancement

#4339 [Automated Workflow] Add/Modify READMEs
  archive/d/d/README.md
  archive/g/gravity/README.md
Labels: enhancement

#4335 Add Fizz Buzz in Odin
  archive/o/odin/fizz-buzz.odin
Labels: enhancement, fizz buzz

#4342 [Automated Workflow] Add/Modify READMEs
  archive/f/forth/README.md
  archive/g/groovy/README.md
  archive/j/janet/README.md
  archive/o/ocaml/README.md
  archive/o/odin/README.md
Labels: enhancement

#4336 Add Fizz Buzz in Chapel
  archive/c/chapel/FizzBuzz.chpl
  archive/c/chapel/testinfo.yml
Labels: enhancement, fizz buzz

#4347 [Automated Workflow] Add/Modify READMEs
  archive/c/chapel/README.md
Labels: enhancement

#4348 Add Josephus Problem in C
  archive/c/c/josephus-problem.c
Labels: enhancement, josephus problem

#4349 [Automated Workflow] Add/Modify READMEs
  archive/c/c/README.md
Labels: enhancement

#4352 [Automated Workflow] Add/Modify READMEs
  archive/c/c/README.md
  archive/w/wren/README.md
Labels: enhancement

#4356 Add Fizz Buzz in ArkScript
  archive/a/arkscript/fizz-buzz.ark
Labels: enhancement, fizz buzz

#4357 [Automated Workflow] Add/Modify READMEs
  archive/a/arkscript/README.md
Labels: enhancement

#4367 Add Fizz Buzz in Pony
  archive/p/pony/fizz-buzz.pony
Labels: enhancement, fizz buzz

#4370 Add Fizz Buzz in Eiffel
  archive/e/eiffel/fizz_buzz.e
Labels: enhancement, fizz buzz

#4361 [Automated Workflow] Add/Modify READMEs
  archive/b/ballerina/README.md
  archive/c/c/README.md
  archive/c/cobol/README.md
  archive/e/eiffel/README.md
  archive/f/fennel/README.md
  archive/p/pony/README.md
Labels: enhancement

#4372 Modify CodeQL build script to use testinfo.yml
  .github/workflows/codeql-analysis.yml
  scripts/build_codeql_language.py
  scripts/get_codeql_languages.py
Labels: enhancement, tests

#4363 Add Sleep Sort in C
  archive/c/c/sleep-sort.c
  archive/c/c/testinfo.yml
Labels: enhancement, sleep sort

#4373 [Automated Workflow] Add/Modify READMEs
  archive/c/c/README.md
Labels: enhancement

#4377 Modify C2 Tests
  archive/c/c2/testinfo.yml
Labels: enhancement, tests

#4378 [Automated Workflow] Add/Modify READMEs
  archive/c/c2/README.md
Labels: enhancement

#4312 Add Baklava in Boo
  archive/b/boo/baklava.boo
Labels: enhancement, baklava

#4308 Add Baklava in Baik
  archive/b/baik/baklava.ina
Labels: enhancement, baklava

#4317 Add Baklava in Batch
  archive/b/batch/Baklava.cmd
Labels: enhancement, baklava

#4310 Add Baklava in Ballerina
  archive/b/ballerina/baklava.bal
Labels: enhancement, baklava

#4380 Add Baklava in Agda
  archive/a/agda/Baklava.agda
  archive/a/agda/testinfo.yml
Labels: enhancement, baklava

#4314 Add Fizz Buzz in Batch
  archive/b/batch/FizzBuzz.cmd
Labels: enhancement, fizz buzz

#4346 Add Baklava in Bracmat
  archive/b/bracmat/baklava.bra
  archive/b/bracmat/testinfo.yml
Labels: enhancement, baklava

#4382 [Automated Workflow] Add/Modify READMEs
  archive/a/agda/README.md
  archive/a/arkscript/README.md
  archive/b/baik/README.md
  archive/b/ballerina/README.md
  archive/b/batch/README.md
  archive/b/boo/README.md
  archive/b/bracmat/README.md
Labels: enhancement

#4388 Add File Input Output in Wren
  archive/w/wren/file-input-output.wren
Labels: enhancement, file input output

#4390 Add Reverse String in Wren
  archive/w/wren/reverse-string.wren
Labels: enhancement, reverse string

#4385 [Automated Workflow] Add/Modify READMEs
  archive/w/wren/README.md
Labels: enhancement

#4398 [Automated Workflow] Add/Modify READMEs
  archive/c/c/README.md
Labels: enhancement

#4402 [Automated Workflow] Add/Modify READMEs
  archive/o/opa/README.md
Labels: enhancement

#4404 Modify Mirth Tests
  archive/m/mirth/hello-world.mth
  archive/m/mirth/testinfo.yml
Labels: enhancement, tests

#4405 [Automated Workflow] Add/Modify READMEs
  archive/m/mirth/README.md
Labels: enhancement

#4407 Add Baklava in Mirth
  archive/m/mirth/baklava.mth
Labels: enhancement, baklava

#4408 [Automated Workflow] Add/Modify READMEs
  archive/m/mirth/README.md
Labels: enhancement

#4411 [Automated Workflow] Add/Modify READMEs
  archive/w/wren/README.md
Labels: enhancement

#4413 [Automated Workflow] Add/Modify READMEs
  archive/w/wren/README.md
Labels: enhancement

#4415 Modify Tests in Tex
  archive/t/tex/fizz-buzz.tex
  archive/t/tex/hello-world.tex
  archive/t/tex/testinfo.yml
Labels: enhancement, tests

#4416 [Automated Workflow] Add/Modify READMEs
  archive/t/tex/README.md
Labels: enhancement

#4418 Add Baklava in Tex
  archive/t/tex/baklava.tex
Labels: enhancement, baklava

#4419 [Automated Workflow] Add/Modify READMEs
  archive/t/tex/README.md
Labels: enhancement
