Repository TheRenegadeCoder/sample-programs, pull requests merged in 2025-05, with the labels that each got.

#4705 Modify Tests in Javascript
  archive/j/javascript/convex-hull.js
  archive/j/javascript/dijkstra.js
  archive/j/javascript/factorial.js
  archive/j/javascript/fibonacci.js
  archive/j/javascript/hello-world.js
  archive/j/javascript/insertion-sort.js
  archive/j/javascript/job-sequencing.js
  archive/j/javascript/linear-search.js
  archive/j/javascript/merge-sort.js
  archive/j/javascript/prime-number.js
  archive/j/javascript/quick-sort.js
  archive/j/javascript/quine.js
  archive/j/javascript/selection-sort.js
  archive/j/javascript/testinfo.yml
Labels: enhancement, tests

#4706 [Automated Workflow] Add/Modify READMEs
  archive/j/javascript/README.md
Labels: enhancement

#4711 Modify PowerShell Tests
  archive/p/powershell/testinfo.yml
Labels: enhancement, tests

#4712 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement

#4713 Add Base64 Encode Decode in PowerShell
  archive/p/powershell/Base64EncodeDecode.ps1
Labels: enhancement, base64 encode decode

#4714 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement

#4720 Add File Input Output in PowerShell
  archive/p/powershell/FileInputOutput.ps1
Labels: enhancement, file input output

#4722 Add Swift to CodeQL again
  .github/CONTRIBUTING.md
  .github/workflows/codeql-analysis.yml
  scripts/build_codeql_language.py
  scripts/get_codeql_languages.py
Labels: enhancement, tests

#4725 Add CodeQL scanning for GitHub Actions
  .github/workflows/codeql-analysis.yml
  scripts/get_codeql_languages.py
Labels: enhancement, security

#4718 Add Rot13 in PowerShell
  archive/p/powershell/Rot13.ps1
Labels: enhancement, rot13

#4723 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement

#4727 Try to fix security issues on GitHub workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/greetings.yml
  .github/workflows/readme.yml
  .github/workflows/test-suite.yml
Labels: security

#4717 Add Quine in PowerShell
  archive/p/powershell/Quine.ps1
Labels: enhancement, quine

#4728 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement

#4732 Add Capitalize in PowerShell
  archive/p/powershell/Capitalize.ps1
Labels: enhancement, capitalize

#4733 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement

#4743 Add Duplicate Character Counter in PowerShell
  archive/p/powershell/DuplicateCharacterCounter.ps1
Labels: enhancement, duplicate character counter

#4730 Add Even Odd in PowerShell
  archive/p/powershell/EvenOdd.ps1
Labels: enhancement, even odd

#4735 Add Prime Number in PowerShell
  archive/p/powershell/PrimeNumber.ps1
Labels: enhancement, prime number

#4737 Add Factorial in PowerShell
  archive/p/powershell/Factorial.ps1
Labels: enhancement, factorial

#4746 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement

#4739 Add Fibonacci in PowerShell
  archive/p/powershell/Fibonacci.ps1
Labels: enhancement, fibonacci

#4749 [Automated Workflow] Add/Modify READMEs
  archive/p/powershell/README.md
Labels: enhancement
