Repository TheRenegadeCoder/sample-programs, pull requests merged in 2025-03, with the labels that each got.

#4530 Modify TI-Basic Tests
  archive/t/ti-basic/testinfo.yml
Labels: enhancement, tests

#4535 Update to ronbun 0.18.1
  poetry.lock
  pyproject.toml
Labels: bug

#4538 Run all workflows when pyproject.toml or poetry.lock changes
  .github/workflows/codeql-analysis.yml
  .github/workflows/readme.yml
  .github/workflows/test-suite.yml
  scripts/get_codeql_languages.py
Labels: bug

#4531 [Automated Workflow] Add/Modify READMEs
  archive/t/ti-basic/README.md
Labels: enhancement

#4539 Upgraded Poetry to 2.1.1
  .github/CONTRIBUTING.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/readme.yml
  .github/workflows/test-suite.yml
  poetry.lock
  pyproject.toml
  scripts/build_codeql_language.py
  scripts/get_codeql_languages.py
Labels: dependencies

#4542 [Automated Workflow] Add/Modify READMEs
  archive/a/arkscript/README.md
Labels: enhancement

#4546 Add repo configuration and replace tj-actions/changed-files
  .github/workflows/codeql-analysis.yml
  .github/workflows/readme.yml
  .github/workflows/test-suite.yml
  repo-config.yml
  scripts/get_codeql_languages.py
  scripts/run_tests.py
Labels: enhancement, security

#4549 Update ronbun to 0.9.0
  poetry.lock
  pyproject.toml
Labels: dependencies

#4551 Run CodeQL for all samples in a language
  .github/workflows/codeql-analysis.yml
  scripts/build_codeql_language.py
  scripts/get_codeql_languages.py
Labels: bug

#4555 Run CodeQL when testinfo.yml changes
  .github/workflows/codeql-analysis.yml
  scripts/get_codeql_languages.py
Labels: enhancement

#4523 Add new project: base64 encode decode
  .glotter.yml
  archive/p/python/base64_encode_decode.py
  archive/p/python/prime_number.py
  archive/p/python/testinfo.yml
  poetry.lock
  pyproject.toml
Labels: enhancement

#4511 Add Longest Word in Ruby
  archive/r/ruby/longest-word.rb
Labels: enhancement, longest word

#4559 [Automated Workflow] Add/Modify READMEs
  archive/l/lua/README.md
  archive/r/ruby/README.md
Labels: enhancement

#4574 Add Base64 Encode Decode in Algol68
  archive/a/algol68/base64-encode-decode.alg
Labels: enhancement, base64 encode decode

#4578 Add Base64 Encode Decode in Zig
  archive/z/zig/base64-encode-decode.zig
Labels: enhancement, base64 encode decode

#4576 Add Base64 Encode Decode in Go
  archive/g/go/base64-encode-decode.go
Labels: base64 encode decode

#4575 [Automated Workflow] Add/Modify READMEs
  archive/a/algol68/README.md
  archive/g/go/README.md
  archive/z/zig/README.md
Labels: enhancement

#4582 Add Base64 Encode Decode in PHP
  archive/p/php/base64-encode-decode.php
Labels: enhancement, base64 encode decode

#4579 Add Base64 Encode Decode in Beef
  archive/b/beef/Base64EncodeDecode.bf
Labels: enhancement, base64 encode decode

#4581 Add Base64 Encode Decode in Euphoria
  archive/e/euphoria/base64_encode_decode.eu
Labels: enhancement, base64 encode decode

#4583 [Automated Workflow] Add/Modify READMEs
  archive/b/beef/README.md
  archive/e/euphoria/README.md
  archive/p/php/README.md
Labels: enhancement

#4580 Add Base64 Encode Decode in Commodore Basic
  archive/c/commodore-basic/base64-encode-decode.bas
Labels: enhancement, base64 encode decode

#4584 [Automated Workflow] Add/Modify READMEs
  archive/c/commodore-basic/README.md
Labels: enhancement

#4585 Add Base64 Encode Decode in Rust
  archive/r/rust/base64-encode-decode.rs
Labels: enhancement, base64 encode decode

#4586 [Automated Workflow] Add/Modify READMEs
  archive/r/rust/README.md
Labels: enhancement
