Repository TheRenegadeCoder/sample-programs, pull requests merged in 2025-04, with the labels that each got.

#4592 Modify Brainfuck Tests
  archive/b/brainfuck/testinfo.yml
Labels: enhancement, tests

#4595 Add Hello World in Awk
  archive/a/awk/hello-world.awk
  archive/a/awk/testinfo.yml
Labels: enhancement, hello world

#4590 Add Base64 Encode Decode in Bash
  archive/b/bash/base64-encode-decode.sh
Labels: enhancement, base64 encode decode

#4495 Add Sleep Sort in Scala
  .gitignore
  archive/s/scala/SleepSort.scala
Labels: enhancement, sleep sort

#4617 [Automated Workflow] Add/Modify READMEs
  archive/s/scala/README.md
Labels: enhancement

#4608 Add Capitalize in Awk
  archive/a/awk/capitalize.awk
Labels: enhancement, capitalize

#4609 Add Duplicate Character Counter in Awk
  archive/a/awk/duplicate-character-counter.awk
Labels: enhancement, duplicate character counter

#4610 Add Even Odd in Awk
  archive/a/awk/even-odd.awk
Labels: enhancement, even odd

#4611 Add File Input Output in Awk
  archive/a/awk/file-input-output.awk
Labels: enhancement, file input output

#4622 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4612 Add Fizz Buzz in Awk
  archive/a/awk/fizz-buzz.awk
Labels: enhancement, fizz buzz

#4623 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4621 Add Palindromic Number in Awk
  archive/a/awk/palindromic-number.awk
Labels: enhancement, palindromic number

#4624 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4619 Add Prime Number in Awk
  archive/a/awk/prime-number.awk
Labels: enhancement, prime number

#4615 Add Reverse String in Awk
  archive/a/awk/reverse-string.awk
Labels: enhancement, reverse string

#4625 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4639 Add Depth First Search in Awk
  archive/a/awk/depth-first-search.awk
Labels: enhancement, depth first search

#4640 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4642 Modify Quine Test
  .glotter.yml
  archive/b/befunge/quine.be
  archive/c/commodore-basic/testinfo.yml
  poetry.lock
  pyproject.toml
Labels: enhancement, quine, tests

#4627 Add Factorial in Awk
  archive/a/awk/factorial.awk
Labels: enhancement, factorial

#4629 Add Fibonacci in Awk
  archive/a/awk/fibonacci.awk
Labels: enhancement, fibonacci

#4631 Add Josephus Problem in Awk
  archive/a/awk/josephus-problem.awk
Labels: enhancement, josephus problem

#4635 Add Remove All Whitespace in Awk
  archive/a/awk/remove-all-whitespace.awk
Labels: enhancement, remove all whitespace

#4633 Add Longest Word in Awk
  archive/a/awk/longest-word.awk
Labels: enhancement, longest word

#4637 Add Binary Search in Awk
  archive/a/awk/binary-search.awk
Labels: enhancement, binary search

#4645 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4647 Modify Awk to use local variables
  archive/a/awk/baklava.awk
  archive/a/awk/binary-search.awk
  archive/a/awk/depth-first-search.awk
  archive/a/awk/duplicate-character-counter.awk
  archive/a/awk/factorial.awk
  archive/a/awk/fibonacci.awk
  archive/a/awk/josephus-problem.awk
  archive/a/awk/linear-search.awk
  archive/a/awk/longest-word.awk
  archive/a/awk/palindromic-number.awk
  archive/a/awk/prime-number.awk
  archive/a/awk/remove-all-whitespace.awk
  archive/a/awk/reverse-string.awk
  archive/a/awk/rot13.awk
Labels: bug

#4650 Add Bubble Sort in Awk
  archive/a/awk/bubble-sort.awk
Labels: enhancement, bubble sort

#4651 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4653 Add Fizz Buzz in Boo
  archive/b/boo/fizz-buzz.boo
Labels: enhancement, fizz buzz

#4666 Modify Tests in Awk
  archive/a/awk/palindromic-number.awk
  archive/a/awk/testinfo.yml
Labels: enhancement, tests

#4667 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4656 Add Insertion Sort in Awk
  archive/a/awk/insertion-sort.awk
Labels: enhancement, insertion sort

#4658 Add Selection Sort in Awk
  archive/a/awk/selection-sort.awk
Labels: enhancement, selection sort

#4660 Add Quick Sort in Awk
  archive/a/awk/quick-sort.awk
Labels: enhancement, quick sort

#4664 Add Sleep Sort in Awk
  archive/a/awk/sleep-sort.awk
Labels: enhancement, sleep sort

#4668 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4670 Add Roman Numeral in Awk
  archive/a/awk/roman-numeral.awk
Labels: enhancement, roman numeral

#4671 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4677 Add Maximum Subarray in Awk
  archive/a/awk/maximum-subarray.awk
Labels: enhancement, maximum subarray

#4675 Add Maximum Array Rotation in Awk
  archive/a/awk/maximum-array-rotation.awk
Labels: enhancement, maximum array rotation

#4678 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4673 Add Fraction Math in Awk
  archive/a/awk/fraction-math.awk
Labels: enhancement, fraction math

#4681 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4691 Modify Depth First Search in Awk
  archive/a/awk/depth-first-search.awk
Labels: enhancement, depth first search

#4692 [Automated Workflow] Add/Modify READMEs
  archive/w/whitespace/README.md
Labels: enhancement

#4683 Add Base64 Encode Decode in Awk
  archive/a/awk/base64-encode-decode.awk
Labels: enhancement, base64 encode decode

#4694 Add Dijkstra in Awk
  archive/a/awk/dijkstra.awk
Labels: enhancement, dijkstra

#4689 Add Longest Common Subsequence in Awk
  archive/a/awk/longest-common-subsequence.awk
Labels: enhancement, longest common subsequence

#4685 Add Job Sequencing in Awk
  archive/a/awk/job-sequencing.awk
Labels: enhancement, job sequencing

#4695 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4687 Add Longest Palindromic Substring in Awk
  archive/a/awk/longest-palindromic-substring.awk
Labels: enhancement, longest palindromic substring

#4699 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4701 Add Convex Hull in Awk
  archive/a/awk/convex-hull.awk
Labels: enhancement, convex hull

#4702 [Automated Workflow] Add/Modify READMEs
  archive/a/awk/README.md
Labels: enhancement

#4704 Update to poetry 2.1.2
  repo-config.yml
Labels: enhancement, dependencies
