Repository TheRenegadeCoder/sample-programs, pull requests merged in 2025-02, with the labels that each got.

#4423 Add Baklava in TI Basic
  archive/t/ti-basic/baklava.tiprogram
Labels: enhancement, baklava

#4424 [Automated Workflow] Add/Modify READMEs
  archive/t/ti-basic/README.md
Labels: enhancement

#4428 Modify Tests in TI Basic
  archive/t/ti-basic/testinfo.yml
Labels: enhancement, tests

#4429 [Automated Workflow] Add/Modify READMEs
  archive/t/ti-basic/README.md
Labels: enhancement

#4426 Add Capitalize in TI Basic
  archive/t/ti-basic/capitalize.tiprogram
Labels: enhancement, capitalize

#4431 Add Reverse String in TI Basic
  archive/t/ti-basic/reverse-string.tiprogram
Labels: enhancement, reverse string

#4433 Add Rot13 in TI Basic
  archive/t/ti-basic/rot13.tiprogram
Labels: enhancement, rot13

#4434 [Automated Workflow] Add/Modify READMEs
  archive/t/ti-basic/README.md
Labels: enhancement

#4436 Modify Tests in TI Basic
  archive/t/ti-basic/testinfo.yml
Labels: enhancement, tests

#4439 Add Even Odd in TI Basic
  archive/t/ti-basic/even-odd.tiprogram
Labels: enhancement, even odd

#4440 [Automated Workflow] Add/Modify READMEs
  archive/t/ti-basic/README.md
Labels: enhancement

#4445 [Automated Workflow] Add/Modify READMEs
  archive/t/ti-basic/README.md
Labels: enhancement

#4448 Modify Tests in TI Basic
  archive/t/ti-basic/baklava.bas
  archive/t/ti-basic/capitalize.bas
  archive/t/ti-basic/even-odd.bas
  archive/t/ti-basic/fizz-buzz.bas
  archive/t/ti-basic/hello-world.bas
  archive/t/ti-basic/palindromic-number.bas
  archive/t/ti-basic/prime-number.bas
  archive/t/ti-basic/reverse-string.bas
  archive/t/ti-basic/rot13.bas
  archive/t/ti-basic/testinfo.yml
Labels: enhancement, tests

#4449 [Automated Workflow] Add/Modify READMEs
  archive/t/ti-basic/README.md
Labels: enhancement

#4455 Add Fibonacci in TI Basic
  archive/t/ti-basic/fibonacci.bas
Labels: enhancement, fibonacci

#4456 [Automated Workflow] Add/Modify READMEs
  archive/t/ti-basic/README.md
Labels: enhancement

#4451 Add Duplicate Character Counter in TI Basic
  archive/t/ti-basic/duplicate-character-counter.bas
Labels: enhancement, duplicate character counter

#4457 [Automated Workflow] Add/Modify READMEs
  archive/t/ti-basic/README.md
Labels: enhancement

#4459 Modify TI Basic Tests
  archive/t/ti-basic/testinfo.yml
Labels: enhancement, tests

#4462 Add Josephus Problem in TI Basic
  archive/t/ti-basic/josephus-problem.bas
Labels: enhancement, josephus problem

#4460 [Automated Workflow] Add/Modify READMEs
  archive/t/ti-basic/README.md
Labels: enhancement

#4093 Add Template Additions and Modifications to Repo
  .github/ISSUE_TEMPLATE/documentation.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Labels: enhancement

#4481 [Automated Workflow] Add/Modify READMEs
  archive/j/julia/README.md
  archive/p/perl/README.md
Labels: enhancement

#4483 [Automated Workflow] Add/Modify READMEs
  archive/k/kotlin/README.md
Labels: enhancement

#4486 [Automated Workflow] Add/Modify READMEs
  archive/r/ruby/README.md
Labels: enhancement

#4491 [Automated Workflow] Add/Modify READMEs
  archive/c/crystal/README.md
  archive/f/fortran/README.md
Labels: enhancement

#4498 [Automated Workflow] Add/Modify READMEs
  archive/c/c-plus-plus/README.md
  archive/g/go/README.md
  archive/m/moonscript/README.md
  archive/r/raku/README.md
  archive/w/wren/README.md
Labels: enhancement

#4493 Add Longest Word in Perl
  archive/p/perl/longest-word.pl
Labels: enhancement, longest word

#4504 [Automated Workflow] Add/Modify READMEs
  archive/r/rexx/README.md
Labels: enhancement

#4518 Add Duplicate Character Counter in Lua
  archive/l/lua/duplicate-character-counter.lua
Labels: enhancement, duplicate character counter

#4513 Add Palindromic Number in C#
  archive/c/c-sharp/PalindromicNumber.cs
Labels: enhancement, palindromic number

#4514 Add Maximum Array Rotation in Go
  archive/g/go/maximum-array-rotation.go
Labels: enhancement, maximum array rotation

#4516 Add Longest Word in Swift
  archive/s/swift/longest-word.swift
Labels: enhancement, longest word

#4519 [Automated Workflow] Add/Modify READMEs
  archive/c/c-sharp/README.md
  archive/g/go/README.md
  archive/k/kotlin/README.md
  archive/l/lua/README.md
  archive/s/swift/README.md
  archive/v/visual-basic/README.md
Labels: enhancement

#4525 Modify Tests in Elena
  archive/e/elena/testinfo.yml
Labels: enhancement, tests

#4526 [Automated Workflow] Add/Modify READMEs
  archive/e/elena/README.md
Labels: enhancement
