Repository TheRenegadeCoder/sample-programs, pull requests merged in 2025-10, with the labels that each got.

#4966 Add Insertion Sort in M4
  archive/m/m4/insertion-sort.m4
Labels: enhancement, hacktoberfest, insertion sort

#4981 [Automated Workflow] Add/Modify READMEs
  archive/m/m4/README.md
Labels: enhancement

#4978 Add Longest Word in Dart
  archive/d/dart/longest-word.dart
Labels: enhancement, hacktoberfest, longest word

#4977 Add Palindromic Number in Dart
  archive/d/dart/palindromic-number.dart
Labels: enhancement, hacktoberfest, palindromic number

#4975 Add Factorial in Dart
  archive/d/dart/factorial.dart
Labels: enhancement, hacktoberfest, factorial

#4980 Add Duplicate Character Counter in Dart
  archive/d/dart/duplicate-character-counter.dart
Labels: enhancement, hacktoberfest, duplicate character counter

#4979 Add Remove All Whitespace in Dart
  archive/d/dart/remove-all-whitespace.dart
Labels: enhancement, hacktoberfest, remove all whitespace

#4990 [Automated Workflow] Add/Modify READMEs
  archive/d/dart/README.md
Labels: enhancement

#4996 Add Base64 Encode Decode in JavaScript
  archive/j/javascript/base64-encode-decode.js
Labels: enhancement, hacktoberfest, base64 encode decode

#4997 [Automated Workflow] Add/Modify READMEs
  archive/j/javascript/README.md
Labels: enhancement

#4984 Add Merge Sort in M4
  archive/m/m4/merge-sort.m4
Labels: enhancement, hacktoberfest, merge sort

#4992 Add Capitalize in Gnu Make
  archive/g/gnu-make/capitalize.mk
Labels: enhancement, hacktoberfest, capitalize

#4995 Add Remove All Whitespace in Gnu Make
  archive/g/gnu-make/remove-all-whitespace.mk
Labels: enhancement, hacktoberfest, remove all whitespace

#5004 Add Remove All Whitespace in Kotlin
  archive/k/kotlin/RemoveAllWhitespace.kt
Labels: enhancement, hacktoberfest, remove all whitespace

#5000 [Automated Workflow] Add/Modify READMEs
  archive/g/gnu-make/README.md
  archive/k/kotlin/README.md
  archive/m/m4/README.md
Labels: enhancement

#5050 Add Duplicate Character Counter in Kotlin
  archive/k/kotlin/DuplicateCharacterCounter.kt
Labels: enhancement, hacktoberfest, duplicate character counter

#5052 Add Duplicate Character Counter in Tcl
  archive/t/tcl/duplicate-character-counter.tcl
Labels: enhancement, hacktoberfest

#5053 Add Even Odd in Tcl
  archive/t/tcl/even-odd.tcl
Labels: enhancement, hacktoberfest, even odd
